[2021-03-09 02:19] aapeliv commented on #731
Yes, that would work too, and is probably cleaner given the rest of the API, or you can just use an empty string (but present) to denote null

[2021-03-09 08:18] CouchersBot opened #764 "pressing enter to search a location on the map does not start seach"
Subject: pressing enter to search a location on the map does not start seach
Description:
When I enter in a city and state and hit enter on the keyboard of my phone, it doesnt search. When I tap the magnifying glass icon it performs the search and finds the location successfully

Steps:
Typed in Madison, Wisconsin into the map search under create new place and hit enter. It wouldn't search until I

[2021-03-09 17:27] lucaslcode opened #767 "Latest maplibre-gl has broken import"
It uses `maplibre-gl.css` instead of `mapbox-gl.css`. To fix this, update to the latest version in `package.json` and change the import

[2021-03-09 22:39] vrouilhac commented on #767
Hey, can I fix this line in dependencies? :blush:

[2021-03-09 23:02] lucaslcode commented on #767
Sure, I'm not 100% sure what I said will work though :D

[2021-03-09 23:22] lucaslcode opened #768 "Requests Beta UX"
Post-beta, we plan to unify requests and messages, Until then, we need to have good UX to overcome some design limitations:
- You can only send messages to friends
- You can't send messages to a closed request (cancelled, rejected, etc) (this is intentional)
- You can't send messages to a confirmed request (this should probably be changed? Or maybe users should be pointed towards messages?)

 ~~I

[2021-03-09 23:38] vrouilhac commented on #767
I’ll make my research 👌

[2021-03-10 00:11] CouchersBot opened #770 "deleting letters in map searchbar causes the map to disappear briefly as it reloads"
Subject: deleting letters in map searchbar causes the map to disappear briefly as it reloads
Description:
The map briefly disappears with every letter you delete as you type in the search bar of the map. For example, if I type in Madison, Wisconsin if I begin deleting letters it will make the map reload (and disappear) with each letter I delete.

Steps:
I clicked create new place and then started

[2021-03-10 00:23] jesseallhands commented on #764
I wanted to expound on this issue: Even if I click the icon instead of hit enter key to perform the search, it requires me to click twice to actually perform the search.  Here's what happens:

1. Type in Madison, Wisconsin
2. Click search icon
3. Results appear in drop-down menu
4. I click the correct result.
5. Map reloads but nothing else happens
6. Click search icon again
7. Results appear in d

[2021-03-10 00:34] CouchersBot opened #771 "An unknown backend error occurred when trying to create a new place"
Subject: An unknown backend error occurred when trying to create a new place
Description:
Tried to create a new place "Madison, Wisconsin" with place content of "test content". I got the "An unknown backend error occurred. Please consider reporting a but!" error message.

Steps:
Created the page as described above, went to a different tab for a while, came back and clicked "create page" and got th

[2021-03-10 00:34] jesseallhands commented on #771
![image](https://user-images.githubusercontent.com/79384268/110557391-1f4f2700-8106-11eb-90e6-9eee54568c0e.png)

[2021-03-10 00:51] aapeliv commented on #771
Log from backend:

[code]

[2021-03-10 01:16] #731 closed, assigned to dnalhg

[2021-03-10 08:09] lucaslcode commented on #764
#758

[2021-03-10 09:22] vrouilhac commented on #767
@lucaslcode

I checked the documentation and they seem new working on this. And support for Javascript frameworks seems to be in progress.
Though can you tell me where the breaks seem to appear?
Also, I've struggled to understand the backend :sweat_smile: the data are stored locally? if I want to create a test account to check on the frontend?

[2021-03-10 13:50] CouchersBot opened #772 "Email notification for messages says "Friend Requests""
Subject: Email notification for messages says "Friend Requests"
Description:
When I get an email notification for new messages, the big purple button says "Freind Requests", when I don't even have new friend requests. It should say "See messages"

Steps:
The crime of receiving a message

Results:

Backend version: develop-72123fb2
Frontend version: develop-bc5c6937
User Agent: Mozilla/5.0 (X11; Ub

[2021-03-10 14:02] ItsiW commented on #752
I reckon leave both greyed out on the profile and we can write some copy for the (?) next to them.

Draft:

Community Standing
"coming soon: a general score to indicate how other members of the community have trusted this person"

Verification
"coming soon: this person's documents have been verified, they are a real person"

[2021-03-10 14:09] lucaslcode commented on #767
Someone got an error on the line `import "maplibre-js/dust/mapbox-gl.js";`. I believe it's because this file was renamed in the latest version.

Re the backend, you can follow the instructions in `app/readme.md` to run it locally, but it needs docker (and WSL if you're on windows).

Alternatively, you can use the live preview backend by using  `REACT_APP_API_BASE_URL="https://dev-api.coucher.org"

[2021-03-10 14:14] vrouilhac commented on #767
I didn't have struggles to run it, it runs good and I already have docker as I use it. My question wasn't clear enough, is it running locally so I can create an account locally to test the website or not? Because I tried using fake email to test the frontend but couldn't do it with test@test.com

Edit: After making some research I found that the current version in package Is `"maplibre-gl": "^1.13

[2021-03-10 15:06] lucaslcode commented on #767
If you check the docker logs for the backend container, it will tell you the generated links for sign-up/login since it doesn't send an email in dev

[2021-03-10 22:41] lucaslcode commented on #756
@ItsiW  thoughts?

[2021-03-10 22:41] lucaslcode opened #774 "Change login/signup picture"
It is time to source these @ItsiW

[2021-03-11 00:12] andreaowu commented on #756
If this is just for soft launch, what about
[code]

[2021-03-11 00:31] ItsiW commented on #756
Yeah something simple like that is good for now. We might want a little explanation about transition from alpha for our current users. I'll work on some copy for beta.

For listing features I was thinking of creating a priority order page on the site which we can link to, that way we can signal things like hangouts and moderation tools are in the scope

[2021-03-11 00:32] andreaowu commented on #763
Overlap with #759, closing for duplicate.

[2021-03-11 00:32] #763 closed, assigned to andreaowu

[2021-03-11 00:59] darrenvong commented on #759
This seems like a much better place than solving in #667. I will pursue with hiding the buttons instead in that!

[2021-03-11 01:07] andreaowu commented on #759
Should this issue be actually 3 different issues (send a host request, message, friend request)? Seems like a lot to pack into 1.

[2021-03-11 01:16] darrenvong commented on #759
Yeah or at least it'd make sense to split into at least 3 PRs - makes them more reviewable that way so more likely to be able to get it approved quicker if there are less things to check.

[2021-03-11 23:45] lucaslcode commented on #767
Do you want to make a PR for the change?

[2021-03-12 07:41] vrouilhac commented on #767
Sorry I was busy yesterday, today I want to make more test and check if it seems good and I'll make a PR.

[2021-03-12 14:30] andreaowu commented on #762
Use [UserSummary](https://github.com/Couchers-org/couchers/blob/997e12a688b91b8c212279d0cef8bf3d8e7ceccb/app/frontend/src/components/UserSummary.tsx) to do this

[2021-03-13 00:45] #667 closed, assigned to darrenvong

[2021-03-13 01:52] darrenvong commented on #753
Closed by #765

[2021-03-13 01:52] #753 closed, assigned to nobody

[2021-03-13 01:58] darrenvong commented on #761
Seems to make sense for me to wrap this up too since I'm already in this area

[2021-03-13 13:11] vrouilhac commented on #754
Hey @lucaslcode, I'd like to see if I can solve this :blush:

[2021-03-13 13:20] lucaslcode commented on #754
I think this is solved in #766

[2021-03-13 17:26] andreaowu commented on #752
Is there a way to differentiate between a "greyed out" look vs an actual grey bar (ie if our actual implementation _was_ a grey bar, how would that look different than the greyed out version)? There's no interaction for these so it's hard to differentiate, so I'm going to just delete it for now.

[2021-03-14 00:35] lucaslcode opened #789 "EditUserLocationMap search with no results doesn't say "No results""
Couldn't figure out why this happens, it should work by default. Setting the `noOptionsText` prop had no effect. I can see the popup being added to the end of the DOM body, but it doesn't contain any text.

![image](https://user-images.githubusercontent.com/32044095/111053613-19867800-845d-11eb-9c3b-fc18731f18a2.png)

[2021-03-14 01:28] #772 closed, assigned to andreaowu

[2021-03-14 03:25] andreaowu commented on #757
There aren't any NavButtons on this page

Which page is this?

[2021-03-14 06:34] andreaowu commented on #774
Have we decided on what we're doing for the photo? Happy to do the update it in code if we did!

[2021-03-14 06:36] andreaowu commented on #756
When those are ready, please drop it here and I'll get it changed :)

[2021-03-14 08:56] lucaslcode commented on #757
Buttons on GroupChatView / HostRequestView. I think there is a component called HeaderNavButton

New request page is /messages/request/new/:userId but it will be fixed in #751

[2021-03-14 12:23] #754 closed, assigned to andreaowu

[2021-03-14 12:23] #760 closed, assigned to andreaowu

[2021-03-14 13:26] andreaowu opened #792 "Host Request"
[ ] Add "Request" button to `Overview.tsx`
[ ] Panel with request details

[2021-03-14 13:27] andreaowu opened #793 "Message Request"
Add message button to `Overview.tsx`

May require a new route like /messages/user/:userId that copies /messages/chats/:messageId but uses GetDirectMessage and asks to create a DM with that user if one doesn't exist already

[2021-03-14 13:28] andreaowu commented on #759
Split this out into multiple issues because they're pretty involved

[2021-03-14 13:28] #759 closed, assigned to andreaowu

[2021-03-14 17:42] darrenvong commented on #290
Lol this has been waiting for a while so I think I'm just gonna do it

[2021-03-14 18:36] #665 closed, assigned to OmerBaddour

[2021-03-14 19:40] OmerBaddour opened #795 "Function to convert (lat, lng) into timezone"
Need a function to convert (longitude, latitude) into a timezone, so that when users input their address (which is used to derive (longitude, latitude)), we can infer their timezone. This timezone would then be used to view all time data through, such as the time of events.

[2021-03-14 22:07] lucaslcode opened #797 "Host request view doesn't give request info"
Also there is an overflow menu that only says "placeholder" which can be removed.

Also there is no padding between the "accept/reject/etc" buttons and message box.

[2021-03-14 22:39] lucaslcode opened #798 "Accepting friend request works, but the request stays in the loading state..."
...in the "Friend Requests" section, until you reload. Maybe the query cache isn't invalidated on success?

[2021-03-14 23:22] CouchersBot opened #799 "invisible text"
Subject: invisible text
Description:
When I answer a request my text comes in white with a light grey background, impossible to read.

Steps:
ses above

Results:
see above

Backend version: alpha-f95e2128
Frontend version: develop-e6373b18
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36
Page: https://app.couchers.org/ho

[2021-03-14 23:41] lucaslcode commented on #799
Old frontend

[2021-03-14 23:41] #799 closed, assigned to nobody

[2021-03-15 00:24] #758 closed, assigned to lucaslcode

[2021-03-15 00:28] lucaslcode commented on #767
closed in #777

[2021-03-15 00:28] #767 closed, assigned to vrouilhac

[2021-03-15 07:05] CouchersBot opened #807 "0 as max number of guests is possible when "available to host" selected"
Subject: 0 as max number of guests is possible when "available to host" selected
Description:
If you indicate you are available to host you still have the ability to select 0 as the max number of guests when editing my place. It still shows up as "1" on your profile even after saving it. Also, the drop-down menu is kinda broken (goes up rather than down).

Steps:
Selected "available to host" in my

[2021-03-16 00:32] #757 closed, assigned to andreaowu

[2021-03-16 00:57] #752 closed, assigned to andreaowu

[2021-03-16 01:11] ItsiW commented on #774
Miuriel is gathering all the community photos in one place. We'll start getting photos via the forum too, and then we can decide based on what's available. The stock photo is fine for now

[2021-03-16 08:56] vrouilhac commented on #798
Hi, I'd like to see if I can understand what is going on here :D

[2021-03-17 02:28] CouchersBot opened #813 "clicking "add friend" under friend requests hangs up and almost times out"
Subject: clicking "add friend" under friend requests hangs up and almost times out
Description:
After I clicked on "add friend" when I saw Natalia's friend request it took more than 2 minutes for the site to respond. I actually expected it to time out, but i came back to my phone later and it had gone through.

Steps:
I clicked on "add friend" under friend requests

Results:
It shouldn't have take

[2021-03-17 03:18] andreaowu commented on #774
Which stock photo are you referring to?

[2021-03-17 04:22] ItsiW commented on #774
Ah looks like the photo was removed

[2021-03-17 13:54] andreaowu commented on #793
Duplicate of #768, closing this (or maybe not a direct duplicate, but it'd be difficult to do #768 without doing this too)

[2021-03-17 13:54] #793 closed, assigned to nobody

[2021-03-17 22:45] lucaslcode commented on #813
dup #798

[2021-03-17 22:45] #813 closed, assigned to nobody

[2021-03-17 22:46] lucaslcode commented on #770
dup #758

[2021-03-17 22:46] #770 closed, assigned to nobody

[2021-03-17 22:47] lucaslcode commented on #764
@AllhandsNoFeet does this work now?

[2021-03-17 22:55] lucaslcode commented on #728
Fixed on develop

[2021-03-17 22:55] #728 closed, assigned to nobody

[2021-03-17 22:56] lucaslcode commented on #695
Closed in #766

[2021-03-17 22:56] #695 closed, assigned to nobody

[2021-03-17 22:57] lucaslcode opened #815 "Unread notification badge in messages is clipped on mobile"
![image](https://user-images.githubusercontent.com/32044095/111549496-2fa17a80-8774-11eb-85ed-ea4c333b6cb4.png)

[2021-03-17 22:59] lucaslcode opened #816 "Put the logo in and update the palette"

[2021-03-17 23:18] Tay0108 commented on #789
I'll take it after weekend if nobody fixes it until then ;)

[2021-03-17 23:20] #755 closed, assigned to Tay0108

[2021-03-18 00:45] jesseallhands commented on #764
Yes! It works great now! Thanks!

[2021-03-18 01:34] CouchersBot opened #817 "on mobile firefox, top & bottom screen bounds "bounce" on swipe"
Subject: on mobile firefox, top & bottom screen bounds "bounce" on swipe
Description:
On firefox mobile, when scrolling up or down the top bar bounces up and down and so does the bottom of the screen when you reach the bottom. This prevents you from pressing the save button when editing your profile. It also makes swiping on the map very difficult/cumbersome. See attached video.

Steps:
Used firef

[2021-03-18 01:37] jesseallhands commented on #817
I reported this bug. Here is a video that shows the behavior:

https://youtu.be/wQ01hDmy9mk

[2021-03-18 02:55] #761 closed, assigned to darrenvong

[2021-03-18 03:27] andreaowu commented on #774
Login page has the right photo now, fixed by #794

[2021-03-18 11:13] ItsiW commented on #756
Sorry for the delay. I've added some stuff from the alpha home page

Welcome to Couchers.org!

We're in the process of building out the platform, so we appreciate your patience as we create new features.

If you've been here before, you may have noticed that some things have changed. That's because we're migrating from our early alpha version to our new beta version. If you were on the alpha versi

[2021-03-18 12:04] #495 closed, assigned to nobody

[2021-03-18 12:04] #751 closed

[2021-03-18 12:06] #764 closed, assigned to nobody

[2021-03-18 12:14] lucaslcode opened #820 "EditUserLocationMap can't edit on mobile"
Moving the map works, but can't move the circle

[2021-03-18 12:57] andreaowu opened #821 "write tests for datepicker"
follow-up for #779

[2021-03-18 15:29] justjooshing commented on #815
There's not a lot of room for it to sit with in similar style as is set currently on small devices.
How do we think it looks with the default styling? I think having them overlaid (overlayed? overlain?) over the text doesn't look as clean.
![image](https://user-images.githubusercontent.com/60824744/111648912-c7967700-87fb-11eb-9550-14e8d82325f2.png)

Because even right: theme.spacing(-0.5) it stil

[2021-03-18 17:34] lucaslcode commented on #774
@ItsiW are you sure? Check on mobile - I thought we didn't want an undiverse photo (desktop is ok)

[2021-03-18 17:36] lucaslcode commented on #815
How does it look with overflow allowed?

[2021-03-18 22:36] ItsiW commented on #774
Good catch, I'll get Miuriel to pick one. Also is it easy to change it so the photo colours don't invert in dark mode? Or is that a my phone problem?

[2021-03-19 00:06] lucaslcode commented on #774
Not too sure. Maybe it will be fixed when we have an actual defined dark mode?

[2021-03-19 00:55] #290 closed, assigned to darrenvong

[2021-03-19 12:46] vrouilhac commented on #798
~~I'm not sure but in the file FriendRequestReveive.tsx you set the loading state when isLoading is true but also if isSuccess is true~~

~~in useFriendRequests isLoading is set to 0 ( which is PENDING ) but I'm not sure it updates after that assignment~~

[2021-03-19 12:57] #762 closed, assigned to justjooshing

[2021-03-19 13:01] #815 closed, assigned to justjooshing

[2021-03-19 13:32] justjooshing commented on #820
Making the UI easier here is over my head, but just clicking around as a mobile in dev tools you can move the circle incrementally by tapping on the edge of the circle (it recenters to where you tap), or by double tapping and then dragging and releasing (but only responds/the circle only moves when you release).

[2021-03-19 13:52] justjooshing commented on #690
@lucaslcode not sure if this is still an issue? I just tried to see if I could see it, and the message box is self-contained on mobile and desktop so it doesn't interfere with the message thread.
Also should this be broken out into two separate issues? One about the message box overlaying the thread, and one about the messages not auto-scrolling up?

[2021-03-19 15:56] lucaslcode commented on #690
I think @andreaowu closed this.

I did notice one more thing though yesterday, on mobile when the keyboard opens, it reduces the vertical size of the window and the bottom message is no longer visible. I wonder if we can react to window resizing and, if the messages were scrolled to the bottom, re-scroll to the bottom.

That's another issue though

[2021-03-19 20:03] darrenvong commented on #817
This might be tricky/fiddly to figure out exactly why as I could only reproduce this partially on my phone with Firefox (also on Android). There's some weird side scrolling going on though so not sure if fixing that would also fix this too 🤷

[2021-03-19 20:16] Tay0108 commented on #789
You cannot have `freeSolo` and `noOptionsText` at the same time. This PR (https://github.com/mui-org/material-ui/pull/19663/files) solves this issue by letting you add hint text with `freeSolo` option on, but do we want to have `freeSolo` here?

[2021-03-19 22:16] lucaslcode commented on #817
I think the side scroll is just the map width is wrong (100vh but doesn't take in to account the left margin)

[2021-03-20 00:08] lucaslcode commented on #817
@AllhandsNoFeet  can you test darren's fix at https://frontend-bugfix-bouncy-scroll--frontend.preview.coucher.org ?

[2021-03-20 00:36] jesseallhands commented on #817
Yes it's fixed now! But the bottom of the map is a little cut off now.
![Screenshot_20210319-193450_Firefox](https://user-images.githubusercontent.com/79384268/111853767-5c779e00-88ea-11eb-86da-5a443867a7e2.jpg)

[2021-03-20 01:48] darrenvong opened #827 "Group chat view doesn't scroll to bottom when you send a new message"
**Steps to reproduce**
1. Go to a group chat with enough messages such that scrolling is required
2. Send a new message

**Expected behaviour**
The message scroll view automatically scrolls down to the last message (either one you just sent or the latest message from another user)

**Actual behaviour**
The message scroll view is still stuck to the last message before you sent the message, so that

[2021-03-20 02:18] #738 closed, assigned to nobody

[2021-03-20 02:20] darrenvong commented on #817
https://ce0e5528--frontend.preview.coucher.org/

This includes the map page fix as well, have another look!

[2021-03-20 02:56] darrenvong opened #829 "The last message in a group chat is right above the send message input in non-Chromium browsers"
**Browsers affected**
Firefox, Safari

**Reproduction Steps**
1. Go to a group chat where there are enough messages for it to require scrolling
2. Look at the spacing between the last message and the message input

**Expected behaviour**
There should be some spacing between the bottom of the last message box and the top of the message input

**Actual behaviour**
No spacing exist between the bottom

[2021-03-20 03:01] #807 closed, assigned to andreaowu

[2021-03-20 03:14] jesseallhands commented on #817
The map is fixed! Beautiful! Thanks!!!

Looks like the messages page has side-scrolling and bouncing issues. The create a place and create a guide have bouncing issues as well.

The rest of the pages look good though!

[2021-03-20 03:54] andreaowu commented on #797
Don't need to do this, I'm going to make the actual request box.

[2021-03-20 03:56] andreaowu commented on #797
Oh wait jk, this is for the message after making a request.

[2021-03-20 19:21] darrenvong commented on #817
I think I'm going to leave the create a place/guide pages out of this fix for now as those buttons to get to those pages will be hidden for the soft launch. I imagine we'll be re-doing those pages up properly for the beta, so it'll likely be fixed then once it gets built properly to be closer to the designs, so probably not worth fixing them for now. Will have a look over the messages page though!

[2021-03-20 20:08] darrenvong opened #831 "Minimum user age"
When the user signs up, there aren't any checks on the date of birth they provide apart from it's in a valid date format that the backend can accept. This means it's possible to create a user that's just been born (since the date field defaults to today's date):

![A 0-years-old profile!](https://user-images.githubusercontent.com/13669362/111884202-ee99a800-89b7-11eb-98b2-8d9b8c9e2667.png)

I thin

[2021-03-20 20:14] aapeliv commented on #831
There is a check, but the check just makes sure you were born in the past (inclusive of today). We will need to decide on the minimum age, and that will mostly depend on legal stuff.

[2021-03-20 23:38] #817 closed, assigned to darrenvong

[2021-03-21 01:27] darrenvong opened #832 "Update references to use the new API in references.proto"
This is a breaking API change so #812 can't be merged until the frontend has been updated to use the new references API too.

I'll also try to make this work with pagination too as the new API now supports this nicely with the different filters expected as in the [Figma design here](https://www.figma.com/file/z1aQUklCQewLsEFUo2HsLz/Desktop-Mockups?node-id=4661%3A19717)

[2021-03-21 13:05] #756 closed, assigned to andreaowu

[2021-03-21 23:02] aapeliv opened #835 "Coordinate wrapping"
Currently the database will accept coordinates with `lat` outside `[-180,180]`, which is problematic, this requires a bit of inverstigation.

The best would be to enforce this in the database somehow

[2021-03-21 23:25] lucaslcode opened #836 "Login: Focus password field when it appears"

[2021-03-22 00:33] #690 closed, assigned to nobody

[2021-03-22 00:34] lucaslcode commented on #827
Also, on mobile when the keyboard opens, it reduces the vertical size of the window and the bottom message is no longer visible. I wonder if we can react to window resizing and, if the messages were scrolled to the bottom, re-scroll to the bottom.

[2021-03-22 00:40] lucaslcode commented on #816
Color | Main | Shades
-- | -- | --
Orange | #E47701 | #FE762A #FE5E01 #FE982A
Green blue | #00A398 | #6BC4A6 #20686C
White backgound | #FCFCFC |  

I have requested an svg logo

[2021-03-22 01:08] aapeliv commented on #835
Something like this fixes it in the db: `st_wrapx(st_wrapx(st_makepoint(200,30),-180,180),180,-180)`

See also discussion in #834

[2021-03-22 02:43] telalpal commented on #798
Hi @lucaslcode ,
it's my first try to contribute, so probably I am doing smth wrong.
I tried to pick up this issue or add labels/reviewers at PR but seems I don't have such rights.
Please take a look if you will have time https://github.com/Couchers-org/couchers/pull/837.
Thanks!

[2021-03-22 18:34] darrenvong commented on #798
Closed by #837

[2021-03-22 18:34] #798 closed, assigned to nobody

[2021-03-22 19:20] vrouilhac commented on #836
Hi @lucaslcode, when/where is this behaviour expected?

[2021-03-22 20:44] lucaslcode commented on #836
On the login screen, you enter your username first, and if you have a password, the password field then appears. When it appears, it should be focused.

[2021-03-23 00:17] vrouilhac opened #846 "Reset password skipped if user has no password"
I noticed something while trying to reset the password. If i try to reset a password on an account that doesn't have set a password yet, the link redirect to a page that instantly say that the password has been successfully reset.

Step to reproduce :

1 - Use or create an account that do not have a password set.
2 - Go to login page
3 - Click on reset password link
4 - Click on the link received

[2021-03-23 11:30] vrouilhac commented on #829
I'll look at the code may be a CSS property browser compatibility?

[2021-03-23 16:50] justjooshing commented on #827
@lucaslcode how can I see this on actual mobile? Or a different way instead of chrome dev tools (because I don't get the keyboard opening to see what I need to change on chrome)

[2021-03-23 17:10] lucaslcode commented on #827
You could perhaps mimic it by reducing the vertical height of the window.

I'm not sure if the same events get emitted for the keyboard though. It might require some investigation by connecting the Dev tools to chrome on a real device on the develop preview, and doing `monitorEvents(document.body)` in the console, and seeing what happens when the keyboard opens.

[2021-03-23 17:14] lucaslcode commented on #827
Some googling tells me this might not work. Maybe you can do something with `onfocus` instead

[2021-03-23 19:19] Tay0108 commented on #831
So is it really frontend bug? I'd remove frontend label because when backend validation fails we will get error displayed on front, right?

[2021-03-23 20:15] darrenvong commented on #831
Depends on if we view this to be completely the backend responsibility. It could be argued that the frontend could do a bit more on form validation to stop people submitting the form if their age is below a certain threshold too. And I thought since the line is bit blurry when I thought about it like that... I've just tagged both sides in 🤷

[2021-03-23 21:19] darrenvong commented on #846
@aapeliv This feels like a backend problem to me, as we could just not send the user an email if they already don't have a password? Also not sure why anyone would need to reset a password if they don't have one already as that wouldn't be mandated on login if that's the case.

[2021-03-23 23:47] darrenvong commented on #816
Where is the logo gonna be made available? The wiki? Or do we have to export from Figma ourselves?

[2021-03-24 00:08] darrenvong opened #850 "Group chats are not updated in "real time""
**Expected behaviour**
Messages in group chats should be updated in (near) real time.

**Actual behaviour**
Messages in group chats are currently not refreshed in (near) real time unless:
- The user quits the chat and go back in, or
- The user sends a message

**Other notes**
Should be fixable for now by changing the `refetchInterval` option in the `[groupChatMessages, groupChatId]` query to refet

[2021-03-24 00:18] lucaslcode commented on #816
It's in the design team Google drive linked on the wiki. SVG now available

[2021-03-24 02:09] vrouilhac commented on #846
Is the end expected behaviour to be able to access the app with registered account without password ? ( maybe this is just a feature avaible on development ? )

And also in the login screen we are not really able to see if the person has an account with password or not so the reset password button needs to be there.

[2021-03-24 02:26] darrenvong commented on #846
Yes, by default everyone signs up without a password at the moment and can continue to login via a "magic link" sent to email. If they want to use a password, they can change it later on in their profile settings.

I believe this is intentional for security reasons, so people can't even guess at the moment if the username/email is associated to an account at the moment. Aapeli can probably better

[2021-03-24 16:40] darrenvong opened #851 "Tests pass even when there are TypeScript errors"
According to https://github.com/facebook/create-react-app/issues/5626, there's a limitation in how Create React App sets out jest, which means type checking isn't being done properly on test files. That means tests could still be passing even if they should break because of TS error.

The workaround seems to be adding `tsc` before running the tests so the test files goes through the TS type checke

[2021-03-24 17:49] lucaslcode commented on #851
Is this why tests are passing CI but failing locally?

[2021-03-24 18:33] darrenvong commented on #851
No don't think so, that's a separate issue. I think the tests failing locally is something weird with the mocks not working again... not sure why CI likes the workaround but not our machine locally sometimes 🤷

This is more to do with the fact if you add a new prop to a component and you don't update the tests, sometimes it stills passes (when it should fail like in the main app)

[2021-03-24 18:58] aapeliv commented on #846
Yes, what @darrenvong is saying is right.

Maybe at some point we'd like to show a user a different message if they never had a password (e.g. an error saying "your account has no password"), but that's really just a display thing. I think the behaviour is correct.

[2021-03-24 19:02] aapeliv commented on #613
* There's a bunch of things that are not timing-attack resistant: reset password takes 10 ms (210 vs 200) longer when the account exists. I'm not really sure if username enumeration is really that bad: there's plenty of ways to do it anyway... Needs some thought.
* When one a token (login/password reset/etc) is used, should we delete all tokens of that type? Or is it enough for them to have short

[2021-03-24 19:39] lucaslcode commented on #613
Especially since we have an rpc call that literally tells you if a user exists, has a password, or doesn't exist! :D

[2021-03-24 19:40] aapeliv commented on #831
I think this is better kept solely in the backend: this (min age) is non-obvious business logic that we shouldn't be duplicating across multiple places.

[2021-03-24 19:41] lucaslcode commented on #846
I think backend should give an error if a user with no password tries to get a reset password link, considering you can type the username in, press log in, and you will know if they have a password or not

[2021-03-24 19:51] lucaslcode commented on #241
Closing in favour of #768

[2021-03-24 19:51] #241 closed

[2021-03-24 20:06] Tay0108 commented on #669
This was resolved in https://github.com/Couchers-org/couchers/pull/739

If it is still not working as expected or we want backend to treat user1 as UsEr1 then feel free to reopen.

[2021-03-24 20:06] #669 closed, assigned to nobody

[2021-03-24 20:07] aapeliv commented on #846
I don't think username enumeration or even finding out if a given username has a password or not is an issue. Whether a username exists or not is trivial to identify, and bulk requests should eventually be throttled with some kind of per-IP throttling if that starts being a problem.

I think emails are a bit more sensitive: we don't really want to disclose whether the owner of a given email addres

[2021-03-24 23:05] #771 closed, assigned to spreeni

[2021-03-25 00:00] lucaslcode opened #854 "Hide community-related layers on map page for soft beta"
So only users are shown on the map page.

[2021-03-25 00:01] lucaslcode commented on #827
I have moved the milestone but keep working on it

[2021-03-25 00:04] darrenvong opened #855 "Refactor navigation bar components on unauthenticated pages"
These are duplicated in a few places, makes updating them a bit of a pain and I didn't want to do it in #852. Refactoring that into a shared component with the right hand side remain flexible will make maintaining/changing things in those unauthenticated pages there easier going forward.

[2021-03-25 00:14] lucaslcode opened #856 "Events page placeholder"
Just "Events coming soon" is enough

[2021-03-25 00:17] lucaslcode opened #857 "Login/signup tweaks"
- [ ] Padding between fields
- [ ] Move the left text on `CompleteSignup` up
- [ ] Signup map reloads page when pressing enter

Last one needs an ugly workaround - split the `<form>` into two, each side of the map (so the map isn't included). It will still function correctly because react-hook-form doesn't use this element, except for submitting on <Enter> presses.

[2021-03-25 00:27] lucaslcode opened #858 "Remove radius functionality from EditUserLocationMap, make it a slider in profile editing"
EditUserLocationMap isn't very intuitive. Better just have a default radius of 250m or so and have it editable in profile settings.

[2021-03-25 01:12] #816 closed, assigned to darrenvong

[2021-03-25 09:27] Tay0108 commented on #857
Also underline under subtitle is missing:
![image](https://user-images.githubusercontent.com/10603901/112450353-9d413e00-8d54-11eb-9796-4889c72aede7.png)

[2021-03-25 12:08] vrouilhac commented on #829
I made some research and it seems that the problem appears on firefox only ( have only checked chrome, firefox, opera ).
The problem is that the list ( name it parent ) contains an element ( name it mid ). The 'mid' element then contains each message.
The parent overflow is set to auto which displays a scroll bar. The mid element is flex which displays each message is column.

The problem is that

[2021-03-25 13:45] vrouilhac commented on #829
I solved this using padding in 'mid' element. The scrolling behaviour is on parent, and scrolling behaviour is applied to content edges of box model so the padding is outside of current scrollable element. I added the padding to 'mid' because 'mid' is part of the content edges of parent ( which is scrollable ). More info on this :

https://bugzilla.mozilla.org/show_bug.cgi?id=748518#c13
https://ww

[2021-03-25 23:55] #829 closed, assigned to vrouilhac

[2021-03-25 23:56] #836 closed, assigned to vrouilhac

[2021-03-26 00:31] naspitha opened #861 "Auto-saving or caching profile/message information as it is typed"
If I'm filling out my profile information and refresh the "Edit Profile" page, my changes, unsurprisingly, disappear.

Can there be a mechanism to periodically "auto-save" information a user enters into their profile or into a message? I imagine that users will be writing long blocks of text on their profile (and long, thoughtful messages!), so it would be nice to have a safety net in case somethi

[2021-03-26 00:35] naspitha commented on #861
BTW I don't have permissions to add labels, so if someone can label this issue appropriately (frontend, priority: low?) it would be appreciated.

[2021-03-26 00:51] CouchersBot opened #862 "Saving changes on Edit Home and Edit Profile is inconsistent"
Subject: Saving changes on Edit Home and Edit Profile is inconsistent
Description:
Saving changes on the "Edit profile" and "Edit home" leads to two different behaviors. I think both of them should redirect me to the profile page, or there should be a "Back to profile" button on both.

Steps:
Went to my profile page, clicked the "Edit profile" button (later: "Edit home") and applied some changes.

[2021-03-26 01:00] CouchersBot opened #863 "Profile discrepancies when editing"
Some labels are mismatched, and some fields are displayed in profile/home but missing in the editor.

Original bug report:
Subject: "Who I am" field shows as "About" when editing profile
Description:
The first major text box when editing my profile is named "About." This is misleading, because the title appearing on the profile is "Who I am"

Steps:
Compared the section titles in the "Edit Profile

[2021-03-26 04:40] naspitha commented on #567
Is there a list somewhere of the types of e-mails that need to be generated?

[2021-03-26 06:42] ShmuelTreiger commented on #688
Is this still an issue? If so, steps to reproduce? Because I ain't finding it.

[2021-03-26 06:54] ShmuelTreiger commented on #863
I added labels, but I can't reproduce. I'm not seeing "Who I am" anywhere?

[2021-03-26 10:51] justjooshing commented on #797
@andreaowu Am I confused? I thought I did this card?

Do i need to do something else for this? ^

[2021-03-26 14:26] #797 closed, assigned to justjooshing

[2021-03-26 18:02] lucaslcode commented on #797
Andrea's comment was from before your PR

[2021-03-26 18:29] justjooshing commented on #797
Ha ok, I was so confused :joy:

[2021-03-26 21:43] #792 closed, assigned to andreaowu

[2021-03-27 02:11] CouchersBot opened #866 "tried uploading pic for my profile but came up blank (didn't load)"
Subject: tried uploading pic for my profile but came up blank (didn't load)
Description:
My photo did not appear after selecting it. The first pic I chose worked fine but i changed my mind and pressed the x, selected another one but it didn't load.

Steps:
I clicked to add a pic, selected one and it appeared without any problems. I changed my mind, pressed the x, then selected another photo, but t

[2021-03-27 02:42] CouchersBot opened #867 "someone sent me a message but i never got an email notification"
Subject: someone sent me a message but i never got an email notification
Description:
Natalia sent Jesse a message but Jesse never got an email notification.

Steps:
Natalia sent me a message but i never got the notification. Notifications for couch requests work fine though!

Results:
I should have received a notification via email for the first message.

Backend version: develop-8782c21f
Fronten

[2021-03-27 03:03] CouchersBot opened #868 "Can't see myself on the map"
Subject: Can't see myself on the map
Description:
I have my location set to be the same as another user (who signed up before me). When going to the map page, both of us can see the other user as a blue dot, but my profile is not visible. Maybe there's a conflict when both people have the exact same location?

Steps:
Visited the map page after me and another user entered the exact same location as

[2021-03-27 22:09] naspitha commented on #863
Hey, that was me. Here's what I see on either page:
![image](https://user-images.githubusercontent.com/23509977/112736234-2e641080-8f1f-11eb-9dc8-8e0055136d06.png)

[2021-03-27 22:12] naspitha commented on #863
There seem to be a lot of inconsistencies in this part; for example, there is an entire "About my home" section to fill out when editing the profile, which doesn't appear in the main profile at all. Also, in the "Edit Home" page, there is a field for "Description of your place" that shows up as "Local Area Information" on the main Profile>Home page. They all seem to be very quick fixes but they sh

[2021-03-27 22:26] jesseallhands commented on #867
I think if you haven't received a message from the person within X minutes, then you should receive an e-mail notification from them when they finally message you. I think 10 minutes is good for X.

So If I'm actively chatting within someone, I wouldn't get an e-mail notification after every message (that would be annoying!).  But I would get an e-mail notification if the person doesn't message me

[2021-03-27 22:27] naspitha commented on #863
If I can read correctly, I can see that the problem likely originates from couchers/app/frontend/src/features/profile/view/About.tsx
lines 21-22.

      <Typography variant="h1">{WHO}</Typography>
      <Typography variant="body1">{user.aboutMe}</Typography>

Unfortunately, I am not well-versed in the langauge enough to fix it myself.

[2021-03-27 22:31] jesseallhands commented on #866
It also seems like there is a size limit on photos. If that is the case there needs to be an error message letting the user know the file is too big. Right now it just throws an error that says "error: cannot connect to server. please try again later" or something similar to that.

[2021-03-27 22:51] lucaslcode commented on #863
If you found it, I think you can! :D

But anyway, yes we need to fix this up - there's also a bunch of fields missing in "Edit home" which are shown in the profile

[2021-03-27 23:07] lucaslcode commented on #866
@aapeliv I get the following on large file sizes, but not normal sizes:

`Access to fetch at 'https://dev-user-media.coucher.org/media/upload?data=...' from origin 'https://frontend-bugfix-flakey-input--frontend.preview.coucher.org' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request

[2021-03-27 23:22] lucaslcode commented on #868
Your latitude and longitude are set to 43.05851194009715, 180 - did you have trouble setting it?

[2021-03-27 23:54] lucaslcode commented on #856
Closed in #870

[2021-03-27 23:54] #856 closed, assigned to lucaslcode

[2021-03-27 23:56] #857 closed, assigned to Tay0108

[2021-03-28 02:40] naspitha commented on #868
It appears that the location I selected when editing my profile was not updated properly at that time. I am still not sure what caused this and how to reproduce it.

[2021-03-28 04:24] CouchersBot opened #871 "Return full image URLs in API calls"
Subject: Uploaded profile picture resolution too-low
Description:
Profile picture is reduced to a significantly lower resolution, and the loss in quality is very evident at the scale displayed.

Steps:
Edit my profile picture.

Results:
My profile picture was updated with a very low resolution. It should have had a higher resolution.

Backend version: develop-8782c21f
Frontend version: develop-481

[2021-03-28 04:25] naspitha commented on #871
Here's the comparison between the original picture and the version displayed.
![image](https://user-images.githubusercontent.com/23509977/112742370-a5b39780-8f53-11eb-8b19-aa3db863b491.png)

[2021-03-28 11:54] lucaslcode opened #872 "Profile editing leakage when using multiple dev previews"
When logged in as different users on different previews, they seems to get mixed up.

Steps to reproduce:

- 1 is https://8b9b2a64--frontend.preview.coucher.org/
- 2 is https://develop--frontend.preview.coucher.org/
- log out both
- sign in as test on 1
- sign in as lucas on 2
- Change name on 2 - it worked
- Set melbourne as location in 1
- (There is another issue where the circle sometimes doesn

[2021-03-28 11:56] lucaslcode commented on #872
Would it be because the api is the same address, https://dev-api.coucher.org, so it uses cookies from the most recent login? That would explain it.

[2021-03-28 11:57] aapeliv commented on #872
Yes, cookies are completely decoupled from JS, and can't even be read there due to the `http-only`ness.

[2021-03-28 11:59] aapeliv commented on #872
If you think this is a problem, we can do something like the frontend sending out the user id that it thinks it is in every request, and if that disagrees with the session cookie on the backend, the request will be rejected.

[2021-03-28 12:03] lucaslcode commented on #872
I think it's fine, not worth the effort.

[2021-03-28 12:03] #872 closed, assigned to nobody

[2021-03-28 20:22] aapeliv commented on #867
Did the recipient see the message within 40 minutes of you sending it?

[2021-03-28 20:57] lucaslcode commented on #871
Frontend only gets the thumbnail image, thumbnail size is set somewhere nebulous (there's a `thumbnail_size` param for the Flask media server), not sure what it is atm

[2021-03-28 22:10] lucaslcode commented on #768
This is complicated to implement, I think let's just skip it since this will be refactored later.

[2021-03-28 22:54] jesseallhands commented on #867
I don't know the exact time, but I think so - yes.

[2021-03-28 23:31] #866 closed, assigned to nobody

[2021-03-29 12:05] justjooshing commented on #863
I can take this @ShmuelTreiger  unless you are doing it already?

[2021-03-29 12:35] justjooshing commented on #863
We also have these resulting as truthy because they're whitespace strings, which looks gross. Where can I find where to change the default input to null instead of ""? Or is this going to mess things up?
![image](https://user-images.githubusercontent.com/60824744/112836636-c1718780-9092-11eb-9482-f16733561a6d.png)
![image](https://user-images.githubusercontent.com/60824744/112837334-a8b5a180-9093-

[2021-03-29 13:30] lucaslcode commented on #863
If you look in `couchers/app/pb/api.proto` under `message User` you'll see all the fields. Many of them are `*Value`s like `BoolValue` and `StringValue`. That way, for example, `housemateDetails` can be `undefined` to indicate the field is undefined rather than simply a blank string. Or to put it another way, `StringValue`'s type is `{ value: string }`, compared to just `string` (in TS we would do

[2021-03-29 13:59] justjooshing commented on #863
Oh yeah, good pickup, I've just appended the `?.value` to those that were using the ternary operators. The ones without the commas don't have the ternary operators, and are just showing yes or no.

[2021-03-29 16:03] aapeliv commented on #835
@spreeni: would you like to take this?

I think it requires two things:

1. Update `create_coordinate` to cast first to geography then back to geometry: that will make sure it's wrapped
2. Writing a migration to fix existing points (there are currently some in the database that aren't within bounds)

[2021-03-30 00:57] CouchersBot opened #881 "test"
Subject: test
Description:
testing loading state

Steps:

Results:

Backend version: develop-de503afb
Frontend version: develop-de503afb
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.105 Safari/537.36
Page: https://develop--frontend.preview.couchershq.org/profile/nerred
User ID: 4

[2021-03-30 00:58] #881 closed, assigned to nobody

[2021-03-30 10:18] spreeni commented on #835
Sure, I could take this. Would we really want to wrap the coordinates though? I think capping them at a min/max value makes more sense as `st_contains` does not support wrapping in the end. I think wrapping would make more sense if we worked with geography data.

[2021-03-30 20:42] #854 closed, assigned to Tay0108

[2021-03-30 21:34] #868 closed, assigned to nobody

[2021-03-30 21:35] lucaslcode commented on #867
Notifications aren't instant yet

[2021-03-30 21:35] #867 closed, assigned to nobody

[2021-03-31 00:10] vrouilhac commented on #862
Hi, I'd like to see if I can solve this :+1:

Is it better to redirect to the profile page?

[2021-03-31 00:44] vrouilhac opened #884 "Edit Profile unexpected design behaviour ?"
I tried to update the profile and I saw some behaviour in the design that I think may be unexpected.

When both "Countries I've visited" and "Countires I've lived in" are empty, they both appear one next the other.

First unexpected behaviour :
When I add a country to "Coutries I've visited", the second input ( "Countries I've lived in" ) comes below.
![03-min](https://user-images.githubuserconten

[2021-03-31 07:13] #820 closed, assigned to lucaslcode

[2021-03-31 07:19] lucaslcode commented on #884
This is fixed in #882

[2021-03-31 07:21] lucaslcode commented on #862
Yes maybe redirect.

Avoid changing anything else on the page as Josh is working on #882 and there will be merge conflicts.

[2021-03-31 08:16] #884 closed, assigned to nobody

[2021-03-31 14:34] aapeliv commented on #835
Yeah, I think it's good to wrap, it's safer than clipping, which might cause weirdness if some unwrapped coordinates do slip through. The other option would be to be very strict about it and just fail if you get coordinates outside the bounds.

I mean that we should wrap before inserting into the db, so the db should never contain coords outside the bounds.

[2021-03-31 22:32] kalvdans commented on #391
Related: https://github.com/Couchers-org/couchers/pull/885 opens up for running a single migration test instead of running all tests twice.

[2021-03-31 23:08] #768 closed, assigned to lucaslcode

[2021-04-01 01:56] #413 closed, assigned to nobody

[2021-04-01 02:19] aapeliv commented on #831
This just requires deciding on an age, I'll update later when I've got an answer!

[2021-04-01 02:22] aapeliv opened #887 "Timezone handling"
Blocked by #795. Timezone handling needs to be implemented for users and a variety of other things. We need to get the user's tz from their `geom`.

Required for #541 and other future things.

[2021-04-01 02:24] aapeliv opened #888 "Search: discussions"
The search API needs to be updated to search for discussions.

This is slightly tricky because each discussion is made up of multiple database rows, unlike e.g. a user (one row in `users` table), so it'll required some subquery or similar.

Maybe Beta, but also can push to v1.

[2021-04-01 02:25] aapeliv opened #889 "Implement missing filters in UserSearch"
There's a bunch of small unimplemented things in the search APIs, these need to be implemented.

[2021-04-01 02:27] aapeliv opened #890 "Search: conversations"
Search within the user's conversations only. There's some kind of search now, I think it uses `LIKE`, but it should be updated to do fuzzy search with snippets and filtering, etc.

[2021-04-01 02:28] aapeliv opened #891 "Search: events"
Events search, requires #541, obviously. This should be fairly easy.

Full event filtering is available through the search API. This just needs to be in the "omnibox" search.

[2021-04-01 02:30] aapeliv commented on #688
As discussed in meeting 20, this is just a check to make sure all is sensible and we can push this out. Full pretty emails are Couchers-org/couchers#4203

[2021-04-01 02:31] aapeliv commented on #832
Closed by #812

[2021-04-01 02:31] #832 closed, assigned to darrenvong

[2021-04-01 02:34] aapeliv opened #892 "Lower unseen message email time"
Currently unseen messages trigger a notification email if unseen for 30 minutes. This should be lowered to 5 minutes due to user complaints, and the background job also needs to run more often.

[2021-04-01 02:34] aapeliv opened #893 "Email reminders to write a reference"
Emails to remind a host/surfer to write a reference about the experience.

[2021-04-01 02:36] aapeliv opened #894 "Minimal Admin API"
We need an admin (superuser) API. Users table needs a boolean "is_superuser" or similar. Admin APIs are things like creating a new community, etc.

Waiting for a list of minimal absolutely required API calls from @ItsiW.

[2021-04-01 02:38] aapeliv opened #895 "Minimal Moderation API"
We should build in the absolutely required minimal mod API calls.

The current strategy is to use our ticketing software to take care of most moderation actions, then learn what needs to be built in and what those need to look like.

However, it'd be good to get the "absolutely required, minimal" APIs built in already, because we know we'll need them in any case.

Waiting for list from @ItsiW.

[2021-04-01 02:39] aapeliv opened #896 "Phone verification"
Using Twilio or AWS SNS (this is probably preferred due to us already using AWS heavily)

[2021-04-01 02:41] aapeliv opened #897 "Geo-data/map tiling"
Currently when a user goes on the map, we basically go through the whole user table and just generate a GeoJSON with all data.

This needs to be broken up into tiles to be served using TileJSON or MVT. I think the latter directly from postgis.

Not super urgent, but will be fun!

[2021-04-01 02:42] aapeliv opened #898 "Split current users table into profile and users table"
Need to split off the profile data (often edited, large chunks of data, used only in few API calls) into a separate table from the core login/user info (often used, often joined across, rarely updated, small).

[2021-04-01 02:44] aapeliv opened #899 "API refactoring"
We should take some time to think about what the APIs should look like, given what we learned in the last 10 months, then write down some rules and refactor all APIs to be the same.

Not urgent at the moment.

I think this can be done either before native apps, or as a "v2" of the API. Which we do depends a lot on timelines of everything, but I think refactoring before native apps would save a lot

[2021-04-01 02:46] aapeliv opened #900 "More testing"
We could do with a few more tests in the backend. There's some bits that are somewhat poorly tested. It'd be great to have 100% coverage on e.g. the auth code. (Password based login is not tested at all!)

[2021-04-01 02:47] aapeliv commented on #896
This is a good first issue if someone has experience with AWS and their SDKs, otherwise probably not!

[2021-04-01 02:51] aapeliv commented on #871
As discussed in the meeting, this should return a URL with the size replaced by `{size}` instead of `thumbnail`/`full`, so the frontend can pick.

Assigned to Ben but he's not on GitHub yet!

[2021-04-01 03:00] aapeliv opened #901 "Configuration for previews"
Previews need to have slightly different config to prod, e.g. debug mode and own URLs.

[2021-04-01 03:03] aapeliv opened #902 "Post-soft-beta database cleanup"
After we switch out the alpha to the beta in the soft-beta launch, we can clean up the database a fair bit. For example, it could be good to get rid of the long lineage of migrations and just regenerate them all.

[2021-04-01 03:06] aapeliv opened #903 "SQLAlchemy 2.0 migration/refactor"
SQLAlchemy is making some large changes from 1.3 to 1.4 (a kind of 2.0 migration release). This is causing a bunch of annoying warnings in the console, and we should in general refactor how database queries are done. I.e. read the SQLA docs about the recommended patterns, decide how much to rely on the ORM vs Core and then standardize across the codebase.

[2021-04-01 03:23] ceelo777 commented on #891
I'd be interested in taking this issue! Any more details I should know before tackling it - references to code I could look at, general tips, etc. - this is my first time contributing.

[2021-04-01 03:27] ShmuelTreiger commented on #688
I'll let someone else have a look at this. I did it myself last week, but didn't find any issues.

[2021-04-01 03:34] ShmuelTreiger commented on #891
@aapeliv might be able to give you better advice, but I'd take a look at search.py and search.proto. That being said, if you want to work on search, perhaps better to start with one of the other search issues (#888, #889, #890)? Since this one is still waiting on #541 .

[2021-04-01 03:51] ShmuelTreiger commented on #900
It would be good if you could specify anywhere else you see that's missing. You mentioned auth, but any others? Or should we just use this thread to collect as we find untested things?

[2021-04-01 11:42] lucaslcode commented on #900
https://develop--bcov.preview.couchershq.org

[2021-04-01 11:48] lucaslcode commented on #889
Such as?

[2021-04-01 15:58] anand-prem commented on #862
@Vincent-Projects, are you still working on this else I am thinking of picking this up?

[2021-04-01 18:43] aapeliv opened #907 "Remove SSO"
SSO for discourse (our forum) was implemented, but I think we decided to not use it in the end and is not functoinal. This should be removed (it can be recovered from history if we for whatever reason change our minds).

[2021-04-01 18:47] aapeliv commented on #900
I've compiled a list of stuff that needs added tests from the coverage report. In addition to these, there's a whole bunch of error checking branches that I don't think need testing that badly, but I mean, it wouldn't hurt if someone is bored :P

## High priority

[code]

## Files that seem to contain fully untested RPCs

[code]

I think `gis.py` doesn't have tests because I knew it was a temporar

[2021-04-01 18:49] aapeliv commented on #889
The proto has a few commented out bits that needs to be implemented:

https://github.com/Couchers-org/couchers/blob/f81e7203697e77875ccb8b9f0633bc83864adde7/app/pb/search.proto#L49-L58

https://github.com/Couchers-org/couchers/blob/f81e7203697e77875ccb8b9f0633bc83864adde7/app/pb/search.proto#L115-L121

[2021-04-01 19:08] aapeliv commented on #891
@ceelo777: as @ShmuelTreiger pointed out, this is still waiting for the actual events feature to be built. That'll still take some time as the PR (#744) is still quite incomplete. Feel free to look through the other issues tagged as `good first issue`. I also sent you a quick email if you want to set up a time to chat and join our contributor Slack! We'd be very glad to have you join the team :)

[2021-04-01 19:27] CouchersBot opened #908 "Can't create a host request"
Subject: Can't create a host request
Description:
Trying to set the "from date" causes some crash: everything disappears giving a white screen, and I get this in the console:

[code]

Reported by Aapeli.

Steps:
Try to start a host request and set a from date

Results:
Everything disappeared and got error in console.

Backend version: develop-b551dab4
Frontend version: develop-5909c97b
User Agent:

[2021-04-01 19:28] aapeliv commented on #908
Same when trying to submit a host request with the default from date.

[2021-04-01 19:44] aapeliv opened #910 "Login with third party auth provider"
E.g. Facebook/Google.

Not sure when we're trying to get this done by, but it'll require a bunch of work in the backend.

[2021-04-01 21:06] aapeliv opened #912 "Old email needs to be confirmed when changing emails"
If a user has no password, and they want to change their email address, currently they can just do that without any confirmation. In particular, if someone leaves their laptop unlocked with Couchers open, anybody can trivially hijack their account. We can't have that.

Either:

1. Require a user to have a password to change their email address
2. Require verification of both old and new email any

[2021-04-01 21:29] CouchersBot opened #913 "Host request dates are incorrect"
Subject: Host request dates are incorrect
Description:
API returns (from gRPC-Web inspector):

[code]

But the UI is showing March 31 - April 7th.

Steps:

Results:

Backend version: develop-b551dab4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/messages/request/52
User ID: 1

[2021-04-01 21:30] aapeliv commented on #913
I know something along these lines was discussed in a meeting, @lucaslcode feel free to close if this is a duplicate or being worked on.

[2021-04-01 21:31] ShmuelTreiger commented on #912
Currently, if a user has a password, do we ask them to put it in again when requesting an email change?

[2021-04-01 21:31] aapeliv commented on #912
Yes

[2021-04-01 21:34] #688 closed, assigned to nobody

[2021-04-01 21:38] aapeliv commented on #743
Sorry, I don't understand what required. The user can already update their name/gender with UpdateProfile. What's needed here?

[2021-04-01 22:44] lucaslcode commented on #774
Moved to beta, see #911 for soft beta solution

[2021-04-01 22:46] #908 closed, assigned to nobody

[2021-04-01 22:46] #913 closed, assigned to nobody

[2021-04-01 23:36] lucaslcode commented on #743
I changed it so the rpc call fails if the user tries to change gender, because of concerns about getting around profile visibility based on gender if we have that in the future. (Ie. X's profile is set to "show to women only", Y can change their gender, send X a message, change back, etc.)

[2021-04-01 23:44] aapeliv opened #915 "Email notifications for conversations in host requests"
Seems the email notifications don't include messages in host requests.

[2021-04-02 00:30] aapeliv commented on #743
Yeah, makes sense. I think that should be a permanent change: people can still email support to change it if they have a legitimate reason.

This should then probably be part of the admin API (see also #894)?

[2021-04-02 00:57] darrenvong commented on #743
Sounds like you got this planned for the admin API, #894 wasn't there when I wrote that comment :p as there's only API for updating your own user and not for other users at the moment

[2021-04-02 01:05] aapeliv opened #916 "formatDate: month is off by one"
`formatDate` in `date.ts` formats `2021-07-11` as `11 August`, etc.

[2021-04-02 01:38] aapeliv opened #918 "Remove gender from UpdateProfile"
To reduce abuse of gender-based features.

Users can still contact support if there is a legitimate need to change their gender.

[2021-04-02 06:55] ShmuelTreiger commented on #892
Unrelated, but reading through the code, it seems that a user will keep receiving emails if they keep receiving messages. Do we want to tamper this somehow?

[2021-04-02 06:57] ShmuelTreiger commented on #918
I think this is already done

https://github.com/Couchers-org/couchers/blob/3bb5ebac88aff7aec40f909fbbfc0fa796382c3b/app/backend/src/couchers/servicers/api.py#L178-L181

[2021-04-02 08:01] lucaslcode commented on #916
🤦‍♂️

[2021-04-02 09:45] vrouilhac commented on #862
Of course take it, i’ve been busy yesterday and still have lots to do

[2021-04-02 10:55] lucaslcode commented on #916
@aapeliv you can do this if you can't wait for me to do it in around 10-12 hours. I just did `monthNames[date.month()]` instead of `monthNames[date.month()-1]|.

[2021-04-02 10:55] lucaslcode commented on #916
@aapeliv you can do this if you can't wait for me to do it in around 10-12 hours. I just did `monthNames[date.month()]` instead of `monthNames[date.month()-1]|.

[2021-04-02 11:42] aapeliv commented on #918
It needs to be removed from the RPC defs and that stuff needs to be removed as well

[2021-04-02 11:43] aapeliv commented on #892
Yes, eventually. The current system is a quick solution for beta, but we'll need to rewrite the notification system entirely, #557

[2021-04-02 12:47] anand-prem commented on #862
@aapeliv I raised an MR for this issue: [#906](https://github.com/Couchers-org/couchers/pull/906)

[2021-04-02 12:55] aapeliv commented on #862
Thanks! I've tagged frontend for review there

[2021-04-02 14:06] #863 closed, assigned to justjooshing

[2021-04-02 18:10] aapeliv commented on #916
Fixed in 8d40298d

[2021-04-02 18:10] #916 closed, assigned to nobody

[2021-04-02 18:12] aapeliv commented on #613
Some nginx stuff:

[code]

[2021-04-02 20:30] aapeliv commented on #907
Could you grab this one @ceelo777?

[2021-04-02 20:59] lucaslcode opened #923 "Unread request messages are not bold"
Unread chats are bold, but not host requests

[2021-04-02 21:03] lucaslcode commented on #827
Closed in #849

[2021-04-02 21:03] #827 closed, assigned to justjooshing

[2021-04-02 21:06] lucaslcode commented on #615
In the mockup designs, editing is more integrated into the normal profile view. But what we have now is sufficient for the moment, so I'm unassigning this and moving to v1.

[2021-04-02 21:08] #410 closed, assigned to nobody

[2021-04-02 21:09] #694 closed, assigned to MichaelGuldborg

[2021-04-02 21:18] lucaslcode commented on #685
Ping @ItsiW

[2021-04-02 21:42] ceelo777 commented on #907
Yessir.

[2021-04-02 21:43] aapeliv opened #925 "Errors not visible in jail page when adding location"
If you don't have a location (due to not having put one in in alpha, and you try to log in, you're taken to the jail page to add a location. (This bug might also occur on other pages with a map component)

If you just click through "Save" (or whatever the button says), the coordinate will be (0,0) or something, and the backend will return an error, however, the frontend doesn't show anything, so t

[2021-04-02 22:03] lucaslcode commented on #925
`LocationSection.tsx` just needs some error handling.

[2021-04-02 22:12] lucaslcode commented on #546
Closing in favour of #547

[2021-04-02 22:12] #546 closed, assigned to nobody

[2021-04-02 22:19] lucaslcode opened #927 "Community info page"
Pages/guides are postponed for now, except for the main page of a community. It is basically a title, and edit button, and a big body of markdown content.

When approaching this, keep in mind we will want to re-use it to display any page (not just main community pages) in the future.

[2021-04-02 22:26] lucaslcode opened #928 "Generic image upload component"
Image upload component like the avatar upload except... square? For places and later, guides/pages/etc.

[2021-04-02 22:28] #552 closed, assigned to nobody

[2021-04-02 22:28] lucaslcode commented on #552
Dupe

[2021-04-02 22:32] lucaslcode commented on #602
Closed in #853

[2021-04-02 22:32] #602 closed, assigned to nobody

[2021-04-02 22:35] #892 closed, assigned to nobody

[2021-04-02 22:41] lucaslcode opened #929 "Giving references"
We don't have a way to leave references atm.

A "give reference page" should be made as per the mockup. Friend references should be possible from profiles of people you are friends with and have not given a reference to. Host/surf references should be possible, perhaps from confirmed host requests which are in the past.

Imo the reference type should be passed in the url, like "/leave-reference/su

[2021-04-02 22:44] #633 closed, assigned to nobody

[2021-04-02 22:45] lucaslcode commented on #647
Closing this, let's re-open if it comes up again

[2021-04-02 22:45] #647 closed, assigned to nobody

[2021-04-03 02:04] ShmuelTreiger opened #931 "Test dummy data"
Dummy data is used to populate a new database in dev mode. Currently it goes untested. Would be good to check that all data properly inserts to database.

[2021-04-03 02:31] aapeliv commented on #409
Backend is now ready in #926 for frontend implementation, but we broke the API so the frontend broke too!

[2021-04-03 02:39] aapeliv commented on #831
The minimum age should be 18 at least for now.

[2021-04-03 02:40] aapeliv commented on #902
Done

[2021-04-03 02:40] #902 closed, assigned to nobody

[2021-04-03 02:59] aapeliv opened #933 "User page should be /user/{username} not /profile/{username}"
As per title, /profile is still good for the current user's own profile

[2021-04-03 03:00] aapeliv opened #934 "Link to account settings"
I'm not finding any way to go to account settings at the moment: https://app.couchers.org/account-settings

[2021-04-03 03:06] aapeliv commented on #931
Yeah, I think it'd suffice to just test that the dummy data add runs successfully on an empty db

[2021-04-03 03:33] CouchersBot opened #935 "my gender shows "meat popcicle" but during editing the field is blank"
Subject: my gender shows "meat popcicle" but during editing the field is blank
Description:
When I edit my profile I see that "other" is selected, but the field where I enter in my gender it is blank. Yet, when I save it says "meat popcicle" (which I previously entered).

Steps:
Viewed my profile where it says "meat popcicle" and then edited my profile where the field is blank.

Results:
If my pro

[2021-04-03 03:51] CouchersBot opened #936 "Add functionality to unfriend another user"
Subject: cannot unfriend anyone
Description:
When I visit "my connections" there is no way for me to remove someone from my friends list.

Steps:
I visited the connections page.

Results:
I should be able to remove people from my friends list

Backend version: develop-a6cdeee4
Frontend version: develop-a6cdeee4
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:87.0) Gecko/20100101 Firefox/8

[2021-04-03 03:57] CouchersBot opened #937 "Add ability for admins to remove people from group chats"
Subject: admins cannot remove people from group chats
Description:
when viewing chat members list as an admin, there is not a way for an admin to remove a member of the chat. This is an essential feature for moderation of group chats. Admins should be able to remove bad actors.

Steps:
Visited both the member list in the group chat and the chat settings.

Results:
Admins should be able to remove m

[2021-04-03 04:07] aapeliv opened #938 "Last active should be different for <15 min"
Last active is rounded to 15 min or something, so for less than 15 min ago it should say "<15 min ago" or "just now", or similar?

[2021-04-03 04:10] aapeliv commented on #935
Editing of gender is not allowed in the UI, I think this is the pronouns field that is blank

[2021-04-03 04:10] #935 closed, assigned to nobody

[2021-04-03 04:16] ItsiW opened #939 "Add website and forum to navbar"
Before logout on the right hand side we want About (https://couchers.org) and Forum (https://community.couchers.org)

[2021-04-03 04:18] aapeliv opened #940 "Profile long form text formatting with CommonMark"
It has to be formatted *somehow*. At least newlines need to be included so it's not all just a big mess, look at Jesse's profile.

[2021-04-03 04:21] aapeliv opened #941 "Update support email everywhere"
Support queries should be directed to support@ our domain, not contact@, etc.

Bugs should be reported either with the bug tool or to bugs@ our domain (this is in e.g. emails).

[2021-04-03 04:36] CouchersBot opened #942 "there's no green circle with a number to indicate new messages on the top navbar"
Subject: there's no green circle with a number to indicate new messages on the top navbar
Description:
The messages page has a green circle with a number next to each chat to show when there is new messages (and how many). There should be a green circle by "messages" on the top navbar (between "events" and "map") so people can see they have new messages even when they are on other pages.

Steps:
V

[2021-04-03 04:39] CouchersBot opened #943 "long text/url without any spaces overflows out of message bubble in chat"
Subject: long text/url without any spaces overflows out of message bubble in chat
Description:
When typing a link or word that exceeds the width of the message bubble, it overflows out of the bubble and is cropped so you can't see the whole word.

Steps:
Typed in YESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
and then copied and pasted the following like 7 times in a row:
SSSSSSSSSSSSSSSSSSSSSSSS

[2021-04-03 04:43] jesseallhands commented on #943
I reported this, here's a screenshot to illustrate:
![image](https://user-images.githubusercontent.com/79384268/113468678-46e79580-940d-11eb-8325-dc4cd9eaca1b.png)

[2021-04-03 05:03] jesseallhands commented on #918
If you choose "other" you shouldn't be able to enter "he/him" or "she/her" by themselves as those options are already available. With that said, we need to be careful as some people use multiple pronouns like he/him and they/them equally.

[2021-04-03 05:06] jesseallhands commented on #941
Not sure if these appear in the beta yet, but we also can leverage feedback@, safety@ and privacy@ wherever appropriate.

[2021-04-03 05:07] CouchersBot opened #945 ""Overview" fields not justified correctly if more than one line"
Subject: "Overview" fields not justified correctly if more than one line
Description:
If I input enough text in one field (e.g. Occupation) to exceed the length of one line, the text becomes misaligned and starts more to the left than it should.

Steps:
Edit profile > Occupation > *entered many characters and exceeded one line*

Results:
Two left-justified lines should have been created, which wou

[2021-04-03 05:08] naspitha commented on #945
Here's what is meant (if words are not clear enough)
![image](https://user-images.githubusercontent.com/23509977/113469125-b9a64000-9410-11eb-98b6-ce1bb9420a56.png)

![image](https://user-images.githubusercontent.com/23509977/113469148-ed816580-9410-11eb-835e-9c5a862da0c4.png)

[2021-04-03 05:35] CouchersBot opened #946 "update grammar of instructional text that appears when reporting a profile"
Subject: update grammar of instructional text that appears when reporting a profile
Description:
Change "Give as much details as you can and are comfortable with" to "Please give as many details as possible"

Steps:
tried to report

Results:
Grammatical issue is the main thing, but we also shouldn't indirectly encourage people to share less because they are uncomfortable. Reporting is naturally un

[2021-04-03 05:49] CouchersBot opened #947 "I can add Middle-Earth as a country I visited and lived in on my profile"
Subject: I can add Middle-Earth as a country I visited and lived in on my profile
Description:
I was able to add a fictional place, namely "Middle-Earth", as a country I visited and a country I lived in on my profile.

Steps:
I added Middle-Earth when editing my profile and there was no error.

Results:
We should be storing a list of all countries and use that list to allow people to select countr

[2021-04-03 05:50] jesseallhands commented on #940
Can confirm. My profile is indeed a mess!

[2021-04-03 07:54] CouchersBot opened #948 "Photo upload size restrictions"
Subject: Can't upload a photo
Description:
Trying to upload a photo, it's 3.9 MB

Steps:
just tried uploading it on mobile and laptop, no dice

Results:
"Couldn't connect to the server. Please check your Internet connection or try again later."

Backend version: develop-a6cdeee4
Frontend version: develop-a6cdeee4
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML

[2021-04-03 08:12] ItsiW opened #949 "Combine edit profile and edit home into one page"
It was suggested for better UX that we have one edit page with tabs for "profile" and "home"

[2021-04-03 08:57] lucaslcode commented on #943
This can be fixed by adding `overflowWrap: "break-word"

[2021-04-03 09:01] lucaslcode commented on #918
@AllhandsNoFeet does it matter? If you type he/him in other and save, if you reload the page that option will be selected

[2021-04-03 09:02] lucaslcode commented on #947
Dupe #409

[2021-04-03 09:02] #947 closed, assigned to nobody

[2021-04-03 09:04] lucaslcode commented on #940
These can be replaced with our markdown rendering component even if #536 isn't done yet

[2021-04-03 13:47] aapeliv opened #950 "Location selection component"
Reported by Hjall on the forum and others. We're getting a lot of reports that the location selection component is confusing/unintuitive and difficult to use. Also related to #858, these should probably be merged.

* Currently it's centered in Sydney by default
* It's not clear that the text in the search box will become the display address
* Depending on the address, the auto-generated display ad

[2021-04-03 14:08] CouchersBot opened #951 "Error responding to host request"
Subject: Error responding to host request
Description:
I received a host request from Emily (Turkey), I'm in Sydney. Request was for 3-4 april. Currently it is 3rd April in Turkey and 4th April in Sydney, which I think may be causing the bug "Error in service handler!"

Steps:
Respond to host request

Results:
Response should be able to go through, or if I can't because it is past the request date

[2021-04-03 14:10] couchersbot opened #952 "Text overflowing in bug report text box"
Subject: Text overflowing in bug report text box
Description:
The question text in the bug response goes over the text box when the page is certain widths

Steps:

Results:

Backend version: develop-11139f30
Frontend version: develop-a6cdeee4
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://app.couchers.org/messages/request/78
User ID: 2

[2021-04-03 14:10] CouchersBot opened #4212 "Text overflowing in bug report text box"
Subject: Text overflowing in bug report text box
Description:
The question text in the bug response goes over the text box when the page is certain widths

Steps:

Results:

Backend version: develop-11139f30
Frontend version: develop-a6cdeee4
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://app.couchers.org/messages/request/78
User ID: 2

[2021-04-03 14:11] ItsiW commented on #952
![image](https://user-images.githubusercontent.com/39325627/113480925-98ae1f80-94e2-11eb-9d01-3bb536987642.png)

[2021-04-03 14:11] ItsiW commented on #4212
![image](https://user-images.githubusercontent.com/39325627/113480925-98ae1f80-94e2-11eb-9d01-3bb536987642.png)

[2021-04-03 14:11] ItsiW commented on #952
See the last box

[2021-04-03 14:11] ItsiW commented on #4212
See the last box

[2021-04-03 14:13] aapeliv opened #953 "Update bug reports to list username as well"
Would be good to have `username (user_id)` (with id in brackets) in case username changing is implemented, etc. Currently we just have the user id and you have to memorize who's who and ask around, but that's no fun.

[2021-04-03 14:14] aapeliv commented on #951
Checked with @ItsiW, worked on second try. Duplicate of #643 as I upgraded the backend.

[2021-04-03 14:14] #951 closed, assigned to nobody

[2021-04-03 14:17] darrenvong commented on #936
This has been briefly discussed in #667... what's the priority on this? Post beta and before v1?

[2021-04-03 14:22] aapeliv commented on #936
Pretty low priority. We can for now just get people to email support@ if they really need to unfrend people

[2021-04-03 14:57] aapeliv commented on #948
This happens if the image is too large. The fix is two-fold:

1. We need to accept some relatively large images in the media uploader (they will be resized and compressed a bit, so that's OK).
2. There should be some nice error somewhere or at least a max image size displayed somewhere.

[2021-04-03 15:07] darrenvong commented on #936
This feels more like a missing feature than a bug to me so removed the `bug tool` label

[2021-04-03 15:30] darrenvong opened #954 "FriendshipStatus in user objects only returns pending status from GetUser API"
Currently when there is a pending request, we can't tell easily if a pending request is sent by current user or received from the user they are looking at from the frontend without extra data wrangling by getting data from `ListFriendRequests` and figure out from that. This should be encoded in `FriendshipStatus` instead.

[2021-04-03 15:32] darrenvong commented on #954
This will likely simplify #905 a lot if it is a quick thing to add. Otherwise we can return to it as a separate refactoring thing on the frontend.

[2021-04-03 15:33] lucaslcode commented on #950
I wasn't following the coordinate wrapping, but I saw it clips in the code in the `onMove` function. Can we not just wrap it with a modulus before sending to the backend?

[2021-04-03 15:33] aapeliv commented on #954
OK, I'll look into this now

[2021-04-03 15:34] aapeliv commented on #950
We should do that, yes.

[2021-04-03 16:21] aapeliv commented on #900
Friend requests are also completely untested

[2021-04-03 16:35] aapeliv commented on #953
Lol, this is not good first issue: you need to hack around the auth stuff because it's an open api

[2021-04-03 19:48] CouchersBot opened #958 "Pronouns choice"
Subject: Pronouns choice
Description:
I can choose she/her or he/him and type other at the same time

Steps:

Results:
If I chose she/her I shouldnt be able to type other pronouns

Backend version: develop-11139f30
Frontend version: develop-11139f30
User Agent: Mozilla/5.0 (Linux; Android 10; SAMSUNG SM-G973F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/13.0 Chrome/83.0.4103.106 Mobile S

[2021-04-03 19:56] CouchersBot opened #959 "Warn user when they uploaded a profile pic but didn't save the form"
Subject: I dont see my profile pic in chat
Description:
Fg

Steps:
Gg

Results:
Its only a letter, even though I have my pic

Backend version: develop-11139f30
Frontend version: develop-11139f30
User Agent: Mozilla/5.0 (Linux; Android 10; SAMSUNG SM-G973F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/13.0 Chrome/83.0.4103.106 Mobile Safari/537.36
Page: https://app.couchers.org/messages/ch

[2021-04-03 20:18] aapeliv commented on #948
nginx is rejecting the file because it's too large, so it never reaches the media container and therefore doesn't get CORS headers, and so in javascript it just turns up as a failed query, hence the cryptic error msg

[2021-04-03 22:08] #662 closed, assigned to nobody

[2021-04-03 22:08] #901 closed, assigned to nobody

[2021-04-03 22:15] aapeliv commented on #948
This now just requires the frontend to show a nicer message when it gets a HTTP 413 Payload Too Large. Currently it says something like "invalid picture". The limit is 10 MB currently, maybe we should add that somewhere too (but maybe not, 10 MB is quite a lot).

[2021-04-03 22:52] #933 closed, assigned to nobody

[2021-04-03 23:18] lucaslcode commented on #959
Who is this?
I suspect they uploaded their profile pic but didn't save the form (unless it's indeed saved to their profile?)
We should warn the user when navigating away if they did this

[2021-04-03 23:24] aapeliv commented on #959
I think it's Marta

[2021-04-03 23:28] #953 closed, assigned to aapeliv

[2021-04-03 23:50] CouchersBot opened #962 "[TEST]"
Subject: [TEST]
Description:
Testing

Steps:

Results:

Backend version: develop-0184f707
Frontend version: develop-0184f707
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://app.couchers.org/
User (spoofable): ('aapeli',) (1)

[2021-04-03 23:51] #962 closed, assigned to nobody

[2021-04-04 13:49] CouchersBot opened #964 "Lower case letters even when it's entered as upper case"
Subject: Lower case letters even when it's entered as upper case
Description:
On the edit home page there are fields for adding more info, for some reason they do not save capital letters.

Steps:
Saved info into the edit home optional fields.

Results:
The way you enter the text should be the way it gets saved :)

Backend version: develop-81781a7b
Frontend version: develop-0184f707
User Agent: Mo

[2021-04-04 14:36] cmtcosta opened #965 "[Landing page] design discrepancies"
### Environment
iPhone 8 / browser: Safari

### Steps to repro
1. Access  https://develop--frontend.preview.coucher.org/ 

### Expected results
![image](https://user-images.githubusercontent.com/6439724/113512110-14e44980-955b-11eb-8d36-0aa595e040d4.png)

### Actual results
![IMG_6877](https://user-images.githubusercontent.com/6439724/113512147-3ba28000-955b-11eb-99a4-82d39e853250.PNG)
- KO Differ

[2021-04-04 14:41] cmtcosta opened #966 "[signup page] missing elements"
### Environment
iPhone 8 / browser: Safari

### Steps to repro

1. Access  https://develop--frontend.preview.coucher.org/ 
2. Press “Sign up”

### Expected results
![image](https://user-images.githubusercontent.com/6439724/113512321-00548100-955c-11eb-8aa5-e31985879cdd.png)

### Actual results
![IMG_6879](https://user-images.githubusercontent.com/6439724/113512336-1104f700-955c-11eb-969b-901a571dd

[2021-04-04 14:55] cmtcosta opened #967 "[signup/your basic details page] design descrepancies"
### Environment
iPhone 8 / browser: Safari

### Steps to repro

1. Access  https://develop--frontend.preview.coucher.org/ 
2. Press “Sign up”
3. Enter valid email address
4. Press “Sign up”
5. On signup email, click the link

### Expected results
![image](https://user-images.githubusercontent.com/6439724/113512458-aa340d80-955c-11eb-90fd-2d6cf42f1dc1.png)

### Actual results
![gif](https://user-im

[2021-04-04 15:13] cmtcosta commented on #967
once all data is filled correctly and the user presses "Sign up", they are taken to a scrolled-down by default home page
<img src="https://user-images.githubusercontent.com/6439724/113513201-55929180-9560-11eb-98bd-381a311e04a9.PNG" width="350"> <img src="https://user-images.githubusercontent.com/6439724/113513202-56c3be80-9560-11eb-92e7-1fe04caaea72.PNG" width="350">

[2021-04-04 15:20] cmtcosta opened #968 "[signup] “Stick to our rules!” page missing"
### Environment
iPhone 8 / browser: Safari

### Steps to repro

1. Access  https://develop--frontend.preview.coucher.org/ 
2. Press “Sign up”
3. Enter valid email address
4. Press “Sign up”
5. On signup email, click the link
6. Fill in all fields correctly
7. Press "Sign up" button

### Expected results
![image](https://user-images.githubusercontent.com/6439724/113513414-8921eb80-9561-11eb-899b-09

[2021-04-04 15:37] cmtcosta opened #969 "[login page] design descrepancies"
### Environment
iPhone 8 / browser: Safari

### Steps to repro
1. Access https://develop--frontend.preview.coucher.org/
2. Click "Log in" button

### Expected results
![image](https://user-images.githubusercontent.com/6439724/113513757-16b20b00-9563-11eb-8f63-1e603902cdc0.png)

### Actual results
<img src="https://user-images.githubusercontent.com/6439724/113513790-334e4300-9563-11eb-94fb-5bfaf2d2

[2021-04-04 16:00] cmtcosta opened #970 "[settings] Missing link to account settings page"
### Environment
iPhone 8 / browser: Safari

### Steps to repro
1. Log in the app
2. Go to https://develop--frontend.preview.couchershq.org/account-settings

### Expected results
The account settings page exists and can be accessed by navigating from the home page.

### Actual results
<img src="https://user-images.githubusercontent.com/6439724/113514493-e1a7b780-9566-11eb-9dfb-4ba2d361cb13.png" hei

[2021-04-04 18:32] CouchersBot opened #972 "Friend requests cannot be found outside of email?"
Subject: Friend requests cannot be found outside of email?
Description:
Someone sent me a friend request and I got an email notification. However, if I log into my account from the regular log-in link (not from the email showing the notification), I can't see anywhere that I've received a friend request. When I go to the user's, profile, it says "Pending" on the friendship status, whereas there sh

[2021-04-04 20:08] lucaslcode commented on #542
Closed in #737

[2021-04-04 20:08] #542 closed, assigned to lucaslcode

[2021-04-04 23:35] darrenvong commented on #972
This is being addressed in #905.

Also this is not entirely true - you can see the list of pending friend requests by going to your own profile, then click the "My connections" button for the time being.

[2021-04-04 23:35] #972 closed, assigned to nobody

[2021-04-04 23:39] darrenvong commented on #968
We should probably add this as a requirement before the user gets out of jail? Does that require backend change @aapeliv?

[2021-04-05 00:04] darrenvong commented on #969
This is intentional, since not all users have a password set. Pressing "continue" checks that and shows the password field if they have one.

missing "Login with facebook" and "Login with google" buttons

These are irrelevant for now as we aren't supporting Facebook/Google auth for the time being.

So the only bug here as far as I'm concerned is the last point.

[2021-04-05 02:41] #907 closed, assigned to ceelo777

[2021-04-05 08:35] cmtcosta commented on #969
Fair enough, thanks for looking into this @darrenvong !

[2021-04-05 08:46] ItsiW opened #980 "Critical changes to signup flow"
Some changes before we can start pushing it on marketing channels

- [x] Change to the date selector component so it's easier to change years
- [ ] Add ("press Enter to search") to map search descriptive text
- [ ] Make magnifying glass replicate hitting enter on map search input
- [ ] Remove adjustable radius, and set it at 1km (although leave this as adjustable on the edit profile page)
- [ ] Ne

[2021-04-05 10:01] CouchersBot opened #981 "Profile Picture Quality"
Subject: Profile Picture Quality
Description:
Pixel stew. I uploaded a normal photo taken with a 5 year old smartphone and it is all blurry/pixely, so that one can only guess how exactly I look from it. (see my profile: https://app.couchers.org/user/hjall)

Also, I had to upload it three times until i noticed that after confirming the photo with the check mark I still had to click "save" at the bo

[2021-04-05 11:46] aapeliv commented on #981
Dupe of #871

[2021-04-05 11:46] #981 closed, assigned to nobody

[2021-04-05 12:03] aapeliv commented on #896
If someone wants to work on this but is not very familiar with the AWS SDKs, you can start by just creating a `send_sms` dummy function, and I can fill it in with the actual delivery code later. That's the easy bit. Other than that, what's needed is:

1. RPC definitions for functions to add a phone number and verify it subsequently
2. Database modifications to store the phone number and the verifi

[2021-04-05 12:04] aapeliv commented on #896
For phone number verification and formatting, this should work:

[code]

[2021-04-05 13:54] justjooshing commented on #980
The color contrast is also quite hard to read on mobile (edit: created new issue here [#983](https://github.com/Couchers-org/couchers/issues/983)
![image](https://user-images.githubusercontent.com/60824744/113581260-d31cd700-961e-11eb-8352-ee326e461ca9.png)

[2021-04-05 13:58] justjooshing commented on #980
@ItsiW What's difficult re the ease of changing years atm?
Just the default date being 1900? I found it easy to type in a date on mobile, but first tried using the calendar and scrolling by month from 1900 is ridiculous haha

[2021-04-05 14:03] ItsiW commented on #980
Looks like we'll have to change that link colour, could you put up an issue for that?

Yeah it's just that using the calendar widget is too difficult and I think most people would use that rather than typing. Even if it was 5 years away from your birthdate that's a lot of scrolling

[2021-04-05 14:12] justjooshing opened #983 "[signup] Link color difficult to read"
On mobile the Couchers guidelinks link is difficult to read, and I'm sure the text/background contrast would fail accessibility tests (particularly the field labels).

![image](https://user-images.githubusercontent.com/60824744/113582942-ea5cc400-9620-11eb-99da-a7b547be98b5.png)

On desktop its fine (below) so maybe we should just make the mobile signup background white as well?
![image](https://u

[2021-04-05 14:46] lucaslcode commented on #980
@justjooshing is working on year input. @aapeliv is working on map related issues.

[2021-04-05 23:49] #850 closed, assigned to darrenvong

[2021-04-06 01:28] ShmuelTreiger commented on #947
Counter-point, we should leave middle earth an acceptable region

[2021-04-06 16:59] trevvorko commented on #925
I am a first time contributor, I'd like to tackle this issue. Is there any tips or pointers about the issue I should know before adding more error handling?

[2021-04-06 17:21] aapeliv commented on #925
Hi @trevvorko: we'd be super happy to have you help out and contribute. I think I've just fixed this issue in #985 though, I didn't remember we had an issue open so didn't link it.

I'll ping @lucaslcode to chime in and see if he could assign you another issue; he's the frontend lead.

[2021-04-06 17:36] lucaslcode commented on #925
Hi @trevvorko ! How about #923?

[2021-04-06 17:38] trevvorko commented on #925
Sounds good! I'll take some time to get my development environment setup and work on that issue.

[2021-04-06 19:45] Tay0108 commented on #547
I don't know how to filter features (markers) on clustered layer - do you have any ideas? Or maybe we should turn if off for search?

[2021-04-06 19:50] aapeliv commented on #547
It seems difficult: https://stackoverflow.com/questions/36179464/mapbox-gl-js-filtering-marker-clusters.

Let's leave it out for now, I'm not sure what the prettiest way is, I guess just turn clustering off?

[2021-04-06 19:52] Tay0108 commented on #547
Yeah, I think this would be the best for now, because you would see a lot of clusters and no users after you zoom in.

[2021-04-06 19:58] alexishonzik commented on #983
Hi! I am interested in tackling this issue. I am currently downloading the repo, and was wondering if I could have access to the Slack channel to ask a question. Thank you!

[2021-04-06 20:02] lucaslcode commented on #925
@trevvorko if you comment on it, I can assign you

[2021-04-06 20:03] trevvorko commented on #923
I will complete this task. Is there also a link to the Slack channel somewhere? I couldn't find it anywhere in the README

[2021-04-06 20:04] lucaslcode commented on #983
Hi @alexishonzik! Send me an email: Lucas (ä t) couchers . org

[2021-04-06 20:05] lucaslcode commented on #923
Send me an email

[2021-04-06 20:09] alexishonzik commented on #983
@lucaslcode Just did! thanks!

[2021-04-07 02:25] ItsiW commented on #980
Looking at the new date selector component, could we make it so that it opens up to the year selection? This removes an extra click and I feel the year selector option is slightly less than obvious

[2021-04-07 07:44] CouchersBot opened #990 "Message send button on mobile should be on right of text box"
Subject: Message send button on mobile should be on right of text box
Description:
My send button is blocked by my url bar (Firefox app has url bar on the bottom)

Steps:
I used couchers and Firefox at the same time

Results:
I was blocked from hitting send! Button should be on the right so it's easily accessible and same as other messaging mobile apps

Backend version: develop-7df73a94
Frontend v

[2021-04-07 08:32] justjooshing commented on #980
Alright, just pushed that change, for the birthday signup flow only (the others will still open on date). Let me know what you think once it's merged, and we can adjust if we want @ItsiW
https://github.com/Couchers-org/couchers/pull/991

[2021-04-07 08:52] ItsiW opened #992 "Simplify bug reporting tool"
We should only have 3 fields:

1. Brief description of the bug (title)
2. What did you do to trigger the bug?
3. What happened? What should have happened?

[2021-04-07 08:55] justjooshing commented on #990
![image](https://user-images.githubusercontent.com/60824744/113839236-6bce6680-9787-11eb-8dd4-f0f65178c20c.png)

Like this @ItsiW?

[2021-04-07 09:52] jiwon1219 commented on #939
Hi! I'd like to work on this issue!

[2021-04-07 13:51] #980 closed, assigned to aapeliv, justjooshing

[2021-04-07 15:40] CouchersBot opened #996 "[TEST]"
Subject: [TEST]
Description:
asdf

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version: develop-1f987511-next
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://develop--frontend.preview.couchershq.org/
User ID: 1

[2021-04-07 15:40] #996 closed, assigned to nobody

[2021-04-07 15:41] aapeliv commented on #992
While the bug reporter is being touched: I think it'd also be good for it to disappear after the bug is reported (or at least for the fields to be emptied). Currently it stays open with the text still in. There is also no cancel button, so it might not be 100% obvious you have to click outside the box to close it. Would be good for it to be a bit wider too?

[2021-04-07 16:10] CouchersBot opened #998 "[test]"
Subject: [test]
Description:
sdf

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/messages/chats/3
User ID: 1

[2021-04-07 16:10] #998 closed, assigned to nobody

[2021-04-07 17:03] CouchersBot opened #999 "[TEST]"
Subject: [TEST]
Description:
Testing

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/messages
User ID: 1

[2021-04-07 17:04] CouchersBot opened #1000 "One thousandth issue!"
Subject: One thousand issue!
Description:
Just testing though :)

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/messages
User ID: 1

[2021-04-07 17:04] #1000 closed, assigned to nobody

[2021-04-07 17:04] #999 closed, assigned to nobody

[2021-04-07 17:06] CouchersBot opened #1001 "Sorry for the spam"
Subject: Sorry for the spam
Description:
testing

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/messages
User ID: 1

[2021-04-07 17:07] #1001 closed, assigned to nobody

[2021-04-07 18:20] CouchersBot opened #1002 "Can sign up with empty gender"
Subject: Can sign up with empty gender
Description:
I can sign up without choosing a value for gender

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version: develop-1f987511-next
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: https://develop--frontend.preview.couchershq.org/user
User ID: 40

[2021-04-07 18:58] trevvorko commented on #923
This is what I see for an outstanding host request. Could I get a little bit more information about what exactly should be bold that isn't? Or am I looking at the wrong host request location.
<img width="952" alt="image" src="https://user-images.githubusercontent.com/70543001/113919777-faf07400-97b1-11eb-96bc-cd9cb56dbe1f.png">

[2021-04-07 19:09] aapeliv commented on #923
When you have an unread message in the first tab (Chats), the message will be bolded, both message and author.

<img width="404" alt="Screen Shot 2021-04-07 at 3 08 05 pm" src="https://user-images.githubusercontent.com/2975660/113920673-16a84a00-97b3-11eb-938f-901bf397ec89.png">

When you have an unread message in a hosting/surfing request, this doesn't happen, there's no way to visually distingui

[2021-04-07 19:16] trevvorko commented on #923
Ah okay I see. I will make it so it is bolded when there is an unread message from the other party (Host/Requester).

[2021-04-07 19:17] aapeliv commented on #923
Great, thanks!

[2021-04-07 19:23] aapeliv opened #1003 "Styling discrepancies between dev and build"
I'm not 100% what causes it, my first guess is that the priority of CSS rules changes in hot reload vs build mode because the CSS classes change name and all rules in them are crossed out in firefox

Preview build:

<img width="997" alt="Screen Shot 2021-04-07 at 3 16 06 pm" src="https://user-images.githubusercontent.com/2975660/113921717-54f23900-97b4-11eb-98b5-3691fb6372ac.png">

Local version w

[2021-04-07 19:25] trevvorko opened #1004 "[bug][frontend] Message list does not show new messages in preview until refresh"
When a user sends a message to another user in chats, hosting, or surfing tab, the recipient will see the number badge update in the tab list. The conversation preview does not update by showing the latest message that was received until the user refreshes the page or leaves the tab and goes back. This isn't a big issue, but if a user is actively chatting with another user and wants to see the mes

[2021-04-07 19:37] lucaslcode commented on #1003
Looks like yet another instance of "we fixed it in v5" from MUI which is bloody annoying because it's a huge migration and v5 isn't even stable yet. https://github.com/mui-org/material-ui/issues/16316

[2021-04-07 19:39] lucaslcode commented on #1003
I believe a workaround might be using the `classes` prop instead of `className`

[2021-04-07 19:43] lucaslcode commented on #1004
This can be solved in the notifications logic by invalidating the list of chats when a new message comes in

[2021-04-07 20:49] justjooshing commented on #964
Easy fix - I was lowercasing the text because it's after a comma, so people couldn't go "Yes, Smoking is ok", as that capitalisation looks weird. But you're right, I think it's better the other way, so we don't auto-lowercase names or 'I' accidentally, for example.

[2021-04-07 22:34] CouchersBot opened #1009 "[testing]"
Subject: [testing]
Description:
asfd

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version:
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:88.0) Gecko/20100101 Firefox/88.0
Page: http://localhost:3000/
User ID: 1

[2021-04-07 22:34] #1009 closed, assigned to nobody

[2021-04-07 22:50] #970 closed, assigned to ineswq

[2021-04-07 22:55] CouchersBot opened #1011 ""has housemates" looks terrible when text length exceeds column width"
Subject: "has housemates" looks terrible when text length exceeds column width
Description:
If the text entry of the user under "has roomates" exceeds the nominal width of the column, it looks really bad on the person's profile. See screenshot below.

Steps:
I typed in a long text entry and then viewed my profile to see what it looks like for other users.

Results:
We should limit the entry to a y

[2021-04-07 22:56] jesseallhands commented on #1011
![image](https://user-images.githubusercontent.com/79384268/113944711-9f7eb000-97ca-11eb-9945-114f103c91ed.png)

[2021-04-07 22:59] jesseallhands commented on #992
Would it be helpful to devs to also allow uploading of images? I usually just log in on GitHub, find the bug I just reported and post the screenshot there, but it might be more helpful if people could upload a screenshot directly within the bug reporting tool.

[2021-04-07 23:01] aapeliv commented on #992
Yes, but it's quite complicated, so we'll leave it til later

[2021-04-07 23:18] #862 closed, assigned to nobody

[2021-04-07 23:25] #1002 closed, assigned to nobody

[2021-04-07 23:37] CouchersBot opened #1012 "test"
Subject: test
Description:
test

Steps:

Results:

Backend version: develop-0e8fdee4
Frontend version: frontend-feature-simpler-bugreporter-67e793f5-next
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.105 Safari/537.36
Page: https://67e793f5--frontend.preview.couchershq.org/
User ID: 4

[2021-04-07 23:39] #1012 closed, assigned to nobody

[2021-04-07 23:41] darrenvong commented on #1011
I think this should be fixed with #945 as they are related

[2021-04-07 23:43] CouchersBot opened #1013 "No notification is sent after someone confirms a friend request"
Subject: No notification is sent after someone confirms a friend request
Description:
When I send a friend request, I don't get an e-mail notification when the person accepts the friend request.

Steps:
I sent a friend request and the person accepted it, but I never got an e-mail notification.

Results:
I should receive a notification via e-mail whenever someone accepts my friend request.

Backend

[2021-04-07 23:45] CouchersBot opened #1015 "No notification is sent after someone confirms a friend request"
Subject: No notification is sent after someone confirms a friend request
Description:
When I send a friend request, I don't get an e-mail notification when the person accepts the friend request.

Steps:
I sent a friend request and the person accepted it, but I never got an e-mail notification.

Results:
I should receive a notification via e-mail whenever someone accepts my friend request.

Backend

[2021-04-07 23:46] #1015 closed, assigned to nobody

[2021-04-07 23:46] aapeliv commented on #1015
Dupe of #1013

[2021-04-08 00:07] cmtcosta opened #1016 "[settings] User's email address not displayed in account settings page"
### Environment
iPhone 8 / browser: Safari

### Steps to repro
1. Log in the app
2. Go to https://develop--frontend.preview.couchershq.org/account-settings

### Expected results
The user's email is displayed under "Change Email" section.
This can prevent confusion about which email a user has associated to their account (namely if they login with a username only).

### Actual results
The user's em

[2021-04-08 00:33] couchersbot opened #1017 "grammar & text errors under "hosting preferences" & "about my home""
Subject: grammar & text errors under "hosting preferences" & "about my home"
Description:
When I view the "hosting preferences" section of my profile as seen by other users, there are a few other issues:

"Last minute requests" should be "Accepts last minute requests"

"Accept camping" is grammatically incorrect and unclear. It should be "Tent camping available"

"Accept children" & "accept pets"

[2021-04-08 00:41] CouchersBot opened #1018 "All input data is lost when clicking outside the bug reporting window"
Subject: All input data is lost when clicking outside the bug reporting window
Description:
If I type up a nice, big, long bug report and accidentally click outside of the box, I lose all of the text I typed up. When I click on the bug reporting button again, the text I previously entered is no longer there.

Steps:
Typed up a huge amount of text in a bug report, then clicked outside of the bug re

[2021-04-08 00:41] jesseallhands commented on #1018
Pretty sure #997 can close this but I'm not sure

[2021-04-08 00:42] aapeliv commented on #1018
It doesn't currently, but I'll see what it takes

[2021-04-08 00:43] naspitha opened #1019 "Change style sheet for profile page on medium-sized screens?"
Profile layout looks good on large PC screens and on phone, but the "phone" layout also seems to apply for medium-sized screens (below ~960 px), such that the profile picture now takes up the entire page width and looks humongous.
![image](https://user-images.githubusercontent.com/23509977/113951550-5e41cc80-97d9-11eb-9e46-82dc116d84bf.png)

I think it would be better if the intermediate-screen-si

[2021-04-08 00:49] aapeliv commented on #1019
I know it doesn't look ideal but this is pretty low priority

[2021-04-08 01:04] aapeliv commented on #1018
Modified that to close this

[2021-04-08 01:31] aapeliv opened #1020 "CORS preflight requests not cached"
Looking at network activity, it seems the browser is doing one `OPTIONS` request per API call. This is terribly inefficient (in terms of client latency), these should be cached.

[2021-04-08 01:35] aapeliv commented on #466
We can create our own style: either with Mapbox's editor or with maputnik. However, if we do make our own style, we should do it with maputnik I believe as that stack is fully open source; mapbox won't let you use a style for their layers with your own layer. If we grow large enough, we will want to run our own tile servers, but for now mapbox or any other base tile provider will suffice. I would

[2021-04-08 07:42] CouchersBot opened #1021 "alert only pops up at the top,"
Subject: alert only pops up at the top,
Description:
when the save is at the bottom of the screen you can't see the alert and don't know if there is a problem or was it saved.

Steps:
hit save, and "nothing" happened. had to look for the problem manually

Results:
alert should either pop up near the save button or screen should scroll automatically to the alert/problem

also, might be good to anch

[2021-04-08 08:21] CouchersBot opened #1022 "Add instruction on how to to set a password"
Subject: how to set/change password
Description:
how to set/change password

Steps:
when logging just sent me an email with a link

Results:
offer to do a regular login

Backend version: develop-1f987511
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
Page: https://app.couchers.org/user/edit#loc=13/43.78307/11.10365
User (spoofabl

[2021-04-08 08:21] CouchersBot opened #1023 "how to set/change password"
Subject: how to set/change password
Description:
how to set/change password

Steps:
when logging just sent me an email with a link

Results:
offer to do a regular login

Backend version: develop-1f987511
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
Page: https://app.couchers.org/user/edit#loc=13/43.78307/11.10365
User (spoofabl

[2021-04-08 08:23] CouchersBot opened #1024 "dismiss window for bug report"
Subject: dismiss window for bug report
Description:
the bug reporting popup remain and is not possible to turn off
missing dismiss button !

Steps:
sendt a bug report and remain stuck with the bug report popup page.

Results:
have a dismiss button

Backend version: develop-1f987511
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
P

[2021-04-08 11:53] #497 closed, assigned to nobody

[2021-04-08 11:53] #925 closed, assigned to nobody

[2021-04-08 11:53] #950 closed, assigned to aapeliv

[2021-04-08 11:54] aapeliv commented on #1024
Closed in #997

[2021-04-08 11:54] #1024 closed, assigned to nobody

[2021-04-08 11:54] aapeliv commented on #1023
Dupe of #1022

[2021-04-08 11:54] #1023 closed, assigned to nobody

[2021-04-08 12:38] aapeliv opened #1026 "Autolink weirdness in markdown editor"
Add an [autolink](https://spec.commonmark.org/0.29/#autolinks):

<img width="526" alt="Screen Shot 2021-04-08 at 8 36 37 am" src="https://user-images.githubusercontent.com/2975660/114027733-b0b8d280-9845-11eb-8be3-6cbcb113ab14.png">

Save it, and you get this:

<img width="381" alt="Screen Shot 2021-04-08 at 8 36 55 am" src="https://user-images.githubusercontent.com/2975660/114027750-b44c5980-9845

[2021-04-08 12:39] aapeliv commented on #1026
This is a really tiny thing and doesn't matter much

[2021-04-08 12:47] cmtcosta commented on #1016
![image](https://user-images.githubusercontent.com/6439724/114029022-02c31d80-9871-11eb-8fca-7ceb8ec20fcc.png)

[2021-04-08 12:50] cmtcosta commented on #1022
this misunderstanding could be solved by indicating how the user can set a pwd
* in the magic link email
* in an info prompt displayed upon first login in the app

[2021-04-08 14:05] lucaslcode commented on #1026
It's because of my crude html stripping, removes everything between <> that
isn't <br>

On Thu, 8 Apr 2021 at 13:39, Aapeli Vuorinen ***@***.***>
wrote:

[2021-04-08 14:08] aapeliv commented on #1026
Is that just a backup solution/for aesthetics? If so, I'm happy to close this.

The markdown renderer does it's own cleaning too, right?

[2021-04-08 14:16] lucaslcode commented on #1026
Yes, it filters out xss-relevant stuff itself, but I thought it's better to avoid html altogether.

[2021-04-08 17:52] aapeliv opened #1028 "Bug in location selector"

[2021-04-08 18:31] lucaslcode commented on #1028
?

[2021-04-08 18:32] aapeliv commented on #1028
Yeah, sorry... I went out to investigate what it is

[2021-04-08 20:02] #1028 closed, assigned to nobody

[2021-04-08 21:24] #992 closed, assigned to nobody

[2021-04-08 21:24] #1018 closed, assigned to nobody

[2021-04-08 21:36] #923 closed, assigned to trevvorko

[2021-04-08 21:45] CouchersBot opened #1031 "Testing bug reporter from preview"
Subject: Testing bug reporter from preview
Description:
I didn't trigger a bug.

Results:
Everything worked as I expected.

Backend version: develop-11ca2aed
Frontend version: develop-bd28d49f-next
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://develop--frontend.preview.couchershq.org/events
User (spoofable): aapeli (1)

[2021-04-08 21:45] #1031 closed, assigned to nobody

[2021-04-08 23:16] aapeliv opened #1032 "Logging issues"
[code]

[2021-04-08 23:48] CouchersBot opened #1034 "App frozen after sendig request"
Subject: App frozen after sendig request
Description:
I sent a hosting request.

Results:
I got the green "request sent" overlay, and it got stuck in that point, couldn't click on the menu or anything, had to refresh the page.

Backend version: develop-be17c238
Frontend version: develop-be17c238
User Agent: Mozilla/5.0 (Linux; Android 9; FIG-LX3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.

[2021-04-08 23:49] aapeliv opened #1035 "Investigate/set up Sentry on frontend"

[2021-04-09 06:39] #1032 closed, assigned to nobody

[2021-04-09 16:10] #990 closed, assigned to justjooshing

[2021-04-09 22:28] CouchersBot opened #1041 "Text color of navigation text in top bar not the same as Couchers.org wordmark"
Subject: Text color of navigation text in top bar not the same as Couchers.org wordmark
Description:
The orange of the navigation text in the top bar (Dashboard, events, messages, etc) is not the same orange as the Couchers.org wordmark.

Results:
The oranges should be the same.

Backend version: develop-d732f04e
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x

[2021-04-09 22:28] CouchersBot opened #1042 "Text color of navigation text in top bar not the same as Couchers.org wordmark"
Subject: Text color of navigation text in top bar not the same as Couchers.org wordmark
Description:
The orange of the navigation text in the top bar (Dashboard, events, messages, etc) is not the same orange as the Couchers.org wordmark.

Results:
The oranges should be the same.

Backend version: develop-d732f04e
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x

[2021-04-09 22:28] CouchersBot opened #1043 "Text color of navigation text in top bar not the same as Couchers.org wordmark"
Subject: Text color of navigation text in top bar not the same as Couchers.org wordmark
Description:
The orange of the navigation text in the top bar (Dashboard, events, messages, etc) is not the same orange as the Couchers.org wordmark.

Results:
The oranges should be the same.

Backend version: develop-d732f04e
Frontend version: develop-1f987511
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x

[2021-04-09 22:28] jesseallhands commented on #1041
![image](https://user-images.githubusercontent.com/79384268/114246747-016d2000-9959-11eb-9168-e4803639bda1.png)

Sorry about the multiple reporting. I'm not getting a snackbar that tells me I submitted the bug report successfully...

[2021-04-09 22:30] CouchersBot opened #1044 "No snackbar at the top of the bug reporting window to show bug reporting successful"
Subject: No snackbar at the top of the bug reporting window to show bug reporting successful
Description:
Normally after clicking submit to send a bug report, there was a snackbar notification at the top telling me the bug number and that the report was successful

Results:
There should be a notification to let the person know that the bug report was submitted successfully.

Backend version: devel

[2021-04-09 22:31] CouchersBot opened #1045 "Test"
Subject: Test
Description:
test

Results:
test

Backend version: develop-d732f04e
Frontend version: develop-d732f04e
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://app.couchers.org/
User (spoofable): jesse (57)

[2021-04-09 22:31] lucaslcode commented on #536
Component is done, default headings need to be done still

[2021-04-09 22:31] lucaslcode commented on #1042
dupe #1041

[2021-04-09 22:31] #1042 closed, assigned to nobody

[2021-04-09 22:31] lucaslcode commented on #1043
dupe #1041

[2021-04-09 22:31] #1043 closed, assigned to nobody

[2021-04-09 22:31] lucaslcode commented on #940
closed in #536

[2021-04-09 22:31] #940 closed, assigned to nobody

[2021-04-09 22:32] jesseallhands commented on #1044
I think this is actually fixed. I had an old instance of the app up in my browser. When I clicked ctrl + F5 it refreshed and then the bug reporting worked fine/normally and I did get a notification.

[2021-04-09 22:32] jesseallhands commented on #1045
This can be closed along with #1044

[2021-04-09 23:02] #1045 closed, assigned to nobody

[2021-04-09 23:02] #1044 closed, assigned to nobody

[2021-04-10 05:19] thdk commented on #969
Duplicate of #966

[2021-04-10 05:25] CouchersBot opened #1046 "Can't go to profile of chat partner"
Subject: Can't go to profile of chat partner
Description:
I have written a message to someone. He didn't reply yet.
I clicked on his name on the top.

Results:
Nothing happened. I expected to be redirected to his profile.

Backend version: develop-d732f04e
Frontend version: develop-d732f04e
User Agent: Mozilla/5.0 (Linux; Android 11; Pixel 3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389

[2021-04-10 06:27] couchersbot opened #1047 "When editing profile, editing text around URLs causes errors"
Subject: When editing profile, editing text around URLs causes errors
Description:
Edited my profile, specifically a text that contained a link and whenever I tried to delete or insert a letter or space, in or near the URL, the cursor jumped and would not let me correct the text. See the video linked below.

Results:
It should have allowed me to edit the text like normal.

Backend version: develop

[2021-04-10 06:27] CouchersBot opened #4211 "When editing profile, editing text around URLs causes errors"
Subject: When editing profile, editing text around URLs causes errors
Description:
Edited my profile, specifically a text that contained a link and whenever I tried to delete or insert a letter or space, in or near the URL, the cursor jumped and would not let me correct the text. See the video linked below.

Results:
It should have allowed me to edit the text like normal.

Backend version: develop

[2021-04-10 06:29] AllhandsNoFeet commented on #1047
Here is a video that shows the behavior. Please note that I did not move the cursor by tapping (other than to move my cursor back to the end of the link):

https://photos.app.goo.gl/rkvMmYxmJGDhiBNL6

[2021-04-10 06:29] jesseallhands commented on #4211
Here is a video that shows the behavior. Please note that I did not move the cursor by tapping (other than to move my cursor back to the end of the link):

https://photos.app.goo.gl/rkvMmYxmJGDhiBNL6

[2021-04-10 06:54] CouchersBot opened #1048 "When landing on map page on mobile, map size is too big"
Subject: When landing on map page on mobile, map size is too big
Description:
Clicked on map navigation link in drawer and upon landing of map page, bottom of map box extends beyond window of my mobile phone. See screenshot below.

Results:
Map box should be responsive vertically in addition to horizontally and should not extend beyond bottom of screen (which forces scrolling). Map page should not

[2021-04-10 06:55] jesseallhands commented on #1048
![Screenshot_20210410-015026_Firefox](https://user-images.githubusercontent.com/79384268/114261371-cb06c380-999f-11eb-8bce-723510736641.jpg)

[2021-04-10 10:17] thdk commented on #851
Hi everyone! I would love to pick up this issue (and join the development team if I may :) ).

[2021-04-10 10:27] lucaslcode commented on #851
Assigned! Also send me an email (address on my profile)

[2021-04-10 14:20] darrenvong commented on #851
One other thing I forgot to write in the first description, can you also look at linting the test files too while you are in the area please? I think these are all related enough issues that it'd be good to fix them together. Apologies if that might mean more files to fix 😬

[2021-04-10 17:01] thdk commented on #851
No worries, I've jest setup my dev environment so I can start working.

Do you mean these two lint warnings?

![image](https://user-images.githubusercontent.com/4201102/114278239-174d1480-9a2f-11eb-97f9-b24417a2b53d.png)

[2021-04-10 19:36] couchersbot opened #1049 "Map is bugging out man"
Subject: Map is bugging out man
Description:
Sometimes I go to the map and nothing loads, and then nothing on the entire beta loads. Sometimes I refresh and it works.

Results:
I mean mainly when you click "map" you should see the map, not blank page, and it shouldn't make the whole beta stop loading either :D

Backend version: develop-d732f04e
Frontend version: develop-d732f04e
User Agent: Mozill

[2021-04-10 19:36] CouchersBot opened #4210 "Map fails to load, WebGL issues"
Subject: Map is bugging out man
Description:
Sometimes I go to the map and nothing loads, and then nothing on the entire beta loads. Sometimes I refresh and it works.

Results:
I mean mainly when you click "map" you should see the map, not blank page, and it shouldn't make the whole beta stop loading either :D

Backend version: develop-d732f04e
Frontend version: develop-d732f04e
User Agent: Mozill

[2021-04-10 21:14] darrenvong commented on #851
Yup! Looks like there aren't too many then 😌

[2021-04-10 21:18] darrenvong commented on #969
@thdk good spot! I'll close the other one since I commented here so whoever works on this knows to only the fix the scroll problem

[2021-04-10 21:19] darrenvong commented on #966
Duplicate of #969

[2021-04-10 21:19] #966 closed, assigned to nobody

[2021-04-10 21:27] lucaslcode commented on #1003
Solved in #1039

[2021-04-10 21:27] #1003 closed, assigned to nobody

[2021-04-10 21:37] CouchersBot opened #1050 ""About my home" profile section should be moved from the "about me" tab to the "home" tab"
Subject: "About my home" profile section should be moved from the "about me" tab to the "home" tab
Description:
When visiting someone's profile the "about my home" section appears on the "about me" tab of the profile instead of the "home" tab of the profile. This is confusing and it feels out of place.

Results:
Move "about my home" section of the profile to the "home" tab

Backend version: develo

[2021-04-10 23:08] trevvorko commented on #900
If no one has already worked on this I'd like to contribute. I could probably write tests for the high priority section detailed above. Let me know if there's anything I should be aware of before starting.

[2021-04-10 23:20] #831 closed, assigned to ceelo777

[2021-04-11 00:34] aapeliv commented on #900
@ShmuelTreiger was going to work on this after some other issues, but I think it's fine for you to start working on this as I don't think Sam started yet. The tests are also quite decoupled so I'm sure there's also work for both of you if you wish to share!

[2021-04-11 03:47] ShmuelTreiger commented on #900
By all means. It's on my todo list, but feel free!

[2021-04-11 10:34] ShmuelTreiger opened #1053 "[Bug][Backend] Can only mark host requests as seen by replying"
Only way to mark a host request as "seen" is by replying. This is true for both the host and the guest. Ideally, just opening the request should update its status.

[2021-04-11 13:37] ineswq commented on #939
See #1037 and #1054 - missed that the routes lead to `/url` rather than `url`.

[2021-04-11 13:38] javiwq commented on #939
See #1037 and #1054 - Realized the links lead to `/url` instead of `url`.

[2021-04-11 15:49] mar7yn commented on #1004
Hi. I can look into this one

[2021-04-11 17:13] CouchersBot opened #1061 "Basic SEO on app"
Subject: Basic SEO on app
Description:
The app domain needs some rudimentary SEO, a basic description, share image, etc.

Results:

Backend version: develop-1e144287
Frontend version: develop-1e144287
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/
User (spoofable

[2021-04-11 19:54] aapeliv commented on #1049
<img width="572" alt="Screen Shot 2021-04-11 at 3 53 57 pm" src="https://user-images.githubusercontent.com/2975660/114319164-41a9db00-9ade-11eb-804d-935267b5fa2e.png">

[2021-04-11 19:54] aapeliv commented on #4210
<img width="572" alt="Screen Shot 2021-04-11 at 3 53 57 pm" src="https://user-images.githubusercontent.com/2975660/114319164-41a9db00-9ade-11eb-804d-935267b5fa2e.png">

chrome://gpu

<img width="710" alt="Screen Shot 2021-04-11 at 4 00 55 pm" src="https://user-images.githubusercontent.com/2975660/114319414-7b2f1600-9adf-11eb-9c11-075ee32623ca.png">
<img width="721" alt="Screen Shot 2021-04-11 at 4

[2021-04-11 21:38] aapeliv opened #1065 "Clarification on location randomization"
In the weekly social today, people have raised concerns that it's not clear what the circle represents. Some people seem to think we will randomize their location within the circle they place, and so they'll put the center at their house, which is bad.

[2021-04-11 22:10] aapeliv commented on #1065
@ItsiW.

What about writing something along the lines of "This circle will be visible to other users, we do not randomize it further. Please move the circle so that your location is not in the center of the circle but on the periphery." under both location selectors (signup and profile page).

Or then maybe having a dot for the search result?

[2021-04-12 05:05] CouchersBot opened #1068 "Won't let me request for current date"
Subject: Won't let me request for current date
Description:
 I requested to stay with Aapeli on 12/04/2021, my current time is 2:59pm 12/04/2021 AEST

Results:
I got an error that I have to select a date after the current one. Given that is today, it should have been allowed

Backend version: develop-2cba9bcf
Frontend version: develop-2cba9bcf
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv

[2021-04-12 11:52] #941 closed, assigned to nobody

[2021-04-12 14:50] CouchersBot opened #1074 "description meta"
Subject: description meta
Description:
https://www.google.com/search?q=site%3Aapp.couchers.org

Results:
the app shows up with "Web site created using create-react-app." in Google ;)

Backend version: develop-2cba9bcf
Frontend version: develop-2cba9bcf
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36
Page: https://

[2021-04-12 14:51] aapeliv commented on #1074
Duplicate of #1061

[2021-04-12 14:51] #1074 closed, assigned to nobody

[2021-04-12 15:35] aapeliv opened #1075 "Share images have to be full URLs including https"
https://twittercommunity.com/t/card-error-unable-to-render-or-no-image-read-this-first/62736

A friend tried to share on Twitter but had trouble getting the card to display

[2021-04-12 19:12] CouchersBot opened #1077 ""Create new chat" dialog persist"
Subject: "Create new chat" dialog persist
Description:
1. Go to messages
2. Click "Create a new chat" and create a new chat
3. Go to the new chat and write a message
4. Press the browser's back button
5. The dialog from 2 is back

Results:
The dialog should not come back when going back

Backend version: develop-2cba9bcf
Frontend version: develop-2cba9bcf
User Agent: Mozilla/5.0 (Macintosh; Intel

[2021-04-12 20:22] #939 closed, assigned to jiwon1219

[2021-04-12 23:38] #1016 closed, assigned to nobody

[2021-04-12 23:38] #1061 closed, assigned to nobody

[2021-04-12 23:55] CouchersBot opened #1078 "Changing your location/map bug"
Subject: Changing your location/map bug
Description:
I had set up my location as Vilnius when I signed up in the beginning but now I was trying to change the location to Berlin and the suggested options (address option drop down selection) wasn't showing up. I simply wrote Berlin and saved.

Results:
Now my map is stuck to Vilnius and my description is simply 'Berlin'.

Backend version: develop-2c

[2021-04-13 00:35] ItsiW opened #1079 "Limit size of images on emails"
A very lovely photo of Jakub, but perhaps it doesn't need to be in such detail to extend over the margins of the email.

![image](https://user-images.githubusercontent.com/39325627/114479366-c2ceb280-9c43-11eb-90a5-814b7c3766f9.png)

[2021-04-13 01:43] aapeliv commented on #1079
Should be the thumbnail size, not full size. See also #871

[2021-04-13 01:53] #1075 closed, assigned to ItsiW

[2021-04-13 02:09] ItsiW commented on #1065
"The circle should include your house. Please **do not** put your house in the center of the circle. This feature is to maintain user privacy when being displayed on the map"

[2021-04-14 13:39] aapeliv opened #1082 "Error boundary"
As per last frontend meeting, we should set up an error boundary for react so people don't just see blank white pages. It might be good to set up a separate error boundary for the map component? I'm not 100% sure how this all works though!

[2021-04-15 13:39] CouchersBot opened #1085 "Drop down fill in error"
Subject: Drop down fill in error
Description:
Drop down lists in profile management don’t show the field to fill in when selected. Using iPhone 11 Pro Max safari browser

Results:
Select drop down, show field and keyboard simultaneously

Backend version: develop-2cba9bcf
Frontend version: develop-2cba9bcf
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KH

[2021-04-15 14:28] justjooshing commented on #1048
My PR above might fix it, but also, might not

[2021-04-16 00:17] ShmuelTreiger commented on #900
Another area for improved testing would be ensuring that any api request which has a user_id:
1) filters for existing users (e.g: https://github.com/Couchers-org/couchers/blob/a0c66b6e058d6e1d1656a9a1cea5e4b3149ff708/app/backend/src/couchers/servicers/api.py#L433)

2) tests the api with a fake user (e.g. https://github.com/Couchers-org/couchers/blob/a0c66b6e058d6e1d1656a9a1cea5e4b3149ff708/app/bac

[2021-04-16 01:20] CouchersBot opened #1087 "Route for new chat"
A route like "/messages/new/:userId" which looks similar to the current `GroupChatView` but doesn't have an existing thread, just creates it when the first message is sent. (If there is an existing thread, it redirects to it).

Also, when a new chat is created with the new chat dialog, open that chat page instead of going back to the list of chats.

Original report:

Subject: When creating a chat

[2021-04-16 01:30] CouchersBot opened #1088 "When clicking the back button in a brand new chat thread, user is prompted to create a new chat"
Subject: When clicking the back button in a brand new chat thread, user is prompted to create a new chat
Description:
1. Create new chat thread with 1 user.
2. Click on thread and message user.
3. Click back in upper left (Couchers UI, not browser UI)
4. You are prompted to create a new chat
5. Only way to exit is to click outside of prompt window

Results:
There shouldn't be a prompt to create a

[2021-04-16 01:42] jesseallhands commented on #1065
"Click and drag the circle below to show people the approximate location of your home. Make sure your home is not at the center of the circle, so people will not know the exact location."

[2021-04-16 07:12] CouchersBot opened #1090 "Gaps in layout of My connections page on desktop"
Subject: Gaps in layout of My connections page on desktop
Description:
- Have one pending friend request
- Send a friend request

Results:
I see three lists on the my connections page:
1. my friends
2. friend requests
3. friend requests you sent

Expected: three lists should nicely use the available space on the screen. Using two columns on wide screens. Reducing to one columns on narrow screens.

[2021-04-16 07:17] thdk commented on #1050
Do we still need this 'about my home' section?
The 'home' tab already has a section 'Additional information' .

[2021-04-16 08:29] justjooshing commented on #1050
I think having a more specifically named field is better, so people are given a hint on what to write about. We could just swap it in place of 'additional information', but then again 'additional information' is only showing conditionally, so it's probably worth keeping

[2021-04-16 12:53] aapeliv commented on #1088
Duplicate of #1077

[2021-04-16 12:53] #1088 closed, assigned to nobody

[2021-04-16 19:53] aapeliv opened #1092 "Can get users by email"
You shouldn't be able to do this!

https://develop--frontend.preview.couchershq.org/user/[email]

We need to review where `get_user_by_field` is used, and phase it out except for in auth. We need to figure out how the frontend should translate usernames to user IDs as well. In particular, we don't want two trips to the backend for getting a user's profile. At least it needs another function

[2021-04-16 20:16] aapeliv opened #1093 "Database existence checks"
There are a few places in the backend where we check whether some row/object exists in the database, e.g.

[code]

Also in the communities stuff where we check if a user is an admin/member/etc. These queries basically do a `SELECT * FROM ... WHERE ...` in the database, and ship back the whole resulting row to the backend.

This is wasteful and the way we do this all is not standardized and uniform

[2021-04-16 21:13] #918 closed, assigned to ceelo777

[2021-04-16 22:38] ShmuelTreiger commented on #1017
As discussed on slack, I think sleeping privacy should have 3 categories:
1) Private space (i.e. your own bedroom)
2) Common area (i.e. living room where you'll be sleeping alone, but others may enter/exit)
3) Shared room (i.e. air mattress on floor of bedroom)

[2021-04-16 23:43] jesseallhands commented on #1050
The most important things I like to share about my home are:

1. Details about my roommate situation (who lives with me, what their relationship is to me, are they a Coucher or not, and what my guests can expect in terms of interactions with them)
2. Details about where they will be sleeping and what I can offer them specifically (eg: a mattress in a private room, sheets, towels, soap, & toothpast

[2021-04-17 12:25] CouchersBot opened #1095 "Possible double account/login same email"
Subject: Possible double account/login same email
Description:
I had a tab open where I was logged in, and then tried to login in another tab

Results:
It didn't find my user by email, created a new account with the same email. Should have logged me in, or say I was already logged in.

Backend version: develop-2cba9bcf
Frontend version: develop-2cba9bcf
User Agent: Mozilla/5.0 (Windows NT 10.0; Wi

[2021-04-17 12:32] aapeliv commented on #1095
This is due to confusion between the preview site and the prod app. Not sure why they ended up on the preview!

This issue will probably be avoided with #995 or similar.

[2021-04-17 12:32] #1095 closed, assigned to nobody

[2021-04-17 16:42] aapeliv commented on #1020
Well I'm a bit stupid... I had "Disable cache" set in dev tools...

[2021-04-17 16:42] #1020 closed, assigned to nobody

[2021-04-17 17:09] lucaslcode opened #1097 "Put in empty state label for autocomplete in "new chat" dialog"
If you have no friends, right now it says "No options"

[2021-04-17 17:23] anand-prem commented on #1011
@darrenvong , raised an MR for the fix: [#1098](https://github.com/Couchers-org/couchers/pull/1098)

Could you please have a look.

[2021-04-18 13:04] thdk commented on #1082
I can try to set this up, any special requirements?

[2021-04-18 15:18] lucaslcode commented on #1082
Maybe offer the options of either refreshing the page or going to the homepage.

[2021-04-18 20:33] thdk commented on #1082
Something like this?
![image](https://user-images.githubusercontent.com/4201102/115160011-41897c80-a096-11eb-913f-a2f60ac6289e.png)

![image](https://user-images.githubusercontent.com/4201102/115159952-08e9a300-a096-11eb-8b67-1832ea6fa6e8.png)

[2021-04-18 21:01] lucaslcode commented on #1082
Great! I just think it should somehow be clearer to try refreshing first, before trying the homepage. And maybe error opens underneath the buttons?

[2021-04-18 21:08] darrenvong commented on #1082
Can we not show a stacktrace on the page at all? It's not very user friendly (even though it's hidden by default) and I rather not have it so readily available on the page. If we are concerned about losing information then we should look at setting up proper error reporting instead of this.

[2021-04-18 21:22] lucaslcode commented on #1082
Good point, and it will be meaningless minified stuff in production anyway

[2021-04-19 01:55] CouchersBot opened #1102 "Move instructive text for "Display Location" when autofilled"
Subject: Move instructive text for "Display Location" when autofilled
Description:
Searched for address

Results:
The "Display Location" box autofilled, but the actual text "Display Location" did not move out of the way, so the text was superimposed and messy.

Backend version: develop-a0c66b6e
Frontend version: develop-b4f73041-next
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gec

[2021-04-19 01:58] ItsiW commented on #1102
This happens on both sign up and edit profile pages

![image](https://user-images.githubusercontent.com/39325627/115171464-6d444b00-a106-11eb-8f1a-9492780cb69d.png)

[2021-04-19 05:58] thdk opened #1104 "Prettier should cause CI to fail if code contains formatting issues"
When I run `yarn format` locally, it fixes files which I didn't touch myself.

Shouldn't CI pipeline fail for these formatting issues so they don't land on develop branch?

[2021-04-19 08:35] lucaslcode commented on #1104
Yes it's a good idea

[2021-04-19 14:00] #964 closed, assigned to justjooshing

[2021-04-19 18:19] alexishonzik commented on #983
Hi! To clarify, would you prefer to have the form wrapper like the desktop version or to have the entire background be white? I have added two images so that you can compare for your preference. Let me know which is best!
Just changing the background color:
<img width="809" alt="Screen Shot 2021-04-19 at 2 14 15 PM" src="https://user-images.githubusercontent.com/44992497/115283993-1ba5bb80-a11a-11

[2021-04-19 18:54] lucaslcode commented on #983
The fields should probably take the whole width on mobile, so the former.

[2021-04-19 20:26] alexishonzik commented on #983
I realized that I cloned 'https://github.com/Couchers-org/couchers.git', but I don't believe I have write access to publish the branch I created. Should I fork the repo and create a PR through that?

[2021-04-19 21:14] #954 closed, assigned to aapeliv

[2021-04-19 21:15] lucaslcode commented on #983
Yep!

[2021-04-19 23:06] alexishonzik commented on #1079
I'll work on this!

[2021-04-20 07:31] #1048 closed, assigned to justjooshing

[2021-04-20 21:53] lucaslcode commented on #1041
closed in #1113

[2021-04-20 21:53] #1041 closed, assigned to nobody

[2021-04-21 17:38] thdk commented on #1104
What about changing the `build` script in `package.json` to:

`"build": "prettier --check src/ && eslint src/ && CI=true react-scripts build",`

[2021-04-21 18:05] alexishonzik commented on #1079
We noticed in friend_request.md in backend/templates that the full_url is used. We were intending on changing this to the thumbnail_url, however we realized that this will cause the tests in backend/tests/test_email.py to fail because of the assertions for making sure the full_url is in the HTML (Line 150). Assuming we are understanding this correctly, can we change the tests to assert that the th

[2021-04-21 23:30] lucaslcode commented on #1079
Yes! Tests are for guarding against unintentional changes - if that's what you mean to change, it's normal to alter the test too to reflect that

[2021-04-21 23:32] lucaslcode commented on #983
closed in #1112

[2021-04-21 23:32] #983 closed, assigned to nobody

[2021-04-22 21:57] #928 closed, assigned to lucaslcode

[2021-04-23 22:50] lucaslcode commented on #871
This should take care of images in emails too

[2021-04-23 22:51] lucaslcode commented on #1079
Partly closed in #1120, rest in #871

[2021-04-23 22:51] #1079 closed, assigned to nobody

[2021-04-24 23:07] darrenvong commented on #1104
`CI=true react-scripts build` already does the ESLint check as part of React scripts. Personally I'd prefer splitting these up into separate CI steps and run them in parallel so we can see clearly which parts fail, rather than keep chaining commands with `&&` which blocks you from seeing that as soon as one of them fails. It's a bit annoying to have to push multiple times especially they take some

[2021-04-25 09:48] #1050 closed, assigned to thdk

[2021-04-25 14:05] CouchersBot opened #1131 "Profile Now Updating"
Subject: Profile Now Updating
Description:
Tryed to put information on profile and it will not save... UPSET

Results:
All my info should have saved but it didnt

Backend version: develop-c6a1e67d
Frontend version: develop-c6a1e67d
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36
Page: https://app.couchers.org/user

[2021-04-25 15:05] lucaslcode commented on #1131
This is likely due to not scrolling up and seeing an error message. We are working in this in #1111

[2021-04-25 15:05] #1131 closed, assigned to nobody

[2021-04-25 17:30] CouchersBot opened #1133 "Created an account without needing to enter a password"
Subject: Created an account without needing to enter a password
Description:
I just created a new account and realized that I somehow am able to edit my profile and view certain pages without being logged in.

Results:
If I try to log in using my email and (non-existent) password, I get this error message: An unknown backend error occurred. Please consider filing a bug!

I was hoping it would allo

[2021-04-25 17:33] aapeliv commented on #1133
Confirmed case of #643 happened just at the right time...

[2021-04-25 17:33] #1133 closed, assigned to nobody

[2021-04-25 18:16] lucaslcode commented on #1133
Maybe you need to add "Do a login" to your production rollout checklist :P

[2021-04-25 18:17] aapeliv commented on #1133
This DB connection thing affects every API call. Normally I try to click around a bit, but this time the user happened to be just at the right time, 10 sec before I did it...

[2021-04-25 19:14] patriciaehrenreich commented on #1087
Hello, I'd like to work on this issue. Is it still available?

[2021-04-25 19:40] #391 closed, assigned to nobody

[2021-04-25 20:02] lucaslcode commented on #1087
Hi @patriciaehrenreich, we have plans to revisit the messages screen design later - I think it's better to leave this issue until then. There's lots of other things to work on though if you're keen!

[2021-04-26 19:10] aapeliv opened #1143 "Remove mutual friends from user API call"
I haven't benchmarked it, but I'm pretty sure the mutual friends join is one of the heaviest things in the API call that gets the user.

I think we should remove it from that RPC, and just have the frontend can grab mutual friends from the dedicated RPC when needed.

What do you think @lucaslcode and @ShmuelTreiger?

[2021-04-26 19:27] aapeliv commented on #1053
Does `MarkLastSeenHostRequest` work? If so, this is a frontend issue, I think?

[2021-04-26 20:04] ShmuelTreiger commented on #1143
It depends on how prominently we want to feature mutual friends. For example, on facebook, that's one of the big things they show you with a random person. I'd argue it's much less relevant for couchers. However, I think this is a question for the frontend and design teams and how they want to use and display mutual friends vs the backend team.

[2021-04-26 20:16] ShmuelTreiger commented on #1053
It does. Not sure what I was thinking. Must have missed it.

[2021-04-26 20:16] #1053 closed, assigned to nobody

[2021-04-26 21:21] lucaslcode commented on #1143
Definitely a separate call. I don't even think mutual friends is in the current design mockup, although it's a popular feature (but there was some debate about getting rid of friends)

[2021-04-26 21:49] darrenvong opened #1144 "Return the number of the replies/comments in the discussion object in the API"
![Screenshot 2021-04-26 at 03 10 49](https://user-images.githubusercontent.com/13669362/116154602-c6047c80-a6e0-11eb-9e19-90f3f50a5651.png)

In the design above, we want to show the number of replies a discussion has. This discussion card/component is used to in the discussions list page/tab.

Currently there is no way to get this information directly without an additional request to get the threa

[2021-04-26 21:58] ShmuelTreiger commented on #1143
So to be clear, what we're talking about is taking it out of the User message in the protbuffs. Several API calls return User, so this is a protobuff change more than an API change.

[2021-04-27 07:20] ItsiW opened #1147 "Add large buttons for log in and sign up under the landing page text"
On desktop, it's hard to access the log in and sign up buttons all the way on the top right. Before implementing the full design, can we replicate those with large buttons under the landing page text?

[2021-04-27 11:43] ItsiW opened #1149 "Show message if user has no friends and creates new chat"
Currently, the friend search is just empty if you have no friends, and so it just seems dysfunctional

Show a message like "You can only send messages to friends. Use the search bar or map to find some friends first!"

[2021-04-28 00:27] lucaslcode commented on #1149
This was fixed in #1142

[2021-04-28 00:27] #1149 closed, assigned to nobody

[2021-04-28 07:38] CouchersBot opened #1155 "Search bar doesn't clear up after search"
Subject: Search bar doesn't clear up after search
Description:
I hit search, got my result, but the top bar didn't clear.

Results:
My entry should disappear :)

Backend version: develop-bf9caa27
Frontend version: develop-bf9caa27
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36
Page: https://app.couchers.org/
User (spo

[2021-04-28 17:14] justjooshing commented on #1155
I'm not sure if I agree about the search entry disappearing - for me it's more annoying if you mistype a search query and then have to retype the whole thing

[2021-04-28 17:16] justjooshing commented on #1082
@thdk @lucaslcode @darrenvong
Closing this because it looks done

[2021-04-28 17:16] #1082 closed, assigned to thdk

[2021-04-28 17:29] justjooshing commented on #1147
What do you mean it's hard to access? Because it's not immediately obvious?
Do you mean just these two or with About Us as well? I guess it looks a bit odd left up by itself
![image](https://user-images.githubusercontent.com/60824744/116446856-48ab4a00-a84f-11eb-966f-e355e7c3383b.png)

![image](https://user-images.githubusercontent.com/60824744/116447226-a6d82d00-a84f-11eb-82a8-71aae601d358.png)

[2021-04-28 18:43] patriciaehrenreich commented on #1087
Thanks for responding. I'll look into other open issues. :)

[2021-04-28 20:59] lucaslcode opened #1156 "Replace fake Terms of Service on signup with actual"
@ItsiW has text for ToS. It's long - we should change sign-up to just be a link and checkbox rather than the full ToS inline.

[2021-04-28 21:42] aapeliv opened #1158 "Search in area does not work"

[2021-04-29 01:32] ItsiW commented on #1147
It's not immediately obvious and slightly annoying to access. Option 1 is good, but I'd go even larger with the buttons and take up the full text width.

Trustroots duplicates them and that might not be a bad option
![image](https://user-images.githubusercontent.com/39325627/116491973-7ab7bd00-a8de-11eb-8be5-60263fd46d1e.png)

[2021-04-29 01:50] CouchersBot opened #1160 "Map is not loading and giving unknown error"
Subject: Map is not loading and giving unknown error
Description:
Went to the map tab

Results:
Got "Ooops... that's an unknown error" and the map didn't load

Backend version: develop-bf9caa27
Frontend version: develop-bf9caa27
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:88.0) Gecko/20100101 Firefox/88.0
Page: https://app.couchers.org/map
User (spoofable): itsi (2)

[2021-04-29 01:51] ItsiW commented on #1160
![image](https://user-images.githubusercontent.com/39325627/116493056-35e15580-a8e1-11eb-9040-79ddd603793f.png)

[2021-04-29 01:53] ItsiW commented on #1160
![Uploading image.png…]()

[2021-04-29 01:54] ItsiW commented on #1160
![image](https://user-images.githubusercontent.com/39325627/116493240-a38d8180-a8e1-11eb-8ef7-8c29d5fcab5c.png)

[2021-04-29 03:07] CouchersBot opened #1161 "It is possible to give an age of "0" and use emojis to describe your gender"
Subject: It is possible to give an age of "0" and use emojis to describe your gender
Description:
Upon viewing someone's account I was able to determine that you can indicate your age is zero and you can use emojis to indicate  your gender (even just one single emoji works).

Results:
You should not be able to enter an age of zero or any age lower than the minimum legal age. You also should not be

[2021-04-29 03:07] jesseallhands commented on #1161
Example:
![image](https://user-images.githubusercontent.com/79384268/116497928-24ab3100-a86e-11eb-8318-c0b848272cc5.png)

[2021-04-29 17:36] CouchersBot opened #1162 "Image upload orientation data not taken into account"
Subject: Insert Profil Picture
Description:
I chose a picture as my profile picture. I'm using Firefox on an android device

Results:
There was no preview picture, and when I accepted the picture, it often was orientated in apperently random directions.

Backend version: develop-bf9caa27
Frontend version: develop-bf9caa27
User Agent: Mozilla/5.0 (Android 11; Mobile; rv:88.0) Gecko/88.0 Firefox/88.

[2021-04-29 17:38] lucaslcode commented on #1162
I suspect this is due to rotation data on mobile not being applied?

[2021-04-30 11:12] #851 closed, assigned to thdk

[2021-04-30 15:19] aapeliv commented on #1161
@AllhandsNoFeet: I don't think it's possible to set age to anything under 18 yo anymore. Also the gender shouldn't be changeable from the frontend, only by messaging support.

[2021-04-30 15:26] jesseallhands commented on #1161
@aapeliv Agreed but you shouldn't be able to input an emoji or special character as your gender when signing up. Can we put validation in place for the gender field for signup to restrict numbers, special characters and emojis?

[2021-04-30 15:28] aapeliv commented on #1161
You can't: there are currently only three choices

[2021-04-30 16:31] thdk commented on #1162
Be aware, some browsers will auto rotate the image for you, so if you add rotation to all images, you might end up with images being rotated twice.

see also: https://stackoverflow.com/a/61901892/681803

[2021-05-01 12:08] thdk commented on #934
There's a button on the top right of _edit profile_ page

![image](https://user-images.githubusercontent.com/4201102/116781933-77f7cc00-aa86-11eb-86c9-23f90d3c0543.png)
and mobile
![image](https://user-images.githubusercontent.com/4201102/116781942-8cd45f80-aa86-11eb-915b-08b99985dd2f.png)

I'll close this issue, feel free to reopen if that button is too much hidden for our users.

[2021-05-01 12:08] #934 closed, assigned to nobody

[2021-05-01 12:09] thdk commented on #821
relates to #1127

[2021-05-01 17:37] lucaslcode commented on #821
This was actually done in #848. Btw you can merge all your approved PRs @thdk !

[2021-05-01 17:37] #821 closed, assigned to lucaslcode

[2021-05-01 22:51] Jakeii commented on #1162
The 'soft' rotation in EXIF data can sometime be stripped away when manipulating images.

[sample image](https://raw.githubusercontent.com/recurser/exif-orientation-examples/master/Landscape_5.jpg)  that will be rotated after upload

[2021-05-01 23:45] darrenvong commented on #1160
Seems like a duplicate of Couchers-org/couchers#4210? @aapeliv

[2021-05-02 06:55] kalvdans commented on #1093
I picked a `one_or_none() is None` at random and dumped the resulting query string. Original:
[code]

With .count() instead:
[code]

And with .scalar():
[code]

Seems to me that `scalar()` is implemented on Python side, and `count()` might be the best that it only asks for an integer to be returned.

[2021-05-02 07:00] kalvdans commented on #1093
I suggest sticking with `one_or_none()` and instead rewrite the code to do less queries if we want to optimize. Un-assigning me :)

[2021-05-02 10:39] #1004 closed, assigned to Jakeii

[2021-05-02 16:51] #1093 closed, assigned to nobody

[2021-05-03 01:21] #1143 closed, assigned to nobody

[2021-05-03 14:06] #835 closed, assigned to spreeni

[2021-05-03 18:25] aapeliv commented on #1162
We strip all EXIF data in the media uploader (on save, not on load), that might explain why browsers will not autorotate it and images are sideways.

Seems we should probably call this to autorotate ourselves before stripping that data

https://libvips.github.io/pyvips/vimage.html#pyvips.Image.autorot

[2021-05-04 08:36] #547 closed, assigned to Tay0108, lucaslcode

[2021-05-04 16:05] CouchersBot opened #1182 "Markdown not rendering correctly in search"
Subject: Markdown not rendering correctly in search
Description:
I was in search

Results:
One of the results has a lemon emoji in the profile, but that shows in the search result in the form ![](htps://...)

Backend version: develop-4da65ecf
Frontend version: develop-4da65ecf
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:88.0) Gecko/20100101 Firefox/88.0
Page: https://app.couchers.org/se

[2021-05-04 16:09] ItsiW commented on #1182
Interesting it's an image hosted by CS?

![image](https://user-images.githubusercontent.com/39325627/117034650-dfdc3a00-ad46-11eb-9486-45cb14fa5d65.png)

[2021-05-04 19:21] thdk commented on #949
I would like to work on this (after I finished frontend for regions/languages) :)

[2021-05-04 19:31] #1158 closed, assigned to aapeliv

[2021-05-04 23:05] darrenvong commented on #1011
Fixed in #1098

[2021-05-04 23:05] #1011 closed, assigned to nobody

[2021-05-04 23:28] darrenvong commented on #1144
Thought I should also write here to avoid things getting lost in Slack - after thinking about this a bit more recently, I think it's impossible to do the replies count accurately without this modification. Since `GetThread` is paginated, if there are ever more than one pages of replies (definitely possible for a popular discussion), we don't have a deterministic way to get the number of replies wi

[2021-05-04 23:30] #1090 closed, assigned to justjooshing

[2021-05-05 00:28] aapeliv commented on #1161
This is only a problem in existing data, I don't think you can currently set bogus values for age or gender

[2021-05-05 00:28] #1161 closed, assigned to nobody

[2021-05-05 00:35] #1078 closed, assigned to nobody

[2021-05-05 06:19] CouchersBot opened #1183 "On mobile, short messaging thread is non-scrollable resulting in back button being overlapped"
Subject: On mobile, short messaging thread is non-scrollable resulting in back button being overlapped
Description:
Viewing a short messaging thread that is just long enough for it to be scrollable is not actually scrollable. The back button is overlapped by the top navbar. See screenshot below.

Results:
Short messaging threads like this should be scrollable so that the back button is not overlap

[2021-05-05 06:20] jesseallhands commented on #1183
![Screenshot_20210505-011640_Firefox](https://user-images.githubusercontent.com/79384268/117103466-0b0f5b00-ad40-11eb-8743-b1ce306912e3.jpg)

[2021-05-05 14:42] aapeliv commented on #1156
How're you doing with this @Jesus82?

We're waiting for this at #1170 to make a backend change.

[2021-05-05 14:48] Jesus82 commented on #1156
Hi @aapeliv I had to left it half way and had a few busy days. I will try to push this today or tomorrow, sorry for the delay!

[2021-05-05 16:36] aapeliv commented on #1156
@Jesus82: thanks. I've discussed with @kalvdans, we will add an API call where you can fetch the Markdown content of the current ToS. If you come to the frontend meeting, I'll explain!

[2021-05-05 16:39] Jesus82 commented on #1156
@aapeliv  I will then place for now a "mock" link and push the commit with the checkbox replacing the button.

[2021-05-05 16:41] aapeliv commented on #1156
Sure. The frontend should have a page, that when you open it, does an RPC request that grabs the latest ToS markdown and renders it on that page.

[2021-05-05 19:28] aapeliv opened #1186 "Open servicer TOS"

[2021-05-05 20:47] aapeliv commented on #938
The backend returns the time of the last API call from that user, rounded down to the nearest 15 min before. E.g. an API call at 16:46:42 is rounded down to 16:45:00. So it's always rounded down to :00:00, :15:00, :30:00, or :45:00.

This means that close to the next time, it's going to say "last active 13 min ago" even if you were just active. E.g. on your profile, it look silly!

This irks me, b

[2021-05-05 20:50] aapeliv commented on #685
Related #1156

[2021-05-05 22:53] lucaslcode commented on #938
It used to be like this, it must have got lost when we redid profiles.
Our `timeago` (or whatever it is called) function in `utils/` has an optional second parameter which fuzzes the last 15 minutes if I recall correctly

[2021-05-06 18:11] #1186 closed, assigned to nobody

[2021-05-07 23:49] darrenvong commented on #1183
I think this is a result of a recent fix for the map page which has unintentionally broke this, as the chat title isn't managing its own spacing away from the navigation bar before. It _should_ be a case of adding that spacing back in on the chat title container as we move towards preferring individual pages managing its own spacing to allow more flexibility.

Should be a good one for anyone new t

[2021-05-08 19:47] CouchersBot opened #1193 "Unknown error"
Subject: Unknown error
Description:
Confirmation of email when signing up

Results:
When confirming email  address after signing up, following was written on screen:
"Ooops... that's an unknown error

Please use the 'Report a problem' button and tell us what you were doing to help us prevent this error in the future."

Backend version: develop-4da65ecf
Frontend version: develop-4da65ecf
User Agent

[2021-05-08 19:51] darrenvong opened #1194 "Upgrade react-hook-form to v7"
I'm making this a separate issue as after a quick glance on their changelog, it looks like they made a noticeable number of breaking changes in their API, so this might not be as trivial as updating the version number in our project's `package.json` and run a `yarn install` and call it a day kind of update.

In the spirit of keeping on top of updates and making things easier to update (and apparen

[2021-05-08 19:51] darrenvong opened #4200 "Upgrade react-hook-form to v7"
I'm making this a separate issue as after a quick glance on their changelog, it looks like they made a noticeable number of breaking changes in their API, so this might not be as trivial as updating the version number in our project's `package.json` and run a `yarn install` and call it a day kind of update.

In the spirit of keeping on top of updates and making things easier to update (and apparen

[2021-05-08 20:19] aapeliv commented on #1193
Confirmed duplicate Couchers-org/couchers#4210

[2021-05-08 20:19] #1193 closed, assigned to nobody

[2021-05-09 15:45] kalvdans commented on #1144
Backend is ready and reviewed in backend/feature/number-of-replies branch, to be picked up by the frontend team. closing bug!

[2021-05-09 15:45] #1144 closed, assigned to kalvdans

[2021-05-09 17:26] aapeliv opened #1199 "Backend docker build not cached"
It's pulling the postgres key using HTTP so docker isn't caching that layer which adds a bit of extra time as it needs to run the apt-get install each time.

[2021-05-09 18:49] #414 closed, assigned to ShmuelTreiger

[2021-05-09 18:49] #610 closed, assigned to ShmuelTreiger

[2021-05-09 18:49] #1092 closed, assigned to nobody

[2021-05-09 19:32] #1156 closed, assigned to Jesus82

[2021-05-09 22:10] CouchersBot opened #1203 "After editing "home" landing page is "about" instead of "my home""
Subject: After editing "home" landing page is "about" instead of "my home"
Description:
1. Edit home
2. After editing home click "save"
3. User is taken to the "About" page of their profile instead of their "home" page of their profile that they were just editing.

Results:
When you click on "save" upon finishing editing the description of your home, you should be taken to the "home" page of your

[2021-05-09 22:13] aapeliv opened #1204 "gRPC interceptors don't work with gRPC-Web Devtools"
This means that the unathenticated error handler doesn't run correctly, so for example you won't be kicked out if the backend suddenly jails your or logs you out (e.g. due to ToS version updating).

This works correctly in the prod build though because we disable the dev tools there.

See also https://github.com/grpc/grpc-web/issues/1012 and https://github.com/SafetyCulture/grpc-web-devtools/issue

[2021-05-10 01:01] ItsiW opened #1206 "Map tweaks"
New map looks great!

For the next iteration can we add:
- [ ] Button to clear search
- [ ] More obvious highlighting of user card when selecting user icon
- [ ] Re-introduce clusters of people (like (100) symbol if 100 in an area)
- [ ] Add location to user card
- [ ] Render markdown in user card into plain text

[2021-05-10 01:27] CouchersBot opened #1207 "Map/search doesn’t show on iOS"
Subject: Map/search doesn’t show on iOS
Description:
Go to search, try searching for something

Results:
No map

Backend version: develop-71513dfc
Frontend version: develop-71513dfc
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/search/New%20York
User (spoofable):

[2021-05-10 04:05] CouchersBot opened #1208 "Not a bug"
Subject: Not a bug
Description:
I logged in

Results:
Not a bug report, just a message guys to congratulate you for the great development work that has been going on this last year!

Very impressive.

Keep it up!

All the best,

Fab

Backend version: develop-71513dfc
Frontend version: develop-71513dfc
User Agent: Mozilla/5.0 (Android 11; Mobile; rv:89.0) Gecko/89.0 Firefox/89.0
Page: https://app.c

[2021-05-10 07:13] CouchersBot opened #1215 "Unable to upload my photo"
Subject: Unable to upload my photo
Description:
I tried to upload a photo of mine on my profile.

Results:
The image was uploaded, but when I clicked the little 'check' sign next to it, it showed me an error message 'Invalid image'. No description of why the image was invalid, it just is invalid.

Backend version: develop-71513dfc
Frontend version: develop-71513dfc
User Agent: Mozilla/5.0 (Windows

[2021-05-10 08:43] lucaslcode commented on #1208
Thanks!

[2021-05-10 08:43] #1208 closed, assigned to nobody

[2021-05-10 10:19] Hassan-Mallah commented on #937
I'm working on this one. cheers

[2021-05-11 16:51] lucaslcode commented on #1207
Investigation: the map has no height I think because safari more strictly follows html spec which means height: 100% on a flex child doesn't work. Changing relative position to absolute fixes it, but not sure that's the best solution.

Also a single result has a inline end margin, this should be changed

[2021-05-11 16:53] lucaslcode commented on #1207
Also map page should use height 100% instead of using calc

[2021-05-11 16:58] lucaslcode commented on #1207
In the nested divs, one is missing `height: 100%` setting this fixes it

[2021-05-11 18:55] #1207 closed, assigned to nobody

[2021-05-11 20:16] CouchersBot opened #1221 "Stavo mettendo la foto profilo"
Subject: Stavo mettendo la foto profilo
Description:
Stavo mettendo la foto profilo

Results:
Non me la fa caricare e mi da errore

Backend version: develop-e5978b3b
Frontend version: develop-e5978b3b
User Agent: Mozilla/5.0 (Linux; Android 10; VOG-L29) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.91 Mobile Safari/537.36
Page: https://app.couchers.org/user/edit
User (spoofable): antosic

[2021-05-12 04:10] CouchersBot opened #1225 "After clicking pin on map to view profile, clicking back resets map to default"
Subject: After clicking pin on map to view profile, clicking back resets map to default
Description:
1. Zoomed into Chicago on the map
2. Clicked on a pin of a profile
3. Clicked on the profile in the sidebar and was taken to the profile
4. Clicked back button in browser
5. Was taken back to map default instead of area of Chicago I was viewing

Results:
Instead of being taken to the map default af

[2021-05-12 04:14] CouchersBot opened #1226 "In map view, profile snapshot summary text in sidebar displays HTML code"
Subject: In map view, profile snapshot summary text in sidebar displays HTML code
Description:
I clicked on the pin, the profile appeared in the sidebar, but the summary text included HTML code that does not appear when I view that person's account. See screenshot below

Results:
HTML code should not appear in text of profile preview. The profile preview text and the actual text of the profile sho

[2021-05-12 04:14] jesseallhands commented on #1226
![image](https://user-images.githubusercontent.com/79384268/117917400-9a6fbd80-b2ae-11eb-8dd0-71b0cf56fa3e.png)

[2021-05-12 04:15] jesseallhands commented on #1226
![image](https://user-images.githubusercontent.com/79384268/117917484-d0ad3d00-b2ae-11eb-9811-91c0d40231d4.png)

[2021-05-12 04:29] CouchersBot opened #1227 "On map page, there is no right-click option to "open in new tab" the profile listed in the sidebar"
Subject: On map page, there is no right-click option to "open in new tab" the profile listed in the sidebar
Description:
I clicked on a pin on the map, then right-clicked on the profile picture to try to open the profile in a new tab (instead of being taken away from the map) but there is no option to open it in a new tab.

Results:
I should have the option to open the profile in a new tab when ri

[2021-05-12 04:30] jesseallhands commented on #1227
![image](https://user-images.githubusercontent.com/79384268/117918519-ce4be280-b2b0-11eb-8a7d-736196cf3943.png)

[2021-05-12 04:42] CouchersBot opened #1228 "Exclude users with no location from map centering"
Users with no location don't appear on the map but are still returned in search results. That's correct, but they should be excluded from map effects like centering (as their location is 0, 0 which causes strange behaviour).

Original report:

Subject: Map search does not center map on primary result(s)
Description:
When I search "Sydney" the map moved from the location I was zoomed in on in the U

[2021-05-12 04:42] jesseallhands commented on #1228
![image](https://user-images.githubusercontent.com/79384268/117919404-8af27380-b2b2-11eb-83ab-f7cc9892130c.png)

[2021-05-12 04:47] CouchersBot opened #1229 "No way to "reset" map after performing search (other than leaving page or ctrl+F5)"
Subject: No way to "reset" map after performing search (other than leaving page or ctrl+F5)
Description:
I performed a search "Chicago" and then deleted the search word from the search box. I zoomed out on the map, but the search results remained. Clicking on the search icon and the word "search" in the navbar does not reset the search results.

You must either leave the search page and return to

[2021-05-12 04:59] jesseallhands commented on #1221
www.deepl.com translation result:

Subject: I was putting the profile picture
Description:
I was putting up my profile picture

Results:
It does not load and gives me an error

[2021-05-12 05:04] CouchersBot opened #1230 "When zoomed in closely on map, clicking on a pin zooms you out"
Subject: When zoomed in closely on map, clicking on a pin zooms you out
Description:
When zoomed in closely on the map so a cluster of pins are spread out and easier to click on, if you click on a pin the map will zoom out and then the pins are clustered closely together again, making it hard to click on a different pin on the map. It forces you to zoom in AGAIN so you can differentiate between th

[2021-05-12 05:05] jesseallhands commented on #1230
When zoomed in pins are nice and spaced out:
![image](https://user-images.githubusercontent.com/79384268/117921069-aca12a00-b2b5-11eb-8045-d0d471b576e7.png)

Clicking on any of the pins zooms you out to an unusable level!!!!!!
![image](https://user-images.githubusercontent.com/79384268/117921145-d22e3380-b2b5-11eb-856f-813bd005a24c.png)

[2021-05-12 06:13] CouchersBot opened #1231 "Swipable profile list at bottom of map search on mobile has wrong proportions"
Subject: Swipable profile list at bottom of map search on mobile has wrong proportions
Description:
Searched for Chicago on mobile and the cells with the profile previews along the bottom of the screen have different sizes.

Results:
The cells should all be the same size. In some cases the cell spills over and causes you to need to scroll to see all of it. Scrolling up and down on map screen on mo

[2021-05-12 06:13] jesseallhands commented on #1231
![Screenshot_20210512-010834_Firefox](https://user-images.githubusercontent.com/79384268/117927073-4f11db00-b2bf-11eb-8945-3673f98f2395.jpg)

[2021-05-12 09:14] lucaslcode commented on #1231
This is fixed in #1220

[2021-05-12 09:14] #1231 closed, assigned to nobody

[2021-05-12 09:17] lucaslcode commented on #1221
I assume this is a dupe of other reports related to uploading photo

[2021-05-12 09:17] #1221 closed, assigned to nobody

[2021-05-12 09:43] CouchersBot opened #1232 "Links without https:// are treated relative to couchers.org"
Subject: Links without https:// are treated relative to couchers.org
Description:
I clicked on the CS profile link on Emily's couchers page. (home subpage)

Results:
Got a message: Couldn't find that user at
https://app.couchers.org/user/couchsurfing.com/people/emilyangeles

should have come to https://couchsurfing.com/people/emilyangeles

Backend version: develop-e5978b3b
Frontend version: develo

[2021-05-12 10:40] lucaslcode commented on #1228
This is because Gab's location is (0,0). So the real bug is why is that their location and/or we should not include those users on the map (and why isn't that pin shown?)

[2021-05-12 10:44] lucaslcode commented on #1226
We don't support html - it is stripped out when displayed in the profile. But we should also strip it out when saving so this doesn't happen. This user probably copy-pasted their profile text from somewhere so it got included by accident (it wouldn't be visible in the editor).

I don't think it needs to be stripped out in the search result itself, as it's just plain text.

[2021-05-12 11:04] jesseallhands commented on #1226
@lucaslcode I think this happens with markdown as well. You can see the markdown in the preview of Itsi and Aapeli's profiles on the map page.

[2021-05-12 13:52] ItsiW commented on #1230
I think the opposite is true as well, we shouldn't be zooming in when clicking on a pin. People are spread out differently in different areas and we shouldn't fix the zoom level.

I think the way google maps does it is good. You get auto-zoomed when using the search bar, but when exploring via pins the zoom is only done manually.

[2021-05-12 14:57] #943 closed, assigned to Jesus82

[2021-05-12 14:58] Jesus82 commented on #943
Fixed in [#1098](https://github.com/Couchers-org/couchers/pull/1098)

[2021-05-12 15:02] Jesus82 commented on #1097
Solved in [#1142](https://github.com/Couchers-org/couchers/pull/1142)

[2021-05-12 15:02] #1097 closed, assigned to Jesus82

[2021-05-12 15:39] Jesus82 commented on #1226
Hi, should we then allow just markdown?

Is there any way to use Markdown as a method in React? Right now the text preview is inside
[code]

So if I rewrite like

`<Markdown source={aboutText(user)} />`

The text won't be limited to 4 lines anymore

[2021-05-12 20:59] kalvdans commented on #541
Backend part done in https://github.com/Couchers-org/couchers/pull/744, removing backend tag

[2021-05-12 21:16] aapeliv opened #1234 "Develop is broken after flask-2.0.0 was released"
I think Flask 2.0 came out and that broke it...

Test failure from https://gitlab.com/couchers/couchers/-/jobs/1258479036:
[code]

[2021-05-12 21:32] kalvdans commented on #1234
How about pinning our dependencies?

[2021-05-12 21:35] aapeliv commented on #1234
That would work too. The downside would be that we'd need someone to regularly check them so we get any security patches, etc.

[2021-05-12 21:37] aapeliv commented on #1234
Could use this dependabot that is used on frontend too, that might be the solution. Then we could manually check the deps.

Would it be enough to update them once a month or something?

[2021-05-12 21:41] kalvdans commented on #1234
At work we update whenever there is a new feature we need. Why fix something that isn't broken :)

So. there are two ways to do this; one is to specify the version in requirements.txt. Second way, to also pin the second-level dependencies, is to use pip-compile from pip-tools. Then you maintain requirements.in and let pip-compile create your requirements.txt file. Dunno which way we need.

[2021-05-12 22:25] #1234 closed, assigned to aapeliv

[2021-05-12 22:43] kalvdans commented on #896
How often should a user be able to request a validation code? I guess there's a cost associated with the sms and we don't to spam the wrong person too much in case someone enters wrong number.

[2021-05-12 22:44] aapeliv commented on #896
Once a year or they can contact support to update it would be good

[2021-05-12 23:16] lucaslcode commented on #1226
I think strip the markdown, we don't want that much formatting in search results. There is a markdown stripping function in `utils/stripMarkdown.ts`

[2021-05-13 08:57] CouchersBot opened #1238 "No possibility to message a member without a request?"
Subject: No possibility to message a member without a request?
Description:
Tried to message another member, but this cant be done without a request? How do I know if I want to send a request if I have questions to ask before making a desiscion?

Results:
You should have a message button.

Backend version: develop-019d7c05
Frontend version: develop-019d7c05
User Agent: Mozilla/5.0 (iPhone; CPU iPh

[2021-05-13 11:43] CouchersBot opened #1239 "Search page error"
Subject: Search page error
Description:
Just clicked on search

Results:
Search page didn't load... this bug report page did tho!

Backend version: develop-019d7c05
Frontend version: develop-019d7c05
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
Page: https://app.couchers.org/search
User (spoofable): emily (135)

[2021-05-13 16:33] aapeliv commented on #1239
Probably a duplicate of Couchers-org/couchers#4210

[2021-05-13 16:33] #1239 closed, assigned to nobody

[2021-05-13 16:36] aapeliv commented on #1232
This is intended behaviour. Relative links are supposed to be relative.

[2021-05-13 16:36] #1232 closed, assigned to nobody

[2021-05-13 16:37] aapeliv commented on #1160
Yes, it is

[2021-05-13 16:37] #1160 closed, assigned to nobody

[2021-05-13 16:39] aapeliv commented on #1049
I think the solution is to add a fallback map using traditional tiling image slippy maps. Most maps can fail (though they need a nicer error message, "please upgrade your browser to browse the interactive map" or similar). However, we need a fallback for the map on the signup screen and on profile editing.

[2021-05-13 16:39] aapeliv commented on #4210
I think the solution is to add a fallback map using traditional tiling image slippy maps. Most maps can fail (though they need a nicer error message, "please upgrade your browser to browse the interactive map" or similar). However, we need a fallback for the map on the signup screen and on profile editing.

[2021-05-13 16:39] aapeliv commented on #1238
Intended behaviour. Send a request with questions.

[2021-05-13 16:39] #1238 closed, assigned to nobody

[2021-05-13 19:54] aapeliv commented on #1162
@Hassan-Mallah: do you want to have a look at this one? It's not in the backend, it's in the media container, in `//app/media`

[2021-05-13 23:30] CouchersBot opened #1240 "Clarification on passwords"
We should have a banner of some form on the landing site if the user does not have a password set (you can get this through `GetAccountInfo` in `//app/pb/account.proto`).

---

Original report:
Subject: no password requested
Description:
I joined  couchers.org a few hours ago by typing a user name and my email address to which a confirmation email was sent, allowing me to create and edit a full pr

[2021-05-14 01:49] CouchersBot opened #1241 "Saving an uploaded photo is confusing for users"
Subject: photo profile don't shown up
Description:
upload different files of other photos

Results:
my photo profile not showing up. It should be shown up

Backend version: develop-4afe8718
Frontend version: develop-4afe8718
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1
Page: https://app.couch

[2021-05-14 06:16] CouchersBot opened #1242 "No Password?"
Subject: No Password?
Description:
Why is there no option for a password?

Results:
It seems I can only login by requesting a link with my email. This feature seems inconvenient. Let's get passwords to use for the site.

Backend version: develop-4afe8718
Frontend version: develop-4afe8718
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:88.0) Gecko/20100101 Firefox/88.0
Page: https://app.c

[2021-05-14 08:06] CouchersBot opened #1243 ""Reject" blocks sending of further messages"
Subject: "Reject" blocks sending of further messages
Description:
Pressed the reject button before writing a message to the requester.

Results:
Reject was acknowledged but now I can't send a polite message to the requester explaining why they are rejected unless I add them as a friend. I don't want to do this until I know the person. I just want to send them a message...
Please put the "reject" b

[2021-05-14 09:14] CouchersBot opened #1244 "Contributor form confusion"
Subject: welcome form not working
Description:
logged in

Results:
the welcome form with the new community rules has the "expertise" field required. first of all I don't think this should be the case for new users without technical backgrounds and secondly even if you complete the field the form is not being submitted

Backend version: develop-4afe8718
Frontend version: develop-4afe8718
User Agent

[2021-05-14 09:46] lucaslcode commented on #1243
We should just add a confirm dialog (which is already a component) to the buttons which prevent further messages - Reject and Cancel - if the user hasn't added a message.
Maybe "Are you sure you want to reject this request without a message? You won't be able to send another message after unless you are friends."

[2021-05-14 09:47] CouchersBot opened #1245 "I can't register the website."
Subject: I can't register the website.
Description:
I want to use my email registering your website.But it gave an error report(unknown mistake)

Results:
How could I do to register the website please?

Backend version: develop-4afe8718
Frontend version: develop-4afe8718
User Agent: Mozilla/5.0 (Linux; Android 8.1.0; PBAM00) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.152 Mobile Safari

[2021-05-14 11:15] Hassan-Mallah commented on #937
it's on backend part now
https://github.com/Couchers-org/couchers/pull/1217

[2021-05-14 13:34] aapeliv commented on #1245
Forwarded to support

[2021-05-14 13:34] #1245 closed, assigned to nobody

[2021-05-14 13:35] aapeliv commented on #1244
@ItsiW?

[2021-05-14 13:37] aapeliv commented on #1242
We're working on a banner/text in the email to clarify how to set a password (by going to https://app.couchers.org/account-settings)

[2021-05-14 13:37] #1242 closed, assigned to nobody

[2021-05-14 13:39] aapeliv commented on #1241
Photo upload seems to be tricky for people, I think it currently requies scrolling all the way down and clicking "Save" after upload

[2021-05-14 13:54] ItsiW commented on #1244
Could be that it's not obvious that it's a volunteer form

[2021-05-14 22:15] #466 closed, assigned to nobody

[2021-05-14 22:15] lucaslcode commented on #489
I'm just gonna close this, I think only the auth stuff is left and it's not a huge deal

[2021-05-14 22:15] #489 closed, assigned to nobody

[2021-05-14 22:19] lucaslcode commented on #591
Closed in #1091

[2021-05-14 22:19] #591 closed, assigned to ineswq

[2021-05-14 22:21] lucaslcode commented on #685
No code of conduct yet but should we close this?

[2021-05-14 22:22] lucaslcode commented on #774
@ItsiW you can close this or leave open, up to you

[2021-05-14 22:23] lucaslcode commented on #789
This was closed at some point, it `getFilterOptions` (or something like that) needed to be set

[2021-05-14 22:23] #789 closed, assigned to nobody

[2021-05-14 22:24] lucaslcode commented on #855
@darrenvong I don't totally understand this, is it still an issue?

[2021-05-14 22:25] lucaslcode commented on #858
Closed in #950

[2021-05-14 22:25] #858 closed, assigned to nobody

[2021-05-14 22:30] lucaslcode opened #1246 "Default headings for profile fields"
see #410 for the default headings we want. These can just be in a constants file.

This should have the following behaviour:

- On page load, if a particular field is blank, it should be preloaded with the default headings for that field
- On save, if a particular field contains the default, it should be saved blank (not with the defaults)

[2021-05-14 22:31] lucaslcode commented on #536
Closed in favour of #1246

[2021-05-14 22:31] #536 closed, assigned to nobody

[2021-05-14 22:34] #945 closed, assigned to nobody

[2021-05-14 22:37] lucaslcode commented on #946
Was fixed at some point

[2021-05-14 22:37] #946 closed, assigned to nobody

[2021-05-14 22:43] lucaslcode commented on #952
MUI multiline text box is a bit shit. I managed to fix this in `HostRequestSendField` with `transform: "none", padding: theme.spacing(2, 2)` but that relies on the label always being `shrink: false`.

[2021-05-14 22:43] lucaslcode commented on #4212
MUI multiline text box is a bit shit. I managed to fix this in `HostRequestSendField` with `transform: "none", padding: theme.spacing(2, 2)` but that relies on the label always being `shrink: false`.

[2021-05-14 22:44] lucaslcode commented on #959
Closed in #1111

[2021-05-14 22:44] #959 closed, assigned to nobody

[2021-05-14 22:46] lucaslcode commented on #967
Stale

[2021-05-14 22:46] #967 closed, assigned to nobody

[2021-05-14 22:47] lucaslcode commented on #969
This was fixed

[2021-05-14 22:47] #969 closed, assigned to nobody

[2021-05-14 22:50] lucaslcode commented on #1019
I think we need to at least give the profile pic a max width

[2021-05-14 22:51] #1021 closed, assigned to nobody

[2021-05-14 22:52] #1026 closed, assigned to nobody

[2021-05-14 22:52] lucaslcode commented on #1034
Not enough info

[2021-05-14 22:52] #1034 closed, assigned to nobody

[2021-05-14 22:54] lucaslcode commented on #1047
Couldn't reproduce on desktop

[2021-05-14 22:54] lucaslcode commented on #4211
Couldn't reproduce on desktop

[2021-05-14 22:58] AllhandsNoFeet commented on #1047
This issue only happens on mobile.

[2021-05-14 22:58] jesseallhands commented on #4211
This issue only happens on mobile.

[2021-05-14 23:01] lucaslcode commented on #1155
Search bar is kill

[2021-05-14 23:01] #1155 closed, assigned to nobody

[2021-05-14 23:02] lucaslcode commented on #1203
#1200

[2021-05-14 23:03] lucaslcode commented on #1215
Maybe due to size

[2021-05-14 23:03] #1215 closed, assigned to nobody

[2021-05-14 23:04] lucaslcode commented on #1225
Maybe some check is needed for whether it's first results load or not before moving the map

[2021-05-14 23:05] lucaslcode commented on #1182
closed in favour of #1226

[2021-05-14 23:05] #1182 closed, assigned to nobody

[2021-05-14 23:06] lucaslcode commented on #1228
@aapeliv how do people still have 0,0 as location?

[2021-05-14 23:07] lucaslcode commented on #1229
dupe #1206

[2021-05-14 23:07] #1229 closed, assigned to nobody

[2021-05-14 23:08] lucaslcode commented on #1241
closed #1111

[2021-05-14 23:08] #1241 closed, assigned to nobody

[2021-05-14 23:09] lucaslcode commented on #1244
It seems quite obvious to me, close?

[2021-05-14 23:09] lucaslcode commented on #1022
dupe #1240

[2021-05-14 23:09] #1022 closed, assigned to nobody

[2021-05-15 00:05] aapeliv commented on #1244
Yeah sure, close it I reckon

Best,
Aapeli

[2021-05-15 00:08] #774 closed, assigned to ItsiW

[2021-05-15 01:02] darrenvong commented on #855
Yes, there is some copy and pasted code if you look on the landing page, sign up and login page when they have the same mobile and desktop markup in some places. The styles are even shared that way with `authClasses` to allow copy/paste (to get something out quick I assume?) when that could be encapsulated into a single component.

I think we can refactor some of it into a common base and use prop

[2021-05-15 05:22] Hassan-Mallah commented on #1162
@aapeliv sure, i'll check it

[2021-05-15 21:47] lucaslcode opened #1247 "If number of guests filter is set, profiles which haven't specified a max number are not included in results"
I think they should be, right?

[2021-05-16 22:24] kalvdans commented on #896
Work-in-progress posted to https://github.com/Couchers-org/couchers/pull/1250. Would be nice with comments on the API (i.e. at the .proto files) at this stage.

[2021-05-17 05:26] CouchersBot opened #1253 "Typing input method for visited countries"
Subject: Typing input method for visited countries
Description:
Not a bug, but for frequent travelers is near impossible to enter 90+ countries by typing in names.

Results:

Backend version: develop-ee4e93aa
Frontend version: develop-ee4e93aa
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/87.0.4280.163 Mobile/15E148 Safari/604.1
P

[2021-05-17 05:52] #931 closed, assigned to nobody

[2021-05-17 11:21] CouchersBot opened #1259 ""About me" resets if user forgets to confirm picture upload"
Subject: Not sure if it's a bug
Description:
I was editing my profile and changed my picture. After I finished and clicked save at the bottom, it says I have to "Confirm or cancel the picture upload before saving.". After I click the check button.

Results:
All of the changes that I made is there except the 'about me' and 'additional information' boxes is back just like before I made all of the ch

[2021-05-17 12:58] aapeliv opened #1260 "Forgot password should only show up if the user has a password"
Instead of on the first screen of the sign in flow

[2021-05-17 20:56] CouchersBot opened #1261 "Profile Photo"
Subject: Profile Photo
Description:
Upon "accepting" profile photo in "Edit Profile"

Results:
The photo is rotated 90 degrees counter-clockwise. I'm not sure if this is intended.

Backend version: develop-189420f3
Frontend version: develop-189420f3
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
Page: https://ap

[2021-05-17 22:30] lucaslcode commented on #1261
dupe #1162

[2021-05-17 22:30] #1261 closed, assigned to nobody

[2021-05-17 23:23] #1244 closed, assigned to nobody

[2021-05-17 23:27] CouchersBot opened #1262 "Profile pic flip"
Subject: Profile pic flip
Description:
Profile pic flipped from proper orientation to upside-down after I confirmed it

Results:
It should’ve remained as it looked upon upload

Backend version: develop-189420f3
Frontend version: develop-189420f3
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1
Pa

[2021-05-17 23:29] #685 closed, assigned to nobody

[2021-05-17 23:43] #1262 closed, assigned to nobody

[2021-05-18 00:02] darrenvong commented on #1204
Not sure what else we can do here since this is code we didn't write and it's not affecting prod at least...

[2021-05-18 00:05] darrenvong commented on #1253
Not really sure what they're asking for here. An autocomplete suggestion of all the countries?

[2021-05-18 14:22] CouchersBot opened #1265 "Log in problem"
Subject: Log in problem
Description:
I am logged in. But when go to a forum page and there click on the name of a person, I am asked to log in again. But when I do I get a message  that I try to use an invalid email or user. I have tried it several times so it is not a mistype from me. The page does not seem to recognize my e-mail... I tried this from a lap-top using Chrome, and also tried via Mic

[2021-05-18 21:00] aapeliv commented on #1265
@ItsiW: confusion between site and forum.

[2021-05-18 21:00] #1265 closed, assigned to nobody

[2021-05-18 23:35] ItsiW commented on #1265
Can we include the email of the user in bug reports so we can contact them for something like this

[2021-05-18 23:40] ItsiW opened #1267 "Add user email to bug reports"
So we can respond to them

[2021-05-19 00:03] lucaslcode commented on #1267
Bug reports are public, we can't expose emails

[2021-05-19 00:43] ItsiW commented on #1267
Very good point. Maybe we can do this with support tickets

[2021-05-19 03:13] #1267 closed, assigned to nobody

[2021-05-19 15:01] thdk opened #1268 "Use select component from MUI instead of autocomplete for fields with limited options"
For the following dropdown fields on the edit hosting preferences form, having autocomplete doesn't make much sense.

Accept smoking
Parking details
Sleeping arangement

Suggestion is to use a Select component (MUI) instead of Autocomplete component.

Note: currently tests and dev-tools are throwing warnings like:

[code]

 This should be fixed with this issue.

[2021-05-20 13:29] lucaslcode commented on #1240
This can be combined with #1260

[2021-05-20 14:21] aapeliv opened #1270 "Donation page"

[2021-05-20 19:17] #1162 closed, assigned to nobody

[2021-05-20 19:50] dommers-ux commented on #1253
I think so.  I thought there was one but I guess not anymore.

[2021-05-20 20:13] CouchersBot opened #1271 "Sign up fields reset when reading T&C"
Subject: Sign up fields reset when reading T&C
Description:
I filled out the signup fields, and, before completing the registration, I opened the T&C's using the link provided. I am using a Huawei Android phone.

Results:
When I closed the T&C page to submit my application, all the fields had been reset and I had to restart. It's a minor annoyance, but it shouldn't do that. Rather, the field input

[2021-05-20 23:18] darrenvong commented on #1253
Can this be shared with the backend @aapeliv ? Isn't there a list somewhere from the languages and regions work?

[2021-05-21 06:46] thdk commented on #1253
I'm currently working on frontend for regions and languages issue.  #409 (frontend) #926 (backend)

This will provide the list of all regions to the autocomplete control. So all you need is start typing and click the filtered countries from the list.

So I think this can be closed?

[2021-05-21 06:54] thdk opened #1272 "Separate profile route from user routes"
Follow up issue for #1200

We now have one /user route with optional `username` parameter.

If no username is provided we display the profile for the current logged in user.

This causes difficulties in our code. Suggestion is to use two separate routes:

/profile/:tab?
/user/:username/:tab?

Note: don't forget to edit the `urls.py` and `urls.MD` accordingly

[2021-05-21 09:42] CouchersBot opened #1273 "Messaging"
Subject: Messaging
Description:
Is more like a question: how do you message someone?
I just got a friend request from someone I do not know... and I wanted to askt hem that, but I can't find how to send a message

Results:

Backend version: develop-189420f3
Frontend version: develop-189420f3
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.44

[2021-05-21 14:55] lucaslcode commented on #1253
@thdk agreed

[2021-05-21 14:55] #1253 closed, assigned to nobody

[2021-05-21 23:19] lucaslcode opened #1274 "You can leave references with no text"

[2021-05-22 17:19] #543 closed, assigned to darrenvong

[2021-05-23 14:32] aapeliv opened #1276 "The first time the dashboard loads, it's scrolled down halfway"
I've noticed this a few times: when the dashboard loads the first time after signing up (not logging in), it's scrolled halfway down the page (so the "Welcome to the Couchers.org Beta!") isn't visible.

[2021-05-23 20:06] #1240 closed, assigned to nobody

[2021-05-23 20:06] #1260 closed, assigned to nobody

[2021-05-23 20:06] #1271 closed, assigned to nobody

[2021-05-23 20:25] CouchersBot opened #1279 "Can't log in with e-mail"
Subject: Can't log in with e-mail
Description:
I tried logging in with my email in the Email/Username field and my password (which has worked before in the beta), but I got a "Cannot Find this User" error message.  I could log in with my username.

Results:
I should be able to log in using either an email or a username... right?

Backend version: develop-7f962c9e
Frontend version: develop-7f962c9e

[2021-05-23 20:38] aapeliv commented on #1279
Works for me...

[2021-05-23 21:07] naspitha commented on #1279
![image](https://user-images.githubusercontent.com/23509977/119276612-c0d51780-bc23-11eb-9c4b-ad9d1d1ced7c.png)

Here is the error I'm getting (I've verified that I'm using the correct email address). If I enter "natalia" (my username) instead of my email, I can log in normally.

[2021-05-23 21:16] aapeliv commented on #1279
Also, frontend is showing the wrong error message

[2021-05-23 23:13] #1279 closed, assigned to nobody

[2021-05-24 18:38] CouchersBot opened #1291 "Photo upload causes backend error `VipsJpeg: out of order read`"
Subject: trying to add photo of myself
Description:
i uploaded photo and it says invalid image

Results:
wont let me upload a photo of myself

Backend version: develop-2f884f53
Frontend version: develop-2f884f53
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
Page: https://app.couchers.org/user/edit
User (spoofable): d

[2021-05-24 22:20] CouchersBot opened #1292 "Capital letters in country list"
Subject: Capital letters in country list
Description:
Visiting my profile

Results:
france

greece

spain

United Kingdom

USA

Belgium

Switzerland

Mexico

Panama

Argentina

Uruguay

france -> France (capital F), same for Greece, etc.

Backend version: develop-2f884f53
Frontend version: develop-2f884f53
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)

[2021-05-24 22:37] CouchersBot opened #1294 "Capital letters missing for country names"
Subject: Capital letters missing for country names
Description:
Editing profile

Results:
Countries I 've visited list : countries which are in the Countries I've lived in are without first letter in capital lettters

Backend version: develop-2f884f53
Frontend version: develop-2f884f53
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.69

[2021-05-24 22:45] lucaslcode commented on #1294
Type with a capital until we add autocomplete

[2021-05-24 22:45] #1294 closed, assigned to nobody

[2021-05-24 22:45] lucaslcode commented on #1292
Will use autocomplete soon (tm)

[2021-05-24 22:45] #1292 closed, assigned to nobody

[2021-05-25 02:27] aapeliv commented on #1291
Error log from media server:

[code]

[2021-05-25 02:41] CouchersBot opened #1295 "Photos are still rotated wrong on iPhone"
Subject: Photos are still rotted wrong on iPhone
Description:
It seems to work fine if you select “original” size, but is rotated wrong on any other scaled size.

Uploaded a portrait  image.

Results:
The photo is in wrong orientation before it’s uploaded to the media server: so this is a frontend issue.

Backend version: develop-2f884f53
Frontend version: develop-2f884f53-next
User Agent: Mozilla

[2021-05-25 02:45] aapeliv commented on #1295
Haven't verified uploading (because the iphone pics are pretty big in original size); but this seems to be a frontend thing.

[2021-05-25 17:23] lennartvanlaake opened #1298 "Make prometheus POC"
- Add a prometheus exporter to the API
- Create an example metric for prometheus to scrape

First step towards being able to visualise metrics on a dashboard

[2021-05-25 22:57] CouchersBot opened #1300 "domain name suggestion"
Subject: domain name suggestion
Description:
couchers.org is not a cool domain name if you understand French.

Results:
I don't want to submit this in the public forums, but I suggest
phyloxenium.org or filoxenium.org, so we all become filoxenists ?
Sounds better than couchers for the picky French. Domain is free.

Backend version: develop-37e75f9e
Frontend version: develop-37e75f9e
User Agent: Mo

[2021-05-25 23:07] lucaslcode commented on #1300
Not a bug

[2021-05-25 23:07] #1300 closed, assigned to nobody

[2021-05-26 00:24] CouchersBot opened #1301 "trying to edit my profile"
Subject: trying to edit my profile
Description:
press the link in the home page

Results:

Backend version: develop-37e75f9e
Frontend version: develop-37e75f9e
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:88.0) Gecko/20100101 Firefox/88.0
Page: https://app.couchers.org/user/edit
User (spoofable): andresvalle (873)

[2021-05-26 07:37] lucaslcode commented on #1301
Not enough info

[2021-05-26 07:37] #1301 closed, assigned to nobody

[2021-05-26 19:56] aapeliv commented on #1247
I imagine the max guests feature will be used mostly by people who travel in big groups: and I imagine it's more common for people to be able to host 1 person than groups. So I imagine it would get annoying for if you're trying to surf as a group of 3 and 90% of the people can't host you but show up because they didn't specify a max guests?

[2021-05-26 20:46] #1247 closed, assigned to nobody

[2021-05-26 21:42] lucaslcode commented on #1295
At a bit of a loss for this. I can reproduce on iOS safari by taking an upside-down photo and choosing a non-actual size. It seems like iOS strips the orientation data without rotating the image, and I don't know why.

We read the image with this function:
[code]
One thing to try would be reading as a binary file instead of a data url - maybe safari doesn't include exif for data urls when resizing

[2021-05-26 21:43] CouchersBot opened #1304 "While editing profile, lost connection, regained connection, submitted edit and got error"
Subject: While editing profile, lost connection, regained connection, submitted edit and got error
Description:
Got "oops... that's an unknown error" after losing connection while editing my profile page, regaining my connection and clicking on "save".

Results:
Should have saved my edit without an error.

Backend version: develop-37e75f9e
Frontend version: develop-2f884f53
User Agent: Mozilla/5.0

[2021-05-26 21:48] jesseallhands commented on #1304
Strangely enough, the profile edit seemed to be submitted successfully despite the error message. So there isn't really a problem that I can see, but it's strange there was an error message upon clicking "save" despite me having an internet connection.

[2021-05-26 22:30] aapeliv opened #1305 "Add some way to ask whether people actually met up"
E.g. in the reference soliciting email a button that says "I didn't stay with Aapeli", etc or similar. Also needs to be in the UI somewhere in the references view.

[2021-05-26 22:49] lucaslcode commented on #1304
@AllhandsNoFeet so would this match approximately what happened?

1. Open edit profile
2. Make some changes
3. Disconnect internet
4. Reconnect internet
5. Click save

[2021-05-26 22:57] #915 closed, assigned to ShmuelTreiger

[2021-05-26 23:02] kalvdans commented on #893
Closed by https://github.com/Couchers-org/couchers/pull/1302 ?

[2021-05-26 23:21] jesseallhands commented on #1304
Yes, that is correct. Step 6 would be "error message displayed".

Sorry, I'll write it more clearly next time! I was a bit lazy not writing out the steps on this report.

[2021-05-27 09:25] #1230 closed, assigned to nobody