[2021-05-27 16:41] aapeliv opened #1308 "Users with same email but different text case in db"

[2021-05-27 18:31] #1268 closed, assigned to thdk

[2021-05-27 19:17] #1308 closed, assigned to nobody

[2021-05-27 19:29] #949 closed, assigned to thdk

[2021-05-28 01:40] BoyanLiuu commented on #1270
I would like to work on this page, Am I using this Figma design for the donation page?
![image](https://user-images.githubusercontent.com/45325025/119917227-21ba6380-bf34-11eb-97c6-76a1dafb571f.png)

[2021-05-28 01:47] aapeliv commented on #1270
@BoyanLiuu sure! I had a brief chat about it with @darrenvong, but I think he's working on something else, so you're more than welcome to work on this.

Also, the text is not yet finalized, but I'll follow up with @ItsiW to sort that out in the next couple of days!

[2021-05-28 02:06] darrenvong commented on #1270
Yeah I won't have a lot of time probably until next week, so feel free to go for it! It should be a nice piece of work to get started for learning about the main libraries we use on the frontend

[2021-05-28 16:36] CouchersBot opened #1311 "subject"
Subject: subject
Description:
description

Results:
results

Backend version: develop-8080da78
Frontend version: process.env.REACT_APP_VERSION
User Agent:
Page: //
User (spoofable): <unknown> (1234)

[2021-05-28 17:02] #1246 closed, assigned to darrenvong

[2021-05-28 17:05] lucaslcode commented on #1311
Someone being naughty

[2021-05-28 17:05] #1311 closed, assigned to nobody

[2021-05-28 17:52] aapeliv opened #1312 "Add more info to traces"
* IP address
* User agent
* What else?

These are verbose, so I originally didn't want to include them because they just add a lot of extra bytes. But I think we should do it. As we later move to storing the traces in a more appropriate place, we can then also make sure they're compressed properly in which case the extra bytes are not an issue. (I did some testing earlier: dumping the traces as le

[2021-05-28 17:53] aapeliv opened #1313 "Move traces out of the main database into something better"
They're just polluting the main DB and should be in an OLAP db or something.

See also #1312.

[2021-05-28 18:13] aapeliv commented on #889
The first thing is to add the missing search filters into `UserSearch`. The `Search` ones are not ready yet and need a bit of work in other parts of the backend, in the community features bits.

[2021-05-28 18:15] aapeliv commented on #1204
Yes, just documenting it here...

[2021-05-28 18:31] CouchersBot opened #1314 "Misleading Change password confirmation text"
Subject: Misleading Change password confirmation text
Description:
Set/Change the password

Results:
Confirmation text reads: "Your password has been reset and a notification was sent to your email. You can now sign in without a password."

I guess it should say: "You can now sign in with your new password"

Backend version: develop-9b18c584
Frontend version: develop-8080da78
User Agent: Mozilla/5

[2021-05-28 21:13] CouchersBot opened #1315 "Search Results showing HTML"
Subject: Search Results showing HTML
Description:
Searching for members/hosts, in the sidebar the profile information has <span class> etc HTML

Results:
I suspect that the HTML should be hidden as it's distracting for the user to sift through and may dissuade use.

Backend version: develop-9b18c584
Frontend version: develop-9b18c584
User Agent: Mozilla/5.0 (X11; CrOS aarch64 13816.64.0) AppleWebK

[2021-05-28 22:21] lucaslcode commented on #1315
dupe #1182

[2021-05-28 22:21] #1315 closed, assigned to nobody

[2021-05-28 22:57] CouchersBot opened #1316 "can send a simple message"
Subject: can send a simple message
Description:
Is there a way to message someone without  "requesting to stay with them"??

Results:

Backend version: develop-9b18c584
Frontend version: develop-9b18c584
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
Page: https://app.couchers.org/user/chrisg/about
User (spoofable): b

[2021-05-28 23:26] lucaslcode commented on #1316
Intentional

[2021-05-28 23:26] #1316 closed, assigned to nobody

[2021-05-28 23:29] CouchersBot opened #1317 "Remove friend"
Subject: Remove friend
Description:
I accepted a friend request. They show up as a friend. I later changed my mind and no longer want them on my friends list. I see no way to remove them.

Results:
There should be a "remove friend" button somewhere (with a "Are you sure?" step), probably on the "My Connections"/"Your friends" section, and possibly also on the profile of the friend.

Backend versio

[2021-05-28 23:47] lucaslcode commented on #1317
@aapeliv we should probably put this up in the priority list

[2021-05-29 00:46] darrenvong commented on #927
Hasn't this been done in #737 and refactored recently in my discussion PRs?

[2021-05-29 01:49] darrenvong commented on #948
10MB seems quite a lot indeed, especially for mobile data uploads. Also we don't have anything that needs to be that high res on the website (displaying 10MB pics everywhere is a sure fire way to kill frontend perceived performance...), shouldn't we just limit it to 1MB max and display a message somewhere if they upload something that exceed that?

[2021-05-29 01:59] aapeliv commented on #948
the images are downscaled and compressed: I think it's okay to upload 10 mb imgs, it's sometimes not possible to do that scaling on a phone (people won't know how to do it, etc).

This issue now just requires the frontend to show an error message about the image being too big if it receives a 413

[2021-05-29 07:44] lucaslcode commented on #927
No, this is the page with information about the community, the "local info" page

[2021-05-29 11:44] aapeliv commented on #1317
Let's leave it as a good first backend issue and I'll reach out to this user to do it through support

[2021-05-29 11:54] lucaslcode commented on #1317
Okay - maybe you can recommend it to any new backend devs

[2021-05-29 11:56] aapeliv commented on #1317
Duplicate of #936

[2021-05-29 11:56] #1317 closed, assigned to nobody

[2021-05-29 12:08] aapeliv commented on #900
Just a heads up to anyone reading this in the future, `session.query(User).filter(User.id == context.user_id).one()` is guaranteed by the auth interceptor to return a valid user and we don't need to check for existence of `context.user_id` (in "secure" servicers).

[2021-05-29 12:19] #958 closed, assigned to vrouilhac

[2021-05-29 13:39] aapeliv commented on #1228
They still show up on search even if they're jailed (we don't want the platform to be completely empty right after updating TOS, etc). There are some users missing a location still (44 of them). They aren't on the geojson layer, but they are returned in search.

[2021-05-29 16:36] lucaslcode opened #1318 "Community tab"
Until we have the dashboard, a simple community tab with links to your current community and a list of all communities

[2021-05-29 16:40] aapeliv commented on #1318
I'm modifying `ListCommunities` to return a list of all communities if not given a parent community ID.

[2021-05-29 16:47] aapeliv commented on #1318
A user can have multiple communities, so this should be a list as well. Sorry, that's my bad for saying otherwise earlier.

[2021-05-30 00:24] aapeliv opened #1321 "Text about log in link is not easy to see"
We've got a user report that the text that pops up when you get emailed a log in link is not easy to see, and that the greyed out "Continue" button causes extra confusion.

Maybe we could move the text to replace the continue button and hide the button: so it would appear right where the user is looking at after they press the button?

[2021-05-30 00:41] dommers-ux commented on #1321
That's a great recommendation! Once the user selects "Continue", some sort of instructional text follow-up would clarify what to do next.

[2021-05-30 00:42] aapeliv commented on #1321
This is the current flow, which is not so clear:

Before clickign continue:

<img width="524" alt="Screen Shot 2021-05-29 at 8 41 46 pm" src="https://user-images.githubusercontent.com/2975660/120088420-535f3600-c0be-11eb-88d3-44efd75f7712.png">

After:

<img width="519" alt="Screen Shot 2021-05-29 at 8 41 51 pm" src="https://user-images.githubusercontent.com/2975660/120088421-54906300-c0be-11eb-98

[2021-05-30 00:53] dommers-ux commented on #1321
An alternative would be to have the instructional text below the button to begin with. For example:

<img width="416" alt="Screen Shot 2021-05-29 at 8 52 13 PM" src="https://user-images.githubusercontent.com/83376913/120088562-e351af80-c0bf-11eb-99bc-c282523de4a1.png">

[2021-05-30 00:55] dommers-ux commented on #1321
An alternative would be to have the instructional text below the button to begin with. For example:

<img width="412" alt="Screen Shot 2021-05-29 at 8 55 21 PM" src="https://user-images.githubusercontent.com/83376913/120088593-39beee00-c0c0-11eb-8c3a-8e2fc4398bf2.png">

[2021-05-30 02:56] dommers-ux opened #1322 "My Profile Buttons"
Upon selecting **Profile**, the buttons should be the same color palette (i.e. one should not be orange, and the other be teal).
There should be a hierarchy of buttons (actions). To establish differentiation, we can implement the primary vs. secondary button style:

- Before -
<img width="346" alt="Screen Shot 2021-05-29 at 10 30 58 PM" src="https://user-images.githubusercontent.com/83376913/12009

[2021-05-30 02:59] dommers-ux commented on #1322
Oops - I forgot to mention. The buttons are extended to their own row to increase accessibility / reachability.

[2021-05-30 13:16] thdk commented on #1322
I was developing this with the following figma design in my mind:

![image](https://user-images.githubusercontent.com/4201102/120105563-be117f80-c159-11eb-8d83-e37bac241199.png)

Where I assume the my connections button would eventually be removed to a separate card below the profile overview?

![image](https://user-images.githubusercontent.com/4201102/120105619-f749ef80-c159-11eb-80b3-f5e25f9c207

[2021-05-30 13:22] aapeliv commented on #1321
We don't know yet at that point if the user will get an email. When you click Continue it goes to the backend and checks if the user has a password or not: if no password it'll email, otherwise it shows up a password box!

[2021-05-30 18:27] dommers-ux commented on #1322
(Ignore my initial post).

[2021-05-30 19:18] #1322 closed, assigned to nobody

[2021-05-30 21:16] thdk commented on #1318
This tab would need to be added to the user/profile page?

[2021-05-30 21:19] aapeliv commented on #1318
No, just as a tab in the navbar, next to "Dashboard", "messages", etc

[2021-05-30 21:20] thdk commented on #1203
Will be fixed by #1200 and finetuned in #1272

[2021-05-30 21:20] #1203 closed, assigned to nobody

[2021-05-31 05:15] #942 closed, assigned to vrouilhac

[2021-05-31 11:47] thdk commented on #1318
Just one more question to make this clear for new contributors:

So in the nav bar we get something like: (?)

[code]

[2021-05-31 12:27] aapeliv commented on #1318
I think Communities should just be a "communities landing page", and the page content is those lists so they're not in the navbar.

It's just a quick and dirty way to discover communities for now: we'll definitely change it as we go, but we need some page to just list all the communities so people can discover them and get to their pages.

[2021-05-31 12:40] #896 closed, assigned to kalvdans

[2021-05-31 14:23] thdk commented on #1318
Ok, I can have a look at this one then. I'll not assign myself yet until I effectively start working on this issue.

So if anyone is faster, feel free! :)

[2021-05-31 23:51] lucaslcode commented on #1318
Sorry I started before I saw your comment and also I didn't do what Aapeli said :P

[2021-06-01 02:10] CouchersBot opened #1334 "Paragraphs in messages"
Subject: Paragraphs in messages
Description:
Sent a message with paragraphs formatting but when the message sent the formatting was not saved.

Results:

Backend version: develop-9b18c584
Frontend version: develop-9b18c584
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
Page: https://app.couchers.org/messages/req

[2021-06-01 02:53] aapeliv opened #1335 "Run enforce_community_memberships regularly"
Every day in a bg job or something

[2021-06-01 14:11] lennartvanlaake opened #1336 "Fix backend tests"
Update in grpc library broke tests for our tracing interceptor

[2021-06-01 15:48] aapeliv opened #1338 "Refactor tasks.py"
There are all these `send_*_email` functions in `tasks.py` that take a token and expiry text that are generated in another function. The expiry durations should also just be in constants and not be passed in at the call site. I think these should just be merged: and because we don't actually use the expiry text, we should just get rid of it.

[2021-06-01 18:48] aapeliv commented on #1336
This is done, right?

[2021-06-01 20:38] lucaslcode opened #1339 "Community page cleanup before release"
- [ ] Add ability to join/leave community
- [ ] Remove event placeholders
- [ ] Remove Pages section
- [ ] Fix more tips link
- [ ] Make "Find host" link to search with correct location filter
- [ ] Change tab order: Overview, Find host, Local info, Discussions, Events, Hangouts (Last two, the page just says Coming soon),

[2021-06-01 20:40] lucaslcode commented on #1339
Since it will look pretty bare with only the discussions section, maybe we can make the local info snippet it's own section

[2021-06-02 10:14] #1336 closed, assigned to lennartvanlaake

[2021-06-02 10:49] lucaslcode commented on #1227
I think this needs to be changed so the name and picture is a link to the profile, and clicking anywhere else selects. Alternatively, some kind of "show on the map" button to select.

[2021-06-02 13:15] CouchersBot opened #1340 "Markdown language showing in my profile on the "search" window. Does not show in the "Who I am" text box"
Subject: Markdown language showing in my profile on the "search" window. Does not show in the "Who I am" text box
Description:
Markdown language showing in my profile on the "search" window. Does not show in the "Who I am" text box

Possibly two things-

1. Switched from Markdown to WYSIWYG, then back to Markdown at the bottom of the "Who I am" text box.
2. Deleted the big bold header in the "Who

[2021-06-02 15:44] panmona opened #1342 "Add RSS Feed to Blog"
I really like what you are doing with this project and I would love to follow along with the development updates. For that your [blog](https://couchers.org/blog/) seems to be the best place.

I don't want to always manually check if there are updates / I will forget it. Other blogs provide an RSS feed so that I can subscribe to it and have all new content in one place.

For your blog I / my RSS pr

[2021-06-02 15:59] aapeliv commented on #1342
Currently the blog is literally just a bunch of [Markdown files](https://github.com/Couchers-org/couchers/tree/develop/site/markdown/blog) that are rendered into a HTML template. The [blog page](https://github.com/Couchers-org/couchers/blob/develop/site/markdown/blog.md) is manually updated when a new post is released. It's very rudimentary.

We will redo the blog sometime in the future, when we m

[2021-06-02 16:45] panmona commented on #1342
Yeah this is not that high of a priority.
I suggest to do that generation in a pipeline in GitLab (it seems that's what you're using for CI). Other than the RSS feed I don't think the blog needs to have that much more features.

From my experience RSS doesn't seem to be that widely used anymore apart from techy people. I guess that's mainly because you can't monetize it...

[2021-06-02 17:03] aapeliv commented on #613
Implement some for the API domain in #1343, but the main thing with CSP, etc is to get these on the static files.

[2021-06-02 17:33] aapeliv opened #1344 "Get rid of nginx on API"
Currently requests go from client -> nginx -> envoy -> backend. That is, there's a double proxy.

After #1343, nginx is there just to terminate TLS (and handle media stuff, but it could still be there for media, that's a separate issue). This also includes automatic certificate renewal, etc. Envoy is more than capable of doing this without nginx.

This requires a bit of care; Envoy is not secure b

[2021-06-02 20:52] darrenvong commented on #1340
Duplicate of #1226

[2021-06-02 20:52] #1340 closed, assigned to nobody

[2021-06-02 20:53] #1226 closed, assigned to Jesus82

[2021-06-02 21:49] darrenvong commented on #929
Going to leave a few notes on what needs to be fixed based on what I found so far.

### Needs fixing
- Leaving a host/surfer reference seems to be broken at the moment :/ I think this is the culprit:
https://github.com/Couchers-org/couchers/blob/b6450a6dcc0b4a3a7052ab713a423ba7ae18189c/app/frontend/src/features/profile/view/leaveReference/LeaveReferencePage.tsx#L40-L45
- The reference text is not

[2021-06-03 06:07] CouchersBot opened #1348 "Can't leave my friend Aapeli a reference"
Subject: Can't leave my friend Aapeli a reference
Description:
- Accept friend request from Aapeli
- Go to Aapelis profile
- Click "leave reference" button on Aapelis profile .

Results:
Expected: reference form opens
Actual: A 404 page was displayed for url: https://app.couchers.org/leave-reference/friend/1

Backend version: develop-ae67a07c
Frontend version: develop-ae67a07c
User Agent: Mozilla/

[2021-06-03 06:09] CouchersBot opened #1349 "Link on 404 page for 'home' doesn't have link styling"
Subject: Link on 404 page for 'home' doesn't have link styling
Description:
go to https://app.couchers.org/foo

Results:
styling issue: the 'home' link in 404 page should have a styling that indicates it can be clicked.

Backend version: develop-ae67a07c
Frontend version: develop-ae67a07c
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.

[2021-06-03 07:36] lucaslcode commented on #1348
Not released yet

[2021-06-03 09:36] javiwq commented on #929
I agree with all the "to be polished up" points. I'm going to first address the fixes and UI improvements, and then do a follow-up PR with functional tests, since the fixes can be done quick.

[2021-06-03 14:09] aapeliv commented on #1348
It is released... I rolled out `develop` into prod yesterday. Was I not supposed to?

[2021-06-03 16:04] CouchersBot opened #1355 "Can't reach profile page"
Subject: Can't reach profile page
Description:
When coming to the beta site I tried reaching my personal profile and it gave a error.

Results:
Just clicked the app.couchers.org site, gave a error message when I clicked on the profile button. Even refreshing the page doesn't solve it.

Backend version: develop-ae67a07c
Frontend version: develop-ae67a07c
User Agent: Mozilla/5.0 (Macintosh; Intel Ma

[2021-06-03 17:58] lucaslcode commented on #1348
My bad

[2021-06-03 18:14] lucaslcode commented on #1355
Caching issue, refresh should fix this

[2021-06-03 18:14] #1355 closed, assigned to nobody

[2021-06-03 18:21] lucaslcode opened #1356 "More robust check for unedited "default" profile fields"
I noticed some people have the blank defaults in their profile. Not sure why.

[2021-06-03 18:21] aapeliv commented on #1356
You mean the default headings for "about me", etc?

[2021-06-03 18:22] lucaslcode commented on #1356
Yes, for example, the user "tomato"

[2021-06-03 21:05] lucaslcode commented on #1348
#1354

[2021-06-03 23:06] darrenvong commented on #1348
I think it's because it's accidentally put under the communities feature flag and so it's current disabled in prod? 🤦

[2021-06-04 06:34] #1298 closed, assigned to lennartvanlaake

[2021-06-04 06:57] lennartvanlaake commented on #795
@aapeliv this issue has a merged PR linked to it. Can it be closed?

I was looking for work to pick up, starting with highest priority, and found this one on top.

[2021-06-04 13:24] lennartvanlaake commented on #1274
From the title of this issue and the fact that this is assigned to backend I assume that @lucaslcode expects BE to throw an exception if the text of a referece is empty (or contains entirely of whitespace?).

@aapeliv is that the way references should work? I can imagine that the 'reference' object can be used in the future just contain a rating without having an explicit text. If that would be so

[2021-06-04 13:26] lennartvanlaake commented on #1274
Changing the status to 'wontfix' for now until we have a final decision on how we want to handle empty reference text.

[2021-06-04 13:28] aapeliv commented on #1274
Yes, I think it should be done that way.

If we change it in the future, we will have to update both backend and frontend regardless. The final onus on validation is on backend; anything frontend does is just a courtesy and for UX. If we change references to eventually not require text; then that should have text be NULL, not an empty string, and they'll probably require a bunch more updating else

[2021-06-04 13:32] aapeliv commented on #795
Yeah. The tz stuff still needs more work but that's tracked elsewhere and this can be closed.

[2021-06-04 13:32] #795 closed, assigned to OmerBaddour

[2021-06-04 13:58] aapeliv opened #1358 "Set up postgres continuous archiving"
https://www.postgresql.org/docs/current/continuous-archiving.html

[2021-06-04 18:58] lucaslcode commented on #1274
Additional note, backend can't trust the frontend for validation since the API is public

[2021-06-04 19:49] lennartvanlaake commented on #1274
Sure, will fix it. If you are not interested in taking part in a discussion on software-design theory, stop reading here ;)

On a principal basis I would disagree on the necessity of this. I would say that a backend should validate things that are intrinsic to the consistency of an entity. For instance, without a user to which a reference is directed, a reference is not a reference, so backend sho

[2021-06-04 20:00] lucaslcode commented on #1274
Counterpoint, if someone decides to make a Couchers client and people start using it (like Reddit), but they don't implement all the same frontend checks, we start getting our client and backend polluted with ugly objects.

Alternative counterpoint, the design states that there is a private part to the reference (rating, was appropriate) and a public part (the text), having the text blank is viola

[2021-06-04 20:01] lucaslcode commented on #1274
Or worse, the alternative client has a bug - users enter the text, but an empty string is always sent to the backend!

[2021-06-04 20:04] aapeliv commented on #1274
Why do you think so?

I really think the backend should be validating not only db-level consistency but also business logic–level rules.

This also makes our life easier: we will soon be supporting 3 platforms, and having final business logic checking in the backend will make our lives easier if we fail to do something in one of the frontends.

Are you sure? I think it'd be pretty bad to have a bu

[2021-06-04 20:44] lennartvanlaake commented on #1274
I would draw the destinciton not between db-level/business logic but between 'is this intrinsic to the conceptual entity or not'. If we would take this a step further, we could say that a refrence below 10 characters would be bad and something we want to discourage, but it would still be a 'valid' reference, since it has all the properties necessary to process it, display it and execute any method

[2021-06-04 20:54] aapeliv commented on #1274
Simplicity and consistency is key. We want to not have to think case-by-case about what gets validated in the bg vs fgs. We now have two levels of validation logic: db-level and business logic–level. We don't want a third level somewhere in the middle. We want as few combinations of everything as possible. Sure, it doesn't lead to edge cases that crash the app, but it does lead to edge cases that

[2021-06-04 21:04] dommers-ux commented on #1349
I agree. It should look something like this:
<img width="578" alt="Screen Shot 2021-06-04 at 5 02 23 PM" src="https://user-images.githubusercontent.com/83376913/120862302-b76a7a00-c556-11eb-9661-e58d50536ae2.png">

[2021-06-04 21:04] dommers-ux commented on #1349
In the future, something like this would be nice:
<img width="583" alt="Screen Shot 2021-06-04 at 5 02 31 PM" src="https://user-images.githubusercontent.com/83376913/120862435-f00a5380-c556-11eb-92c5-c3b1497117c2.png">

[2021-06-04 21:19] lennartvanlaake commented on #1274
So, I think that is a conceptual difference in thiking about software. I would say that ideally first you have an abstract idea of an entity (a user, a reference, etc), which is then translated to flows and designs and eventually to software. That concept of a reference should not change often, while some aspects of what people do with references or how we show them will change a lot more often. B

[2021-06-04 22:03] aapeliv commented on #1274
You're designing for some future concept of what a reference is. There is no pure, immutable, abstract concept of what a reference is. I guarantee you, that list of things you've listed will change in some way or another. We will change something, we will add fields, the data will change. Trying to come up with an abstract immutable version and then "the current version" as two separate concepts w

[2021-06-05 08:07] lennartvanlaake commented on #1274
I think we can best agree to disagree here, since I feel that we are going in circles a bit and I am  not disputing the call in this particular instane. Woud still be happy to talk about this a bit mroe when we have

This comment scares me a little bit. I think what we currently have is moving quickly beyond a 'simple CRUD' app. I am afraid that not having clear definitions of what entity is repon

[2021-06-05 14:58] #1335 closed, assigned to lennartvanlaake

[2021-06-05 15:11] CouchersBot opened #1365 "Map search bar and search results lower bar spacing is off on mobile and looks bad"
Subject: Map search bar and search results lower bar spacing is off on mobile and looks bad
Description:
1. Visit search page
2. Type in Madison and perform search
3. Search results appear at bottom of screen and profile "snippets" are cut off. Search bar at top of map is also cut off. See screenshot below

Results:
The positioning of the search results at the bottom of the screen should not be "c

[2021-06-05 15:11] AllhandsNoFeet commented on #1365
![Uploading Screenshot_20210605-180710_Firefox.jpg…]()

[2021-06-05 15:12] jesseallhands commented on #1365
![Screenshot_20210605-180710_Firefox](https://user-images.githubusercontent.com/79384268/120896283-8c9d2600-c629-11eb-99d8-18a1e760586a.jpg)

[2021-06-05 17:10] #1272 closed, assigned to thdk

[2021-06-05 18:29] #1019 closed, assigned to Jesus82

[2021-06-05 18:31] #1318 closed, assigned to lucaslcode

[2021-06-05 18:56] lucaslcode commented on #1348
closed in #1354

[2021-06-05 18:56] #1348 closed, assigned to nobody

[2021-06-05 19:24] aapeliv commented on #1334
This applies to a bunch of places; including references now.

[2021-06-05 20:40] CouchersBot opened #1367 "Add helper text or process to add new languages"
We need to have instructions for users to let us know if we're missing languages they speak.

Just helper text under the language selector would suffice. We can direct them to support@ or just ask them to open a bug and include the name of the language.

---

Subject: Suggestion to use ISO 639-2 for Language LIst
Description:
My language isn't listed as a language I speak, but I'm familiar with th

[2021-06-05 21:06] lucaslcode commented on #1367
Like, "Language not listed? Contact support etc" ?

[2021-06-06 18:17] CouchersBot opened #1372 "entering date of birth"
Subject: entering date of birth
Description:
Not really a bug but a suggestion.  Since the day and month are swapped depending on the country you're from when entering any sort of date, I would suggest drop downs with months (Jan, Feb, Mar...), days (1-31), year (from 1900 up to now).

Results:
Nothing just a suggestion.

Backend version: develop-ae67a07c
Frontend version: develop-c7e70c2e
User Ag

[2021-06-06 23:22] dommers-ux opened #1374 "Dashboard Titles - Small UX Detail"
The following edits should be made on the dashboard page -

Before: Weekly online events
After: Weekly Online Events
(just made the first letter of each word capital)

--------------

Before: Updates
After: Feature Updates

--------------

Before: Sign up to volunteer
After: Volunteer

--------------

[2021-06-07 00:27] dommers-ux opened #1376 "Conversation UI/UX tweaks"
Receiving a message and a request is confusing for users. There are a few ways to improve this:

- [ ] Position the buttons directly under the message
- [ ] Differentiate the two buttons by using a primary and secondary button design
- [ ] Add an explanation text below the buttons

----------------

Before:
**Desktop**
<img width="1261" alt="Screen Shot 2021-06-06 at 7 30 28 PM" src="https://user-

[2021-06-07 00:28] dommers-ux commented on #1376
After [ Desktop ] :

<img width="774" alt="Screen Shot 2021-06-06 at 7 58 09 PM" src="https://user-images.githubusercontent.com/83376913/120945055-a4e27300-c705-11eb-8958-73109941febe.png">

The message input box should be the same height as the send button as well.

[2021-06-07 00:43] #1227 closed, assigned to nobody

[2021-06-07 00:48] dommers-ux commented on #1376
After [ Mobile ] -

<img width="264" alt="Screen Shot 2021-06-06 at 8 46 33 PM" src="https://user-images.githubusercontent.com/83376913/120945817-76b26280-c708-11eb-9bf4-4d853a3d012d.png">

[2021-06-07 03:22] #1374 closed, assigned to nobody

[2021-06-07 08:46] CouchersBot opened #1383 "Went from menu to profile"
Subject: Went from menu to profile
Description:
Clicked profile

Results:
It crashed and said to report the bug. It should have taken me to my profile

Backend version: develop-bf83de27
Frontend version: develop-bf83de27
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/90.0.4430.216 Mobile/15E148 Safari/604.1
Page: https://app.couche

[2021-06-07 10:39] CouchersBot opened #1384 "Not possible to change password"
Subject: Not possible to change password
Description:
Tried to change password with a google password in chrome with mac

Results:
"Change Password
"An unknown backend error occurred. Please consider filing a bug!"

Backend version: develop-bf83de27
Frontend version: develop-bf83de27
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472

[2021-06-07 18:35] #1384 closed, assigned to nobody

[2021-06-07 20:14] CouchersBot opened #1388 "Picture upload issues"
Subject: Invalid picture
Description:
Not able to upload pics

Results:
Uploaded several pics

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/profile/edit
User (spoofable): davidc (1250)

[2021-06-07 20:27] CouchersBot opened #1389 "Add friends"
Subject: Add friends
Description:
Try to search a friend, he has a profile

Results:
Look for search. User not found

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/connections
User (spoofable): da

[2021-06-07 23:56] lucaslcode commented on #1388
Is this size related? Are iphone pics over 10mb?

[2021-06-08 06:32] ShmuelTreiger opened #1393 "Add testing for each constraint in the models"
Add tests to test_models.py which check that each constraint is being followed.

Important, for example, because I discovered that my restraints weren't being picked up due to two separate \_\_table_args\_\_ in the same model.

[2021-06-08 15:30] CouchersBot opened #1395 "Search by place not working properly"
Subject: Search by place not working properly
Description:
Search by country

Results:
If you loog for a country, the results include every profile that mentions that word in any part of the profile, including where the person grow up, and the description.
The results are not wrong, but they are not very useful if I´m looking for hosts or members that live on a certain area =)

Backend version: de

[2021-06-08 15:44] CouchersBot opened #1396 "Can't edit profile"
Subject: Can't edit profile
Description:
Went to https://app.couchers.org/profile/edit

Results:
Ooops... that's an unknown error

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36 OPR/76.0.4017.177
Page: https://app.couchers.org/profile/edit
User (spoo

[2021-06-08 16:04] lucaslcode commented on #1396
Assume this is caching. Maybe we should think about updating the error page to say "Try refreshing fist"

[2021-06-08 16:04] #1396 closed, assigned to nobody

[2021-06-08 16:06] aapeliv commented on #1035
This is done in the backend and needs to be done in the frontend.

Sentry basically adds hooks to error handling, then when an error happens, it takes the info, traceback, etc and ships it to Sentry. We can then look at the error logs and see what's going on and actually get some meaningful info. This should really help with the "Ooops... that's an unknown error"s, and give some insight into how o

[2021-06-08 23:35] lucaslcode commented on #1035
This is easy, just altering our error boundary component to use the one from [`@sentry/react`](https://docs.sentry.io/platforms/javascript/guides/react/)

[2021-06-09 02:38] austinburnett commented on #1393
Hey @ShmuelTreiger can I work on this issue? I'm new to open source

[2021-06-09 02:51] ShmuelTreiger commented on #1393
Double check if @aapeliv has anything to add, but yes! Go for it!

Welcome! Always looking for new contributors :)

[2021-06-09 03:07] aapeliv commented on #1393
Hi @austinburnett, yes, you're welcome to work on this issue. I'm not sure if it's the most friendly issue to start off with, but you should be fine.

I'll also email you in a bit.

[2021-06-09 04:39] ShmuelTreiger commented on #861
Similarly, if I'm refreshing the page or clicking away and have unsaved data, a warning popup would be great (potentially with three options: cancel, save, continue)

[2021-06-09 16:33] aapeliv commented on #1013
* Set up dev env: //app/readme.md
* Find where the friend request acceptance is handled (grep for "RespondFriendRequest")
* Add a task + template for "friend req accepted" email
* Fire off task when friend req accepted
* Tests

[2021-06-09 19:05] dommers-ux opened #1398 "Search Bar Width"
The search bar should be extended to fit the column.

Before:
--------
<img width="461" alt="Screen Shot 2021-06-08 at 1 55 35 AM" src="https://user-images.githubusercontent.com/83376913/121413661-e6f0fc00-c933-11eb-8d2f-d8e47c8f5fed.png">

After:
-------
<img width="379" alt="Screen Shot 2021-06-08 at 2 02 47 AM" src="https://user-images.githubusercontent.com/83376913/121413702-f5d7ae80-c933-11eb

[2021-06-09 19:58] aapeliv commented on #893
No, that just sends emails when the state changes (e.g. when accepted). These should happen say, 3 days, 7 days, and 12 days after the end of hosting (if no review was written).

[2021-06-09 20:02] lucaslcode commented on #1398
This is already closed in #1332

[2021-06-09 20:10] #1398 closed, assigned to nobody

[2021-06-09 20:56] aapeliv opened #1399 "Downgrade to python 3.8"
As discussed in meeting; since we only use a trivial bit from 3.9 (`functools.cache`), and it's not available in ubuntu/debian stable.

[2021-06-09 21:01] aapeliv commented on #894
Requires #1373

[2021-06-09 21:31] kalvdans commented on #1199
Docker doesn't care if the commands access network, the only way to force a cache invalidation is if the command string changes or an environment variable changes.

[2021-06-09 22:49] kalvdans commented on #1399
Fixed by #1401 !

[2021-06-09 22:49] #1399 closed, assigned to kalvdans

[2021-06-10 17:25] lucaslcode commented on #1243
#1390

[2021-06-10 17:25] #1243 closed, assigned to JGibbsWork

[2021-06-10 18:28] CouchersBot opened #1402 "Message upon setting password"
Subject: Message upon setting password
Description:
Set password for first time

Results:
This message generated : "Your password has been reset and a notification was sent to your email. You can now sign in without a password."

Should above message end : "without an email link" ?

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64

[2021-06-10 18:56] CouchersBot opened #1403 "Search issues"
Subject: Search issues
Description:
Tried to search  Search filters using "near London" as example

Results:
Seems to expect drop-down location  box which is not there. Entered "London" manually and results returned included people in other countries. How do I search for a host in London ? Is there any "Help" functionality ?

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
Use

[2021-06-10 20:40] lucaslcode commented on #1403
Not sure what's happening, to this particular user, but I notice chrome android does not send `onKeyDown` when there are multiple inputs. I will add a search button in the field

[2021-06-10 22:14] CouchersBot opened #1405 "Profile"
Subject: Profile
Description:
Clicked the "Profile" link after logging in.

Results:
Got an "Ooops... thats an unknown error."

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36
Page: https://app.couchers.org/profile
User (spoofable): marlean (617)

[2021-06-10 22:49] aapeliv commented on #1405
Possibly a caching issue again... sigh

[2021-06-10 22:55] #1339 closed, assigned to lucaslcode

[2021-06-11 21:23] CouchersBot opened #1407 "Finish signing up for Couchers.org"
Subject: Finish signing up for Couchers.org
Description:
from my email I click on the button
confirm your email address

Results:
i expected to join couchers

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
Page: https://app.couchers.org/signup/R2UDdpFizJiQselrWm1V_ZqK0i4vecBnhPVRPm3UpHI=

[2021-06-12 01:44] ShmuelTreiger opened #1409 "Search is too broad"
So I was playing around with the website and I searched for "john" because I wanted to see the map adjust to the global view (super cool feature). The third hit was a woman named "Cate". Long story short, in her "home" section, she lives with her partner "John". Seems like a bug to me, that searching for "john" gets me "cate".

Maybe the eventual solution is just more advanced search (i.e. name="j

[2021-06-12 10:50] lucaslcode commented on #1409
This is intentional - I thought people are unlikely to search by name directly, so I included the whole profile by default.

But you're right it's a bit confusing, someone else reported the same bug

[2021-06-12 11:12] CouchersBot opened #1410 "Invalid image"
Subject: Invalid image
Description:
Tried to upload a photo

Results:
Shows a read message. Invalid picture. I’m using an IPhone

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/profile/edit
User (s

[2021-06-12 11:41] lucaslcode commented on #1410
dupe #948

[2021-06-12 11:41] #1410 closed, assigned to nobody

[2021-06-12 13:23] lucaslcode commented on #1389
not enough info

[2021-06-12 13:23] #1389 closed, assigned to nobody

[2021-06-12 13:24] lucaslcode commented on #1365
@AllhandsNoFeet is this fixed on https://next.couchershq.org ?

[2021-06-12 13:28] lucaslcode commented on #1383
caching

[2021-06-12 13:28] #1383 closed, assigned to nobody

[2021-06-12 13:31] lucaslcode commented on #1376
You can't send a message after rejecting - moving the buttons away from the text box makes it more confusing.
Maybe it should go:
- click button
- button is highlighted and message box is selected, send button label changes to "Reject" or whatever
- Type a message
- send

[2021-06-12 22:04] dommers-ux commented on #1376
If the user can't send a message after rejecting, then the send button should just disappear after the host selects to reject. Or not even be displayed. Will the host and potential couchsurfer be allowed to have a conversation before selecting an option? Just wondering because in some cases, it would be helpful for the two parties to discuss things before making a decision (like preferences or ask

[2021-06-12 22:10] dommers-ux commented on #1376
Here is an example from a facebook marketplace request I received this week:
<img width="396" alt="Screen Shot 2021-06-12 at 6 05 15 PM" src="https://user-images.githubusercontent.com/83376913/121790039-31c77980-cba9-11eb-8977-7f4c05472c80.png">

Another example from GroupMe's website (this is with a poll...but still a call to action)
<img width="227" alt="Screen Shot 2021-06-12 at 6 07 41 PM" src

[2021-06-12 22:11] dommers-ux commented on #1376
Another example from Slack's website.
<img width="604" alt="Screen Shot 2021-06-12 at 6 11 20 PM" src="https://user-images.githubusercontent.com/83376913/121790070-a3072c80-cba9-11eb-9c35-9e7dee72f792.png">

[2021-06-12 23:37] lucaslcode commented on #1376
Sorry, what I mean is the status buttons **are** associated with the textbox. We had users complain that they clicked the "reject" button which rejected the request, and then they could not longer send a message. They're supposed to type a message then click reject.

We could have checkboxes or something instead, like we did in the alpha, but it looks a bit weird I think.

[2021-06-12 23:40] dommers-ux commented on #1376
Okay, I understand now. I'll look into it!

[2021-06-12 23:40] jesseallhands commented on #1365
@lucaslcode The bottom bar seems to be fixed, but the search bar at the top still has no spacing between the top navbar and the search bar for the map:

![image](https://user-images.githubusercontent.com/79384268/121791264-a7354900-cbad-11eb-89c6-2d32e5f79632.png)

[2021-06-13 00:32] CouchersBot opened #1411 "Can't send a request same-day"
Subject: Can't send a request same-day
Description:
1. Sent Natalia a request.
2. Selected 6/12/2021 as the arrival date (At the time I clicked "send" it 19:31 on June 12th 2021
3. I clicked send and got the error message "from date must be today or later"

Results:
I should be able to send a request same-day. The cutoff should be midnight local time of the person receiving the request.

Backend v

[2021-06-13 00:33] jesseallhands commented on #1411
![image](https://user-images.githubusercontent.com/79384268/121791964-0d719a00-cbb5-11eb-88b9-8a46258bd961.png)

[2021-06-13 01:33] darrenvong commented on #1411
Probably a backend bug @aapeliv?

[2021-06-13 01:39] darrenvong commented on #1402
This message is definitely wrong at the moment unless you are actually resetting your password. Whether it's a password reset or not depends on if they previously had a password before or not. Whether a user can sign in with or without a password also depends on this state, so we need some more sophisticated checks on the frontend to determine the right message to show.

[2021-06-13 05:02] ShmuelTreiger commented on #1409
I could see it being most relevant if you're looking for a friend. It doesn't really impact your search (hence low priority), but it def struck me as weird.

[2021-06-13 07:48] CouchersBot opened #1412 "Probs"
Subject: Probs
Description:
Trying to post to forum but cant it just loops e back through  the signing over n over

Results:
Should have been able to introduce myself add suggestions etc Can I put a picture up? Dont see that option either am I an idiot?

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KH

[2021-06-13 10:52] CouchersBot opened #1414 "Change information in my about information"
Subject: Change information in my about information
Description:
I want to change details of my profile

Results:
I should be able to edit my sex and age

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36 OPR/76.0.4017.177
Page: https://app.couchers.org/

[2021-06-13 10:57] CouchersBot opened #1415 "Change information in my about information in my profile"
Subject: Change information in my about information in my profile
Description:
I dont have a chance to edit details of my informantion

Results:
I should be able to edit my about information on my profile

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.3

[2021-06-13 11:47] lucaslcode commented on #1414
Intentional

[2021-06-13 11:47] #1414 closed, assigned to nobody

[2021-06-13 11:47] lucaslcode commented on #1415
Intentional

[2021-06-13 11:47] #1415 closed, assigned to nobody

[2021-06-13 14:54] CouchersBot opened #1416 "Can't Use Search"
Subject: Can't Use Search
Description:
WHAT'S NEW. nothing, I literally just opened the page and clicked search.

Results:
NOTHING!
-love emily

Backend version: develop-762ac12b
Frontend version: develop-762ac12b
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36
Page: https://app.couchers.org/search
User (spoofable

[2021-06-13 21:22] #927 closed, assigned to darrenvong

[2021-06-13 21:37] darrenvong commented on #1416
Maybe a screenshot of what this looks like (or even a screenshot of the dev console, since it's Emily we can ask her) would be more helpful, otherwise can't reproduce it myself and there's not a lot to go off here for debugging...

[2021-06-13 21:39] darrenvong commented on #1395
Possible duplicate of Couchers-org/couchers#1409?

[2021-06-13 21:43] darrenvong commented on #544
I guess the structure of this should be fairly similar to discussions?

[2021-06-13 21:43] darrenvong commented on #4205
I guess the structure of this should be fairly similar to discussions?

[2021-06-13 21:51] lucaslcode commented on #1416
Its a dupe of Couchers-org/couchers#4210

[2021-06-13 21:51] #1416 closed, assigned to nobody

[2021-06-13 22:54] #1403 closed, assigned to lucaslcode

[2021-06-13 22:55] lucaslcode commented on #1412
User hasn't verified their email

[2021-06-13 22:55] #1412 closed, assigned to nobody

[2021-06-14 00:18] jesseallhands opened #1420 "Change and move "Your answer will remain private and anonymous" text in references"
Currently the text reads "Your answer will remain private and anonymous" but it should be reworded to make it clear that the answer will not be seen by the other person at all. It's also disingenuous to say it is anonymous because it is not (the user submitting the information is stored in the backend, and thus is not anonymous).

The text should be changed from "Your answer will remain private an

[2021-06-14 07:08] CouchersBot opened #1427 "Unstable reference value"
Subject: Unstable reference value
Description:
I was giving a reference to a host as a surfer. I clicked the 'amazing' icon on the slider.

Results:
I expected the 'amazing' icon to show up when I got to preview my reference. I saw the 'negative' icon in the preview of my reference.

I then re-did the slider of my reference to set it to 'amazing', and again the preview showed the 'negative' icon.

[2021-06-14 08:16] lennartvanlaake commented on #643
@aapeliv this issue is still on high priority since 15 Feb. If this is still current, probably we should do either start fixing the problem or lower the priority if we don't think it needs to be fixed ASAP.

[2021-06-14 08:28] lennartvanlaake commented on #1068
Replicated this bug by creating a host request with the current date. Response:

[code]

Seems a clear bug in BE, since the message says it should be checking for today or later.

[2021-06-14 08:50] lennartvanlaake commented on #1411
@darrenvong this is a duplicate from #1068, for which a PR is just submitted.

[2021-06-14 08:56] lennartvanlaake commented on #1395
@aapeliv do we want to do something about this? I can imagine we could implement:

`
if query matches name of country in country list -> only filter by country
`
If we want that, I would also expect/like the map to zoom to the country you are searching on.

I would probably see this more as a 'nice-to-have' feature than a bug?

[2021-06-14 09:10] Neilblaze commented on #1147
Assign me this please.

[2021-06-14 09:13] lennartvanlaake commented on #1427
I checked this again, and it seems to be a frontend issue. I don't see any API calls being made when clicking the rating slider.

I would guess that something is not going fully as planned when saving the selected value on the slider.

[2021-06-14 09:19] lennartvanlaake commented on #1291
What's the deal with this ticket? Are we going to research and fix this, or just assume that the picture he sent is actually invalid? Without the actual image the user tried to upload here this eems like a massive pain to replicate.

@aapeliv

[2021-06-14 09:56] lucaslcode commented on #1147
Done, let me know if you have any questions!

[2021-06-14 10:52] lennartvanlaake commented on #1411
Closing as duplicate.

[2021-06-14 10:52] #1411 closed, assigned to lennartvanlaake

[2021-06-14 10:55] lennartvanlaake commented on #1068
Well, I was wrong and the PR I submitted made no sense.

I see in my network traffic that when I select a request for 14 to 15 June, the call the backend actually contains the dates:

`
2021-06-13
2021-06-14`

Changing label to frontend here @lucaslcode. Is something weird with timezones happening here?

[2021-06-14 11:16] lennartvanlaake opened #1431 "Monitoring fix-up"
Both sentry and prometheus work now for monitoring backend. However, we still need a few fixes to make it work as well as it can:

- Sentry errors should be labeled per job/servicer and contain the name of the environment (prod/next)
- Caught exceptions with status code should not be sent to Sentry (this clogs our quota for free Sentry really quickly)
- Prometheus should monitor background jobs
-

[2021-06-14 14:42] lennartvanlaake commented on #1068
I see this exception happening quite often and we had this bug reported twice. I would say that it is also really annoying for new users. Anyone against bumping the priority to high or critical?

[2021-06-14 14:47] aapeliv commented on #1068
Yeah, bum pit up. I think it's a frontend timezone issue

[2021-06-14 17:33] #1274 closed, assigned to lennartvanlaake

[2021-06-14 21:17] austinburnett commented on #1013
Hey @aapeliv I've added a task and template, however, I'm unsure how to test and see if this code that I've added works.

[2021-06-14 22:11] lucaslcode commented on #1427
It seems sliding sets the value, but just clicking does not

[2021-06-15 00:07] #1102 closed, assigned to nobody

[2021-06-15 07:47] #1427 closed, assigned to nobody

[2021-06-15 12:04] lennartvanlaake commented on #898
I made a small design in drawio for how I would divide the data currently in the User table. My philosophy is that a core entity such as a user should be stable and small, because it is used in many places and has many dependencies. Data that does not intrinsically belong to that entity should live in separate tables which are separated per domain for which that data is used. I know I am going to

[2021-06-15 12:33] Neilblaze commented on #1147
Yeah sure! Just wanted to know that since this is a monorepo, & I see two branches with `frontend`, so which branch has the primary frontend files via which I can get started?

[2021-06-15 12:58] lennartvanlaake commented on #894
Aapeli:

* Get a user's email address based on username or user id (for support/moderation stuff)
* Create a community (there's some code in the tests, create_community I think. I was thinking that the community's polygon would be supplied as a geojson object from something like https://geojson.io/)

[2021-06-15 13:02] aapeliv commented on #894
* Ban a user
* Delete a user (policy team is still figuring out what else to do than set `is_banned`, but that's the first thing)

[2021-06-15 14:26] couchersbot opened #1435 "Nutzername wird nicht angezeigt"
Subject: Nutzername wird nicht angezeigt
Description:
Will mein soeben eröffnetes Profil vervollständigen, sehe meinen bei der Registrierung eingegebenen Nutzernamen nicht. Bin frühere Couchsurferin.

Results:
bale ist mein eingebener Nutzername, stattdessen erscheint mein voller Name

Backend version: develop-8ab604b1
Frontend version: develop-8ab604b1
User Agent: Mozilla/5.0 (Linux; Android 10;

[2021-06-15 14:26] CouchersBot opened #4209 "Username is not shown"
Subject: Nutzername wird nicht angezeigt
Description:
Will mein soeben eröffnetes Profil vervollständigen, sehe meinen bei der Registrierung eingegebenen Nutzernamen nicht. Bin frühere Couchsurferin.

Results:
bale ist mein eingebener Nutzername, stattdessen erscheint mein voller Name

Backend version: develop-8ab604b1
Frontend version: develop-8ab604b1
User Agent: Mozilla/5.0 (Linux; Android 10;

[2021-06-15 14:40] lennartvanlaake commented on #1338
I get that we can remove the unused `expiry_text` param but I am not sure what you would have in mind for the rest of this refactor. For now I am unassiging myself to it, looks like something that has less priority than some of the other issues and probably better if someone with a clearer idea on what should be done does this.

[2021-06-15 14:42] lennartvanlaake commented on #1435
Translation (to the best of my ability, not native German speaker):

[code]

[2021-06-15 14:42] lennartvanlaake commented on #4209
Translation (to the best of my ability, not native German speaker):

[code]

[2021-06-15 15:20] lucaslcode commented on #1147
Create a branch off `develop` - the branch names just say what is being worked on in that branch. [More info here](https://github.com/Couchers-org/couchers/blob/develop/docs/contributing.md)

[2021-06-15 22:14] AllhandsNoFeet commented on #1435
German speaker here, and @lennartvanlaake youre translation is good. The second part under "Results" she says:

"bale" is the username I entered, but instead my full name is showing

[2021-06-15 22:14] jesseallhands commented on #4209
German speaker here, and @lennartvanlaake youre translation is good. The second part under "Results" she says:

[2021-06-15 23:20] #1206 closed, assigned to lucaslcode

[2021-06-15 23:20] #1228 closed, assigned to nobody

[2021-06-15 23:29] lucaslcode commented on #1068
Update: tried and failed at adding tests which mock the timezone. I tried using the `timezone-mock` package and also using `mockdate` with a full ISO string including timezone like `2021-03-20T00:00:00.000+02:00`, but the tests passed.

[2021-06-15 23:32] CouchersBot opened #1439 "No breaks are allowed in references leading to a wall of text in long references"
Subject: No breaks are allowed in references leading to a wall of text in long references
Description:
Upon writing a rather long reference, the line breaks I used to "break up" the text in my reference were stripped when I went to submit the reference. Now the reference is just a big wall of text that is a bit intimidating to read.

Results:
You should be able to have line breaks in the reference

[2021-06-16 07:22] lennartvanlaake commented on #1068
Maybe I'm oversimplyfing this, but I would expect the dates that are shown to the user to be passed to the backend. Is there a logical reason for sending the backend dates that are different then the ones that are shown in the UI?

[2021-06-16 08:02] lucaslcode commented on #1068
No reason, I still haven't identified why that is happening (I'm assuming it's negative timezone)

[2021-06-16 20:09] #1439 closed, assigned to nobody

[2021-06-16 22:36] darrenvong commented on #541
Updated the issue description mainly as a check list for me to work through it based on looking at the designs. Have I missed any important pages @lucaslcode @aapeliv?

[2021-06-16 22:58] lucaslcode opened #1444 "Leaving a single community makes you leave every community"
To reproduce:
- Join more than one community
- Leave one of them
- You are no longer in any community

[2021-06-16 23:07] lucaslcode commented on #541
Also editing

[2021-06-17 01:52] aapeliv commented on #1402
This message is really confusing and we should fix it soon. (It's my fault for screwing it up.)

[2021-06-17 01:54] aapeliv commented on #643
The difficulty-weighted priority is low... It's really annoying and it is causing random exceptions whenever we upgrade. (It used to be fine because you could just go click around, but these days there's enough activity that you won't be the first to trigger the bug.)

I'm happy to lower the priority; but I'd love to have it fixed.

[2021-06-17 06:48] lennartvanlaake commented on #643
@aapeliv thanks for clarifying. I'd be happy to spend an afternoon trying to figure this out once I'm done with the admin stuff. Having high-prio tickets hang around for months makes my OCD go boom.

[2021-06-17 15:16] #1444 closed, assigned to nobody

[2021-06-17 17:31] CouchersBot opened #1446 "Scotland is missing from the countries list"
Subject: Scotland is missing from the countries list
Description:
Visited countries

Results:
Didn’t show

Backend version: develop-3b643a90
Frontend version: develop-3b643a90
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 Safari/604.1
Page: https://app.couchers.org/profile/about
User (spoofable): stef (1468)

[2021-06-17 22:12] CouchersBot opened #1447 "Logging in issues"
Subject: Logging in issues
Description:
I'm logged in but when I try to use the forum, the site says I need to login. No problem. I do that but then it says my email or username (tried both independently) do not exist.

Results:
I should have already been logged in when I try to join the forum discussion but I'm not and then the site doesn't recognise my username/email. This is weird because I can

[2021-06-17 22:42] lucaslcode commented on #1447
Forum login is different

[2021-06-17 22:42] #1447 closed, assigned to nobody

[2021-06-17 23:15] CouchersBot opened #1448 "In chat thread under messaging > requests text says to add person as a friend when they are already a friend"
Subject: In chat thread under messaging > requests text says to add person as a friend when they are already a friend
Description:
1. Clicked "messages"
2. Clicked "requests"
3. Clicked on request I sent to Natalia to open the request chat thread
4. At the bottom I see this text:
"This host request is closed or in the past. To continue chatting, add the other person as a friend and send them a nor

[2021-06-17 23:16] jesseallhands commented on #1448
![image](https://user-images.githubusercontent.com/79384268/122483404-1937d480-cf98-11eb-99b4-046283dc3990.png)

[2021-06-17 23:21] CouchersBot opened #1449 "Cancel button persists after hosting/surfing event is finished"
Subject: Cancel button persists after hosting/surfing event is finished
Description:
1. Clicked on messages
2. Clicked on surfing
3. Clicked on the surfing request to view the chat thread
4. At the bottom of the request thread, there is a "cancel" button even though the end date of the request is in the past.

This is confusing and doesn't make sense because the period of time I requested is compl

[2021-06-17 23:21] jesseallhands commented on #1449
![image](https://user-images.githubusercontent.com/79384268/122483759-e6421080-cf98-11eb-9d84-8c3aaeb15702.png)

[2021-06-18 18:23] couchersbot opened #1451 "Search results"
Subject: Search results
Description:
The problem is: if you want to be an alternative of couchsurfing you must have a good search results and filters. On couchsurfing there's a lot of possibilities to find some hosts, you can select gender, age, interests, last login, account created since, hosting availability, etc...

The search results by map is not a good thing cause when you will have thousan

[2021-06-18 18:23] CouchersBot opened #4208 "UserSearch megaissue"
- [ ] Add more filters Couchers-org/couchers#889
- [ ] Make a list only view
- [x] Put keyword search in the filter dialog instead of having it as the default search box (people are trying to type locations in there) Couchers-org/couchers#1409 Couchers-org/couchers#4208

Original:
Subject: Search results
Description:
The problem is: if you want to be an alternative of couchsurfing you must have a

[2021-06-18 18:39] lucaslcode commented on #1451
I wonder if we should put the current search bar in the filter dialog and make it a keyword search. The current setup is obviously confusing

[2021-06-18 18:39] lucaslcode commented on #4208
I wonder if we should put the current search bar in the filter dialog and make it a keyword search. The current setup is obviously confusing

[2021-06-18 21:32] lucaslcode opened #1452 "CORS errors with accept-language header"
To reproduce in Chrome
- Dev sidebar
- 3 dots menu
- More tools
- Sensors
- Location: Moscow

[2021-06-18 21:38] lucaslcode commented on #1452
Changed priority to low, i don't think it's a usual header

[2021-06-19 22:41] lucaslcode commented on #1407
Not enought info

[2021-06-19 22:41] #1407 closed, assigned to nobody

[2021-06-19 22:41] #1405 closed, assigned to nobody

[2021-06-19 23:49] AllhandsNoFeet commented on #1451
The current search field is labelled "Search for a user..." which is not what the query actually is, right? At a minimum the label should be updated to properly reflect what kind of query is being performed.  The default "last active" timeframe should be empty. Right now it's "last day", but we don't want to be too restrictive with the default search filter. The accommodation filter is also curren

[2021-06-19 23:49] jesseallhands commented on #4208
The current search field is labelled "Search for a user..." which is not what the query actually is, right? At a minimum the label should be updated to properly reflect what kind of query is being performed.  The default "last active" timeframe should be empty. Right now it's "last day", but we don't want to be too restrictive with the default search filter. The accommodation filter is also curren

[2021-06-20 00:27] jesseallhands commented on #1388
Pics on newer samsung phones are 15-20MB (I just checked a recent photo on my Note 20 Ultra and it was 19MB).

In any case, could we add a note "Files must be less than X MB in size"  and maybe even use an error message to warn people if the file they just tried to upload is too large.

[2021-06-20 15:27] aapeliv opened #1457 "Add Open Town Hall to dashboard"
The first one is in a week; so would be good to have it up by then.

I imagine it should either be a new section or change the "weekly online events" to accommodate this monthly one.

Details on forum: https://community.couchers.org/t/open-town-hall/1291

[2021-06-20 18:37] CouchersBot opened #1458 "Text of confirmation of password change is confusing in one case."
Subject: Text of confirmation of password change is confusing in one case.
Description:
I changed my loginmode with e-mail into loginmode with password

Results:
I got a confirmation that from now on I can sign in withOUT a password.

Backend version: develop-3b643a90
Frontend version: develop-3b643a90
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0
Page:

[2021-06-21 00:55] dommers-ux commented on #1457
i think a new one would suit better.
one for "Open Town Hall" and another for "Weekly Social Events"

[2021-06-21 01:30] ShmuelTreiger commented on #1458
I believe this is referring to:

`export const PASSWORD_CHANGED =
  "Your password has been reset and a notification was sent to your email. You can now sign in without a password.";`

Which should probably be changed to "You can now *only* sign in without a password" b/c it was reset (i.e. it's an intermediary step). Should we also maybe add "To continue with password setup..."?

[2021-06-21 01:36] ShmuelTreiger commented on #1446
This was intentional. Scotland is not it's own "region", but a part of the UK (i.e. we don't have US or Australian states either).

Our region list conforms to and is restricted by alpha-3 IBAN codes: https://www.iban.com/country-codes

[2021-06-21 01:40] ShmuelTreiger opened #1464 "Frontend uses "countries" lived/visited instead of "regions""
Title. So that Couchers doesn't arbitrate what is or isn't a country

[2021-06-21 02:16] ShmuelTreiger commented on #1451
I want to group all search threads into one issue and this issues seems to have the best discussion.

It seems to me we need basic search, which allows for search by name, current location, perhaps gender and age, plus a default "search entire profile" box, and then advanced search similar to what Jesse has above. The two should work in tandem (i.e. if I put location in the default it should eithe

[2021-06-21 02:16] ShmuelTreiger commented on #4208
I want to group all search threads into one issue and this issues seems to have the best discussion.

It seems to me we need basic search, which allows for search by name, current location, perhaps gender and age, plus a default "search entire profile" box, and then advanced search similar to what Jesse has above. The two should work in tandem (i.e. if I put location in the default it should eithe

[2021-06-21 02:17] ShmuelTreiger commented on #1409
Continued Couchers-org/couchers#4208

[2021-06-21 02:17] #1409 closed, assigned to nobody

[2021-06-21 02:17] ShmuelTreiger commented on #1395
Continued Couchers-org/couchers#4208

[2021-06-21 02:17] #1395 closed, assigned to nobody

[2021-06-21 02:17] ShmuelTreiger commented on #889
Partially continued in Couchers-org/couchers#4208

[2021-06-21 02:19] ShmuelTreiger commented on #1451
Most of the work seems to be frontend.

Search.UserSearch seems fairly robust, although there's almost no testing. I'll create a separate issue for that.

[2021-06-21 02:19] ShmuelTreiger commented on #4208
Most of the work seems to be frontend.

Search.UserSearch seems fairly robust, although there's almost no testing. I've created a separate issue for that Couchers-org/couchers#1465

[2021-06-21 02:20] ShmuelTreiger opened #1465 "Testing for search.UserSearch"
search.UserSearch has almost no testing and needs some

[2021-06-21 02:34] ShmuelTreiger opened #1466 "Search queries stacked in the URL"
I was playing around with the search function. I'm not entirely sure how (or how to reproduce), but I got my queries to stack somehow in the URL. Predictably, this lead to no results.

![Query stack](https://user-images.githubusercontent.com/14131043/122699524-6917d500-d1fe-11eb-976f-5c8cb1e2725d.png)

[2021-06-21 02:35] ShmuelTreiger commented on #1458
duplicate #1402

[2021-06-21 02:35] #1458 closed, assigned to nobody

[2021-06-21 04:07] ShmuelTreiger commented on #846
What if attempting login with an email brings the user to password login no matter what, with a big notification that if they don't have a password they should click the link in the email (of course, if they don't have an account, then the email will let them know someone attempted to login despite no account). That way same behavior in all use cases.

[2021-06-21 04:28] ShmuelTreiger commented on #1305
Let's say the user clicks "I didn't stay with Aapeli". Then what? Do we want a debrief of why not? Are we going to have a "cancelled meetup" references section? Or should it just load a page "Too bad, there's always next time. Click here to search for your next trip."?

[2021-06-21 04:33] ShmuelTreiger commented on #1338
I'm similarly confused in the exact same manner as lennartvanlaake

[2021-06-21 06:01] kalvdans commented on #900
Has got its own bug now: https://github.com/Couchers-org/couchers/issues/1465

[2021-06-21 08:15] lucaslcode commented on #1466
This looks correct, one is location and one is query. Confusing UX is already tracked

[2021-06-21 08:15] #1466 closed, assigned to nobody

[2021-06-21 08:23] lucaslcode commented on #1446
I think this needs more discussion. Scotland is indeed a country, and this user thought it should be there (as a lot of Scottish people would). Although we need to change it to say regions.

[2021-06-21 08:25] ShmuelTreiger commented on #1446
I had this exact conversation with @aapeliv

Already made a bug #1464

[2021-06-21 08:41] #1446 closed, assigned to nobody

[2021-06-22 03:18] CouchersBot opened #1471 "Alphabetize communities list"
Subject: Alphabetize communities list
Description:
"Browse all communities"

Results:
The community list will be hard to navigate. It would be easier if it was alphabetized

Backend version: develop-c1e24cd2
Frontend version: develop-c1e24cd2
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org/
User (spoofable): itsi (2)

[2021-06-22 03:54] CouchersBot opened #1472 "I get 404 when clicking on a discussion"
Subject: I get 404 when clicking on a discussion
Description:
I was on https://app.couchers.org/community/19/sydney and clicked the discussion I had created.

Results:
https://app.couchers.org/discussion/22/introduce-yourself gives me a 404 error rather than the discussion

Backend version: develop-c1e24cd2
Frontend version: develop-c1e24cd2
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:8

[2021-06-22 08:00] #1068 closed, assigned to lennartvanlaake

[2021-06-22 08:15] lucaslcode commented on #1472
Fixed in 6c46340 @aapeliv plz deploy

[2021-06-22 08:16] #1472 closed, assigned to nobody

[2021-06-22 10:48] ShmuelTreiger opened #1474 "Test new association proxy"
Not 100% certain this works as intended, as it's empty the only time it's tested

_Originally posted by @ShmuelTreiger in https://github.com/Couchers-org/couchers/pull/1473#r655908681_

[2021-06-22 11:28] CouchersBot opened #1475 "Discussions leading to 404"
Subject: Discussions leading to 404
Description:
Go to discussion page:

https://app.couchers.org/discussion/23/introduce-yourself

Results:
Is it still behind a feature flag?

Backend version: develop-c1e24cd2
Frontend version: develop-c1e24cd2
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 Safari/604.1
Page

[2021-06-22 11:36] lucaslcode commented on #1475
dupe #1472

[2021-06-22 11:36] #1475 closed, assigned to nobody

[2021-06-22 14:57] CouchersBot opened #1476 "Text input box doesn't clear when leaving a comment."
Subject: Text input box doesn't clear when leaving a comment.
Description:
I left a comment

Results:
The text was posted but also remained in the input box, it should be emptied

Backend version: develop-6c463408
Frontend version: develop-6c463408
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org/discussion/22/introduce-yoursel

[2021-06-22 16:38] lucaslcode commented on #1225
This was closed at some point

[2021-06-22 16:38] #1225 closed, assigned to nobody

[2021-06-22 18:42] sadikekin opened #1477 "The figure background is missing in `docs/architecture.md`"
I am using Github in dark mode. So, for me understanding the figure was a bit hard. I think we can change the background of the image.

This is how I see the document.

<img width="1030" alt="Screenshot 2021-06-22 at 20 38 11" src="https://user-images.githubusercontent.com/25348720/122981638-43273780-d39a-11eb-999c-6e60a15cda28.png">

[2021-06-22 19:09] aapeliv commented on #1477
Can this be fixed with some HTML in the markdown doc? Or we could re-export the drawio diagram with a white background

[2021-06-22 20:03] sadikekin commented on #1477
I tried to solve this issue by simply editing the image. However, I think my photoshop knowledge is not sufficient enough. I don't know about the HTML. If you have the drawio base document, I think just simply re-exporting might be the easiest solution.

[2021-06-22 20:08] aapeliv commented on #1477
Could you do that and open a PR? The drawio source is in the same folder

[2021-06-22 20:21] sadikekin opened #1478 "The local development setup - Postgres Error - UndefinedObject"
I am following the `app/readme.md` document to set up this application on my local computer to do some development on it. However, in the `Launch the backend with docker-compose` part, I got the following error. (I use Macbook)

`sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedObject) type geometry`

I managed to solve the issue by applying the following steps.

1 - Manually get the CLI

[2021-06-22 20:27] aapeliv commented on #1478
That container should include the postgis extension, it's the postgis container!

Are you sure you didn't wipe the database or something before this?

It might also be that we do something funky there. Worth double checking.

[2021-06-22 20:45] lucaslcode commented on #1259
No longer occurs

[2021-06-22 20:45] #1259 closed, assigned to nobody

[2021-06-22 20:45] lucaslcode commented on #1273
Intentional, will be redesigned

[2021-06-22 20:45] #1273 closed, assigned to nobody

[2021-06-22 20:46] lucaslcode commented on #1304
I can't reproduce this @AllhandsNoFeet, does it reliably happen for you?

[2021-06-22 20:53] sadikekin commented on #1477
I changed the file. However, I think I don't have push access. When I try to push the codebase to the new branch that I have created, I get the following error.

[code]

[2021-06-22 21:03] aapeliv commented on #1477
You can fork the repo and make a PR from your fork into this repo!

[2021-06-22 21:12] aapeliv commented on #1477
Also, could you email me at aapeli @ our domain, please? It'd be good to have a quick chat and have you join the developer meeting tomorrow if you're keen to help out! Then we can give you write access to the repo.

[2021-06-22 22:11] lucaslcode opened #1480 "Initial communities don't have images"

[2021-06-22 22:16] dommers-ux opened #1481 "Message / Text Input Box Size"
The message input box should be the same size as the button.

Now:
<img width="228" alt="Screen Shot 2021-06-22 at 5 11 20 PM" src="https://user-images.githubusercontent.com/83376913/123006526-6bed0400-d37d-11eb-8f60-ec7bdd3bed2e.png">

New:
<img width="278" alt="Screen Shot 2021-06-22 at 5 13 23 PM" src="https://user-images.githubusercontent.com/83376913/123006561-7ad3b680-d37d-11eb-90f8-5de58ffe

[2021-06-22 22:18] lucaslcode commented on #1481
Doesn't this imply very short messages?

[2021-06-22 22:19] #1477 closed, assigned to nobody

[2021-06-22 22:24] dommers-ux commented on #1481
Not necessarily. It's just general UX to have the input fields the same size as the button for optimal scanning and symmetry.

For things like discussions, it's a little different (input fields may be larger but the action button is placed below the box, like GitHub).

If you look at any platform with messaging, they're all consistently the same size. Otherwise, it looks a little wonky.

[2021-06-22 22:28] jesseallhands commented on #1304
@lucaslcode I also couldn't reproduce this. Seems to be resolved, so feel free to close :)

[2021-06-22 22:40] jesseallhands commented on #1481
@dommers-ux This probably works for short text entry like on profiles, but would be terrible ux for messaging/requests/large-field profile editing. Could we use single-line like you proposed for short-field text entry (eg: occupation, education, custom pronouns, etc on profile) and a bigger box for text entry on large-fields (about me/messaging/requests)?

Alternatively, we could have the text ent

[2021-06-22 22:54] #1304 closed, assigned to nobody

[2021-06-22 22:56] dommers-ux commented on #1481
@AllhandsNofeet
I disagree. Single line entries are common for messaging everywhere (Slack, Facebook, AirBnB). It also works better for mobile messaging.

I understand the need for large entry for requests, but for a quick chat asking a user for advice about traveling to a place (e.g. Hey! I'm heading to Madison, WI this weekend - How's the COVID situation?), it would be ideal to keep the single l

[2021-06-22 23:24] jesseallhands commented on #1481
@dommers-ux I think we're actually in agreement. I just tested out the various platforms and they all start out one line but are responsive and expand as you type (for example if the message gets longer):
**Before:**
![image](https://user-images.githubusercontent.com/79384268/123011954-0140c600-d387-11eb-83c4-0e0da9a9e25e.png)
**After:**
![image](https://user-images.githubusercontent.com/79384268/

[2021-06-22 23:40] lucaslcode commented on #1481
Not trivial but doable

[2021-06-22 23:55] jesseallhands commented on #1481
Looks like the text fields are differentiated here if we're using material.ui :

https://material.io/components/text-fields#input-types

- **Single line text fields** display only one line of text
- **Multi-line text fields** grow to accommodate multiple lines of text
- **Text areas** are fixed-height fields

One scrolls horizontally (makes sense for the single-line inputs like education/occupatio

[2021-06-23 05:27] CouchersBot opened #1482 "Text persists in text input box after submitting said text in discussion thread"
Subject: Text persists on discussion board after submitting comment in discussion
Description:
1. Clicked on Dashboard
2. Clicked on "Global Community" and then "Americas"
3. Clicked on "Hello world!!" topic
4. I typed up a comment and clicked on the "comment" button
5. The exact text I had entered in the text entry field for my comment persisted even after submitting the comment by clicking "comm

[2021-06-23 05:28] jesseallhands commented on #1482
![image](https://user-images.githubusercontent.com/79384268/123040784-efc4e180-d3b9-11eb-955e-64ba48653e9f.png)

[2021-06-23 05:32] CouchersBot opened #1483 "Spacing of "Comments | XX" in bottom right of discussion container is off"
Subject: Spacing of "Comments | XX" in bottom right of discussion container is off
Description:
See screenshot below

Results:
The word "Comments" and the digit should be on the same line separated by a pipe.

Eg:    Comments | 3

Backend version: develop-d6943b34
Frontend version: develop-d6943b34
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: htt

[2021-06-23 05:32] jesseallhands commented on #1483
![image](https://user-images.githubusercontent.com/79384268/123041103-7b3e7280-d3ba-11eb-853e-0ecee2caf341.png)

[2021-06-23 17:35] sadikekin commented on #1478
I can not reproduce the error after my fix. I just wanted to open this issue to help others if they get the same error.

[2021-06-23 18:39] sadikekin commented on #1482
duplicate of #1476

[2021-06-23 20:33] #1482 closed, assigned to nobody

[2021-06-23 20:34] aapeliv commented on #1480
Is this for replacing the map with images?

[2021-06-23 20:46] sadikekin opened #1487 "The communities popup only shows onne page"
When the user clicks the browse all communities section, the front end only displays one page of the communities if the pagination size is smaller than the total community size.

<img width="1255" alt="Screenshot 2021-06-23 at 21 48 54" src="https://user-images.githubusercontent.com/25348720/123165556-ae453c80-d474-11eb-9cbe-e60ab7d2cc16.png">

[2021-06-23 20:58] kalvdans commented on #1358
What is the threat we want to protect us against? Accidental removal of large chunks of the database? Natural disasters? Amazon going bankrupt?

[2021-06-23 21:00] dommers-ux commented on #1457
here is a suggestion for tags to make each drop-down more informative/descriptive, as well as make new things (such as Open Town Hall) or updates pop-out

<img width="437" alt="Screen Shot 2021-06-20 at 11 54 04 PM" src="https://user-images.githubusercontent.com/83376913/123167401-162b6100-d43c-11eb-9ca9-1d79db2028ee.png">

[2021-06-23 21:01] aapeliv commented on #1358
Different types of user error mostly: e.g. accidentally deleting things (on any level). Also things like the server failing (EC2 instance themselves can fail, and are no more reliable than other servers).

It's more efficient to do continuous archiving and take snapshot backups more rarely than it is to take snapshot every upgrade as we do now.

[2021-06-23 21:03] kalvdans commented on #1358
To protect from server failure we also need to move the backups to another host.

[2021-06-23 21:04] aapeliv commented on #1358
Yeah, they're currently being sent to an S3 bucket, which is much more reliable than a server (it's distributed over multiple disks and does some secret AWS magic). I'm envisioning the continuous archiving being the same.

[2021-06-23 23:05] lucaslcode commented on #1480
The map only displays if there's no image, so just adding images should be enough

[2021-06-23 23:52] ShmuelTreiger commented on #1013
Austin's work on this is great, but do we need an email notification when someone accepts your friend request? I'm worried about notification fatigue and email filtering.

[2021-06-23 23:52] ShmuelTreiger commented on #1451
Another thought:
Could we have a search filter something like "User has notifications turned on"? That way, even if they haven't been online for a while, I can see if they'll receive a notification if I make a host request

[2021-06-23 23:52] ShmuelTreiger commented on #4208
Another thought:
Could we have a search filter something like "User has notifications turned on"? Or even "User checks notifications" if we ever track that? That way, even if they haven't been online for a while, I can see if they'll receive a notification if I make a host request

[2021-06-24 00:29] CouchersBot opened #1489 "i NEED A PASSWORD PLS"
Subject: i NEED A PASSWORD PLS
Description:
i NEED A PASSWORD
EMAIL KALAKALAKA1917@GMAIL.COM

Results:

Backend version: develop-d6943b34
Frontend version: develop-d6943b34
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org/
User (spoofable): cantuta1917 (1433)

[2021-06-24 00:29] aapeliv commented on #1489
Not a bug

[2021-06-24 00:29] #1489 closed, assigned to nobody

[2021-06-24 00:41] #912 closed, assigned to ShmuelTreiger

[2021-06-24 00:51] #1457 closed, assigned to aapeliv

[2021-06-24 06:23] CouchersBot opened #1490 "No breadcrumbs to navigate to other communities when in global community"
Subject: No breadcrumbs to navigate to other communities when in global community
Description:
1. Clicked on "global community"
2. Once on global community, there is no intuitive way to select a sub-community or navigate back to the "main" page where I can select sub-communities

Results:
Users should be able to select sub-communities from the main community (in this case "global community") page.

[2021-06-24 16:00] CouchersBot opened #1492 "Discussion not showing"
Subject: Discussion not showing
Description:
Clicked on a discussion on global community.

Results:
Got a "we couldn't find the url" message.
I'm on Android.

Backend version: develop-d6943b34
Frontend version: develop-c1e24cd2
User Agent: Mozilla/5.0 (Linux; Android 9; FIG-LX3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.91 Mobile Safari/537.36
Page: https://app.couchers.org/discussio

[2021-06-24 18:49] lucaslcode commented on #1492
Caching

[2021-06-24 18:49] #1492 closed, assigned to nobody

[2021-06-24 21:19] #1464 closed, assigned to nobody

[2021-06-24 21:41] lucaslcode commented on #1487
I was wrong sorry - it is correctly paginated. I get a load more button if I set `pageSize` to a low number in the frontend request.

[2021-06-24 21:41] #1487 closed, assigned to nobody

[2021-06-24 22:04] CouchersBot opened #1495 "Caricamento foto"
Subject: Caricamento foto
Description:
Caricamento foto profilo

Results:

Backend version: develop-d6943b34
Frontend version: develop-d6943b34
User Agent: Mozilla/5.0 (Linux; Android 10; VOG-L29) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User (spoofable): antosicilia (595)

[2021-06-24 22:32] lucaslcode commented on #1495
dupe

[2021-06-24 22:32] #1495 closed, assigned to nobody

[2021-06-24 22:33] #1402 closed, assigned to nobody

[2021-06-25 03:38] CouchersBot opened #1501 "Add line breaks capability to messages"
Subject: Add line breaks capability to messages
Description:
I typed a message on my phone containing line breaks, but the line breaks didn't appear in the final message.

Results:
I wish there were like breaks because now my message reads like a crazy person's, jumping from topic to topic.

Backend version: develop-dda0d337
Frontend version: develop-dda0d337
User Agent: Mozilla/5.0 (Linux; Androi

[2021-06-25 03:41] CouchersBot opened #1502 "choosing countries"
Subject: choosing countries
Description:
I chose what country I traveled to and where I lived

Results:
J couldn't find Great Britain nor Scotland?

Backend version: develop-dda0d337
Frontend version: develop-dda0d337
User Agent: Mozilla/5.0 (Android 11; Mobile; rv:89.0) Gecko/89.0 Firefox/89.0
Page: https://app.couchers.org/profile/about
User (spoofable): cedric (1668)

[2021-06-25 04:27] couchersbot opened #1504 "no way to leave reference if not connected"
Subject: no way to leave reference if not connected
Description:
I went to a new user's profile, clicked the references tab, and there's no way to leave him a reference.

Results:
This is up for debate, but I think there's a third time when someone should be able to leave a reference (other than hosting and established friendship). Once we get to the point where we have regular group events, there

[2021-06-25 04:27] CouchersBot opened #4199 "Leaving references without text or being friends/having a request"
Subject: no way to leave reference if not connected
Description:
I went to a new user's profile, clicked the references tab, and there's no way to leave him a reference.

Results:
This is up for debate, but I think there's a third time when someone should be able to leave a reference (other than hosting and established friendship). Once we get to the point where we have regular group events, there

[2021-06-25 04:34] CouchersBot opened #1505 "invalid image"
Subject: invalid image
Description:
I tried to upload a profile picture from my phone

Results:
It told me it's an invalid picture. It should have told me why and what I should do about it.
Normal jpg from my phone camera ...

Backend version: develop-dda0d337
Frontend version: develop-dda0d337
User Agent: Mozilla/5.0 (Android 11; Mobile; rv:89.0) Gecko/89.0 Firefox/89.0
Page: https://app.couchers

[2021-06-25 04:37] CouchersBot opened #1506 "jumps while writing"
Subject: jumps while writing
Description:
When I'm writing on my phone and going back and forth to change something in the text, the cursor remains in the old position. this happens in the markdown and WYSIWYG editors...

Results:
Well the cursor should remain in the place where it's being shown and shouldn't jump when I start typing

Backend version: develop-dda0d337
Frontend version: develop-dda

[2021-06-25 08:04] #1501 closed, assigned to nobody

[2021-06-25 08:04] lucaslcode commented on #1501
Dupe

[2021-06-25 08:12] lucaslcode commented on #1506
Hopefully this will be fixed with TUI 3.0 soon. Nothing we can do on our end

[2021-06-25 08:12] #1506 closed, assigned to nobody

[2021-06-25 08:15] lucaslcode commented on #948
Maybe we should do this to resize: https://stackoverflow.com/questions/23945494/use-html5-to-resize-an-image-before-upload

[2021-06-25 08:16] lucaslcode commented on #1505
Dupe #948

[2021-06-25 08:16] #1505 closed, assigned to nobody

[2021-06-25 12:02] aapeliv commented on #1504
This has been discussed a bit, also leaving references without any public part (for similar reasons).

[2021-06-25 12:02] aapeliv commented on #4199
This has been discussed a bit, also leaving references without any public part (for similar reasons).

[2021-06-25 17:16] aapeliv commented on #1502
This is a duplicate of #1446

[2021-06-25 19:13] #1313 closed, assigned to nobody

[2021-06-25 19:54] CouchersBot opened #1508 "Messages don't allow for line breaks resulting in walls of text"
Subject: Messages don't allow for line breaks resulting in walls of text
Description:
When sending or responding to a hosting request, the messages do not preserve any line breaks that were used when the message was composed. This results into a wall of text instead of several easy-to-read paragraphs.

I believe this also applies to standard messaging unrelated to requests.

Results:
Line breaks s

[2021-06-25 21:03] lucaslcode commented on #1508
dupe

[2021-06-25 21:03] #1508 closed, assigned to nobody

[2021-06-26 17:42] CouchersBot opened #1509 "Cant upload profile picture"
Subject: Cant upload profile picture
Description:
Tried to upload a profile picture

Results:
It says "Invalid Image" although I can't imagine what is wrong with it

Backend version: develop-7b502b12
Frontend version: develop-7b502b12
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36 Edg/91.0.864.59
Page: https://app.cou

[2021-06-26 20:45] lucaslcode commented on #1509
dupe #948

[2021-06-26 20:45] #1509 closed, assigned to nobody

[2021-06-26 21:02] #1334 closed, assigned to fmanuelos

[2021-06-27 00:33] CouchersBot opened #1511 "Local time should not be displayed in the profile preview in search results"
Subject: Local time should not be displayed in the profile preview in search results
Description:
When searching for users, the snapshot of their profile shows the local time for that person. This information is not essential for a brief summary of a profile when searching for a host and takes up precious screen real-estate.

Results:
It's fine if we show Local time on the profile page of a user,

[2021-06-27 00:47] CouchersBot opened #1512 "Search results of empty profiles imported from alpha have a different preview text than those created in beta"
Subject: Search results of empty profiles imported from alpha have a different preview text than those created in betas
Description:
When searching for users, the preview of empty profiles has two different types of text. Some users have the following text if their profile is empty (presumably those imported from alpha):

"Current mission Why I use Couchers My Favourite travel story"

and others s

[2021-06-27 00:47] AllhandsNoFeet commented on #1512
![image](https://user-images.githubusercontent.com/79384268/123529574-4d597680-d6b7-11eb-9011-3d0f2c5d4198.png)

[2021-06-27 00:47] jesseallhands commented on #1512
![image](https://user-images.githubusercontent.com/79384268/123529585-58aca200-d6b7-11eb-8ef2-bf6bba324610.png)

[2021-06-27 02:33] aapeliv commented on #1512
This is a problem with the default profile headings. The latter comes up if you have an empty "about me", the former if you edited your profile but didn't change the text.

Duplicate of #1356

[2021-06-27 02:33] #1512 closed, assigned to nobody

[2021-06-27 02:38] aapeliv commented on #1356
As I now browse through new users, it seems there's a *lot* of users now with the default headings.

This also stops them from getting the "please complete your profile" email!

[2021-06-27 12:37] lucaslcode commented on #1356
~~This is difficult to reproduce consistently... ~~
Scratch that, just clear your profile, edit again, and save without changing anything

[2021-06-27 13:18] CouchersBot opened #1515 "Updates to regions lists"
We need to add some languages and countries to the lists.

Currently missing languages:

* Taiwanese?
* Sicilian
* Sign languages are completely missing
* ???

Missing regions:
* Scotland, and other bits of the UK

For languages, it might be easier to just look at the -2 list and prune out any obviously old/dead/way too small languages.

With regions, I do think we should include Scotland, but tha

[2021-06-27 13:30] lucaslcode commented on #1515
ISO 693-3 only has [min nan Chinese](https://iso639-3.sil.org/code/nan) which is the ~~same as Taiwanese~~ covers a few mutually intelligible dialects, though it is called Taiwanese when spoken in Taiwan. So maybe difficult to label

[2021-06-27 14:23] #1420 closed, assigned to nobody

[2021-06-27 17:20] sadikekin commented on #1388
I was able to upload a 57 MB photo on my local app. Further, I was able. to upload the same photo to the `app.couchers.org` as well.

[2021-06-27 20:19] #1356 closed, assigned to nobody

[2021-06-27 20:36] #1511 closed, assigned to nobody

[2021-06-27 21:49] aapeliv commented on #409
Done

[2021-06-27 21:49] #409 closed, assigned to thdk

[2021-06-27 21:50] aapeliv commented on #1452
@lucaslcode: this might be as simple as adding `accept-language` into `envoy.yaml` in the `allow_headers` line. Are you able to try that out? It's a complicated bug to reproduce!

[2021-06-27 23:31] darrenvong commented on #1452
Adding that has fixed it for me when testing the date picker timezone fix so maybe that's all it takes to fix this?

[2021-06-28 00:39] dommers-ux opened #1523 "Breadcrumb Menu Navigation Clarification"
The current design for the breadcrumb navigation shows each community and sub-community as one color (teal).
To clarify which page the user is on, only the present community should be highlighted. For example...

Before:
---------
<img width="412" alt="Screen Shot 2021-06-27 at 7 36 07 PM" src="https://user-images.githubusercontent.com/83376913/123564405-fd45e700-d77e-11eb-8156-ca9c3199d0b7.png">

[2021-06-28 00:52] dommers-ux commented on #1490
Something like a mega menu would be nice for usability. I'll try to think of ways to implement this on the current website. Example:

<img width="588" alt="Screen Shot 2021-06-27 at 7 51 32 PM" src="https://user-images.githubusercontent.com/83376913/123565013-15b70100-d781-11eb-84a3-8c6770be97e3.png">

[2021-06-28 02:39] dommers-ux opened #1524 "Reference Tag Colors [UX]"
On the users' references page, the tags should be a neutral color for optimal information hierarchy. The colored tag creates an unnecessary pop-out effect even though the tags naturally pop out.

Before
-------
<img width="546" alt="Screen Shot 2021-06-27 at 9 34 08 PM" src="https://user-images.githubusercontent.com/83376913/123571258-74837700-d78f-11eb-90a0-690e3c793b63.png">

After
-----
<img wi

[2021-06-28 13:53] ItsiW opened #1525 "Remove non-developed tabs from community pages"
We should remove:

- Find host
- Events
- Places
- Hangouts

[2021-06-28 18:02] JGibbsWork commented on #1065
This was just merged!

[2021-06-28 18:07] kalvdans commented on #1065
Great, closing! The PR was https://github.com/Couchers-org/couchers/pull/1456

[2021-06-28 18:07] #1065 closed, assigned to ItsiW

[2021-06-28 19:39] CouchersBot opened #1526 "Incorrect Local Time"
Subject: Incorrect Local Time
Description:
N/A

Results:
Hi there! Just wanted to let you know that the local time being shown for Halifax is inaccurate. The website is saying it is 5:39pm, when the current Atlantic Time is 4:39pm.

Backend version: develop-a26d38e1
Frontend version: develop-a26d38e1
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: h

[2021-06-28 22:56] aapeliv commented on #1526
I checked this on my own computer and it agreed with what the current time was on this user's profile.

Is it possible that the frontend is using a wrong database (to map TZ id to timezone rules and hence being an hour off) or similar?

[2021-06-29 00:59] lucaslcode commented on #1526
~~I don't understand - if you check and it's right, doesn't that mean the frontend is correct?~~
Actually, from memory day.js uses Intl so it's browser-dependant

[2021-06-29 03:14] CouchersBot opened #1529 "Genders show up as "Male" / "Woman" instead of "man" / "woman""
Subject: Genders show up as "Male" / "Woman"
Description:
Visited a profile

Results:
Genders should be displayed as man/woman/non-binary. Currently, they show as Male/woman/(not sure, i haven't come across a nonbinary profile yet)

Backend version: develop-a26d38e1
Frontend version: develop-a26d38e1
User Agent: Mozilla/5.0 (Linux; Android 11; SM-G981U1) AppleWebKit/537.36 (KHTML, like Gecko) Chro

[2021-06-29 13:34] ItsiW opened #1530 "Add "New post" to community overview"
Users have been confused about how to create new discussion posts. Until we have more on the overview page it might be a good idea to add this option to encourage use.

[2021-06-29 21:21] jesseallhands commented on #1490
Not sure a mega menu is a good idea because it doesn't scale well.

[2021-06-29 21:40] lucaslcode commented on #1523
How about I make the last one bold instead? If the other breadcrumbs are black, they don't look clickable.

[2021-06-30 00:30] ShmuelTreiger commented on #903
Warnings taken care of; reading docs, standardizing, and refactoring have not.

[2021-06-30 15:49] dommers-ux commented on #1523
That makes sense. I did some research and I like the way this looks:
<img width="340" alt="Screen Shot 2021-06-30 at 10 47 27 AM" src="https://user-images.githubusercontent.com/83376913/123991839-aca5d800-d990-11eb-91d5-e73653a1a396.png">

That way it differentiates between the current page and the previous pages (and the current page is not clickable because the user is already on it).

I think b

[2021-06-30 15:50] dommers-ux commented on #1523
Here is a helpful article about breadcrumbs - https://www.nngroup.com/articles/breadcrumbs/

[2021-06-30 15:52] dommers-ux commented on #1490
True. I guess I was looking at the current scale right now, but in the future, it is expected to grow significantly.

[2021-06-30 16:10] aapeliv commented on #1529
They don't. This is only on natalia's profile because she created it before we had the choices.

[2021-06-30 16:10] #1529 closed, assigned to nobody

[2021-06-30 16:16] #938 closed, assigned to aapeliv

[2021-06-30 16:21] #1474 closed, assigned to ShmuelTreiger

[2021-06-30 19:29] #1431 closed, assigned to lennartvanlaake

[2021-06-30 20:00] #894 closed, assigned to lennartvanlaake

[2021-06-30 20:47] #1077 closed, assigned to nobody

[2021-06-30 22:17] aapeliv opened #1539 "Bug in prod"
[code]

[2021-06-30 22:51] #1539 closed, assigned to nobody

[2021-06-30 23:08] aapeliv opened #1542 "Communities are slow"
Slow RPCs:

[code]

[2021-07-01 07:47] #1483 closed, assigned to nobody

[2021-07-01 11:15] CouchersBot opened #1544 "Problem uploading pic"
Subject: Problem uploading pic
Description:
Can't upload

Results:
I can't upload avatar

Backend version: develop-3d740fbb
Frontend version: develop-3d740fbb
User Agent: Mozilla/5.0 (Linux; Android 11; SM-G980F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Mobile Safari/537.36
Page: https://app.couchers.org/profile/about
User (spoofable): vas_traveler (1888)

[2021-07-01 11:35] lucaslcode commented on #1544
Dupe, I think it's time for me to just do this

[2021-07-01 11:35] #1544 closed, assigned to nobody

[2021-07-01 11:36] lucaslcode commented on #948
I am going to close this and then we'll see if the errors are size related or related to #1291

[2021-07-01 11:37] lucaslcode commented on #1291
Do we have media server error logging? How often has this occurred?

[2021-07-01 13:15] aapeliv commented on #1542
First thing is to log slow queries

[2021-07-01 13:32] #1523 closed, assigned to nobody

[2021-07-01 13:32] #1525 closed, assigned to nobody

[2021-07-01 13:32] #1530 closed, assigned to nobody

[2021-07-01 15:24] aapeliv commented on #616
Is this done @lucaslcode ?

[2021-07-01 15:24] aapeliv commented on #4078
Is this done @lucaslcode ?

[2021-07-01 15:24] aapeliv commented on #615
Done @lucaslcode?

[2021-07-01 15:25] aapeliv commented on #891
Done in #1218

[2021-07-01 15:25] #891 closed, assigned to nobody

[2021-07-01 15:26] aapeliv commented on #887
Done in #1499

[2021-07-01 15:26] #887 closed, assigned to nobody

[2021-07-01 15:31] aapeliv commented on #1502
Merged into #1515

[2021-07-01 15:31] #1502 closed, assigned to nobody

[2021-07-01 15:50] lucaslcode commented on #616
no

[2021-07-01 15:50] lucaslcode commented on #4078
no

[2021-07-01 15:50] #615 closed, assigned to nobody

[2021-07-01 17:41] aapeliv commented on #1291
Seems #1545 might've fixed this, seems it's working better for some community members: https://community.couchers.org/t/profile-photo-not-uploading/1332/5?u=aapeli

But let's keep this open for a bit and I'll check the logs after a while to see if it recurs.

[2021-07-01 18:53] CouchersBot opened #1546 "Typo in reference-writing page (publically --> publicly)"
Subject: Typo in reference-writing page (publically --> publicly)
Description:
I went to write a reference as a host.

Results:
The message should say "this will appear publicly on the user's page", not "publically."

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124

[2021-07-01 18:54] CouchersBot opened #1547 "Не рузиться аватарка"
Subject: Не рузиться аватарка
Description:
Выбрал фото

Results:

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Linux; Android 10; Redmi Note 9S) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User (spoofable): nabokin1311 (1905)

[2021-07-01 18:55] aapeliv commented on #1547
I think this user is confused by having to click "Save" at the bottom of the form after uploading a photo

[2021-07-01 18:56] aapeliv commented on #1547
Sorry, tagging the wrong issue

[2021-07-02 02:29] CouchersBot opened #1548 "Genders are shown as "male/female/nοn-binary" instead of "man/woman/non-binary""
Subject: Genders are shown as "male/female/nοn-binary" instead of "man/woman/non-binary"
Description:
All profiles currently display gender as "male", "female", or "non-binary".

Results:
"Male" and "Female" are sexes, not genders.  We should be using "man", "woman", and "non-binary" as the gender options. These options are based upon lengthy discussion among the design team and the LGBTQ+ communi

[2021-07-02 02:30] jesseallhands commented on #1548
![image](https://user-images.githubusercontent.com/79384268/124211968-a9573d00-dab3-11eb-8eb1-0e9edd5d7c01.png)

[2021-07-02 07:09] CouchersBot opened #1549 "Нет возможности загрузить фото в пповиль (на аватарку)"
Subject: Нет возможности загрузить фото в пповиль (на аватарку)
Description:
Попытался загрузить фото с телефона, что бы поставить на аватарку профиля

Results:

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Linux; Android 10; MAR-LX1M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Mobile Safari/537.36
Page: https://app.couchers.org/pro

[2021-07-02 11:59] Patil2099 commented on #1546
I would love to work on this.

[2021-07-02 14:25] aapeliv commented on #1291
I believe this bug was fixed. I've been checking the logs and there are no more issues in the media logs.

I think there are still other issues with image upload though (probably related to the size thing).

[2021-07-02 14:25] #1291 closed, assigned to nobody

[2021-07-02 17:33] CouchersBot opened #1551 "Language: Taiwanese"
Subject: Language: Taiwanese
Description:
... Managing my profile?

Results:
Dear Couchers,

I am so happy to find this website! Building my profile now, I am wondering whether in the "language I speak" option, there can be "Taiwanese" included? That is my mother tongue.

Thank you so much!

Warm hugs,

Vivi

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/

[2021-07-02 18:32] #1546 closed, assigned to Patil2099

[2021-07-02 18:40] lucaslcode commented on #1551
Part of #1515

[2021-07-02 18:40] #1551 closed, assigned to nobody

[2021-07-02 21:49] jesseallhands commented on #1549
duplicate of #1547

[2021-07-02 21:49] #1549 closed, assigned to nobody

[2021-07-03 02:00] CouchersBot opened #1555 "login bug"
Subject: login bug
Description:
When i tried to login using username (falc) and hit the continue button, the continue button becomes greyed out and nothing happens. Logging in with my email worked first time

Results:

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Android 6.0.1; Mobile; rv:88.0) Gecko/88.0 Firefox/88.0
Page: https://app.couchers.org/

[2021-07-03 10:27] CouchersBot opened #1557 "I can not add profile photo"
Subject: I can not add profile photo
Description:
I tried add photo

Results:

Backend version: develop-3b2dbddf
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Linux; Android 10; M2003J15SC) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User (spoofable): onomatupeja (1868)

[2021-07-03 16:13] CouchersBot opened #1558 "Testing bug reporter, ignore"
Subject: Testing bug reporter, ignore
Description:
Nothing

Results:

Backend version: develop-70d9495a
Frontend version: develop-70d9495a
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org/
User: aapeli (1)

[2021-07-03 16:13] #1558 closed, assigned to nobody

[2021-07-03 18:36] CouchersBot opened #1559 "загрузка аватарки"
Subject: загрузка аватарки
Description:
загружала фото с компа

Results:
нажала на место, предназначенное для фото. в диалоговом окне выбрала нужный файл. при подтверждении выбора происходит сбой с текстом неизвестная ошибка.

Backend version: develop-70d9495a
Frontend version: develop-70d9495a
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0

[2021-07-03 19:00] aapeliv opened #1560 "Request pagination bug"
I think there's a bug in the request pagination where it's missing one request between pages.

[2021-07-03 20:17] CouchersBot opened #1561 "Photo no upload"
Subject: Photo no upload
Description:
Niente

Results:
No upload photo

Backend version: develop-70d9495a
Frontend version: develop-70d9495a
User Agent: Mozilla/5.0 (Linux; Android 11; M2007J3SG) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User: stefano (724)

[2021-07-03 21:28] #1561 closed, assigned to nobody

[2021-07-03 23:28] #948 closed, assigned to lucaslcode

[2021-07-04 07:36] CouchersBot opened #1565 "Upload photo"
Subject: Upload photo
Description:
No could upload photo

Results:
Nocould upload photo

Backend version: develop-70d9495a
Frontend version: develop-70d9495a
User Agent: Mozilla/5.0 (Linux; Android 11; M2007J3SG) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User: stefano (724)

[2021-07-04 15:49] ItsiW opened #1566 "Move log in and volunteer buttons to top of hamburger menu on landing site mobile view"
Currently hard to find at the bottom of the menu

[2021-07-04 20:18] CouchersBot opened #1567 "Getting "your device doesn't support webGL" error on Firefox"
Subject: Getting "your device doesn't support webGL" error on Firefox
Description:
visited map search page. I have never had this problem before and I haven't changed my browser configuration. The only things that may have changed is firefox or the couchers.org code

Results:

Backend version: develop-70d9495a
Frontend version: develop-3b2dbddf
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64;

[2021-07-04 20:27] jesseallhands commented on #1567
Nothing new here; I isolated the problem to the particular machine I was using. I restarted the browser and it worked fine after restarting the browser.

[2021-07-04 20:27] #1567 closed, assigned to nobody

[2021-07-04 20:46] jesseallhands opened #1568 "List of friend requests should appear at top of screen on mobile"
You should immediately be able to see the list of pending friend requests at the top of the screen when you view the messages page.

Currently on the mobile version the list of friend requests is located below the list of current friends. This forces the user to scroll down all the way down through the list of existing friends before you can see who sent you a friend request. If you have a lot of

[2021-07-05 01:53] aapeliv commented on #1565
Dupe of #1388

[2021-07-05 01:53] #1565 closed, assigned to nobody

[2021-07-05 01:53] aapeliv commented on #1559
Dupe of #1388

[2021-07-05 01:53] #1559 closed, assigned to nobody

[2021-07-05 01:53] aapeliv commented on #1557
Dupe of #1388

[2021-07-05 01:53] #1557 closed, assigned to nobody

[2021-07-05 01:54] aapeliv commented on #1547
Dupe of #1388

[2021-07-05 01:54] #1547 closed, assigned to nobody

[2021-07-05 01:59] aapeliv commented on #1448
@lucaslcode, is this being refactored out and can be closed?

[2021-07-05 02:03] aapeliv commented on #1388
There are no more errors in the media container logs. There are also no exceptions (or even errors) showing up in backend tracing.

[2021-07-05 05:10] openscript opened #1576 "Epic: Internationalization (i18n), lokalization (l10n) and related tools"
As we are an international community languages are important to help couchers to access and use the platform. Not only translating the content, but also showing the time, dates or other localizable content will help for a good user experience. This is an epic which helps to organize the requirements to i18n and l10n.

- [x] Couchers-org/couchers#1577
- [ ] Define process to create a new locale
- [

[2021-07-05 05:12] openscript opened #1577 "i18n/l10n: Evaluate tools and libraries"
Localizing and translating a platform mostly involves its user interfaces, but we also need a tool, which helps us to do it together with the community. As the backend engages with the users too (emails), we also need to provide the users locale to the backend and have i18n/l10n functionality there.

## Requirements

-  Free and opensource
-  Well-known, proved and stable
-  Handling different lan

[2021-07-05 06:03] #1448 closed, assigned to nobody

[2021-07-05 10:01] CouchersBot opened #1579 "Weekly online events link on the Dashboard directs to forum root instead of relevant event post in the forum"
Subject: forums link on the Dashboard
Description:
follow the forums-link on "Weekly Online Events"

Results:
link directs to the forum root. I think it would be better to direct to "community.couchers.org/c/23", that's the events category

Backend version: develop-0e8e0a37
Frontend version: develop-0e8e0a37
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
P

[2021-07-06 03:45] CouchersBot opened #1580 "When editing local info, clicking update does not take you back to the local info page"
Subject: When editing local info, clicking update does not take you back to the local info page
Description:
1. Clicked on local info
2. Clicked on edit local info
3. Entered text
4. Clicked on "update"
5. A snackbar appeared at the top with a message that the page was updated, but otherwise nothing happened.

Results:
If it's not possible to "auto-save" data as the person is writing, there should

[2021-07-06 16:37] CouchersBot opened #1581 "Не рузиться аватарка [Avatar not working]"
Subject: Не рузиться аватарка
Description:
Не могу загрузить фото

Results:
Пишет ошибка, а фото не загружается

Backend version: develop-0e8e0a37
Frontend version: develop-0e8e0a37
User Agent: Mozilla/5.0 (Linux; Android 10; Redmi Note 9S) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Mobile Safari/537.36
Page: https://app.couchers.org/profile/edit
User: nabokin1311 (1905)

[2021-07-06 22:47] JGibbsWork commented on #1548
Out of curiosity, are you looking to restructure the exiting data to change "male/female" to "man/woman" at the database level or is it a better course to change how the data is displayed?

[2021-07-06 23:02] jesseallhands commented on #1548
Would be best to change at database level imo. We only have to worry about it once then.

[2021-07-07 00:04] jesseallhands commented on #1581
Translation using www.deepl.com :

Subject: Avatar not working
Description:
Can't upload a photo

Results:
It says error, and the photo doesn't upload

@aapeliv you were asking for examples of this problem yesterday, so here is one

[2021-07-07 00:10] aapeliv commented on #1581
Yes, but this is unfortunately not very actionable. Which error? What were the steps to reproduce? I can't reproduce this :/

[2021-07-07 17:14] kerrylaval commented on #1046
Hello, I would like to work on this as my first issue. I have the app running locally but I don't see anywhere what the login for beta is. Can anyone direct me to that?

[2021-07-07 17:17] aapeliv commented on #1046
Hi @kerryja! It'd be great if you could work on this.

If you're running the backend locally through docker, there is a user with username `aapeli` and password `Aapeli's password` that you can use to log in.

If you're running against the preview backend, you can create an account on https://next.couchershq.org/ and use that account to log in. Once you have a user you can set the password at http

[2021-07-07 17:22] kerrylaval commented on #1046
Thanks @aapeliv for the quick reply!

[2021-07-07 19:58] CouchersBot opened #1587 "Profile photo doesn't show"
Subject: Profile photo doesn't show
Description:
I went to set my profile photo, selected one from my gallery, and saved the profile.

Results:
After saving, the profile shows without the photo, as if I didn't set any profile photo.

It should have showed the photo instead of the grey circle placeholder with my name initials.

Backend version: develop-5928783a
Frontend version: develop-5928783a
Us

[2021-07-07 20:42] CouchersBot opened #1588 "external links"
Subject: external links
Description:
External links open in the same page, causing the origin website to be lost until the user clicks on the history button. This can be frustrating for most users.

Results:
External links should open in a new browser tab, so that the origin website is still available in its tab

Backend version: develop-5928783a
Frontend version: develop-5928783a
User Agent: Mozi

[2021-07-07 20:47] CouchersBot opened #1589 "Sending messages"
Subject: Sending messages
Description:
There's no way to send a message to another user, even after adding them as a friend. The send message textbox keeps deactivated even if I added the person as a friend

Results:
Send message textbox should be active to allow sending messages

Backend version: develop-5928783a
Frontend version: develop-5928783a
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64;

[2021-07-07 21:13] lucaslcode commented on #1589
This could be an query cache invalidation problem

[2021-07-07 21:14] aapeliv commented on #1589
Or is this just the user trying to reply to a closed request?

[2021-07-07 21:14] lucaslcode commented on #1588
@Couchers-org/qa what do you think about this?

[2021-07-07 21:16] lucaslcode opened #1590 "Allow couchers domain images in markdown and generic image upload"

[2021-07-07 21:17] lucaslcode opened #1591 "Cookie notice"

[2021-07-07 21:32] JGibbsWork commented on #1548
I just made a branch that solves this issue from the signup page side. If someone could update the existing data I think we should be alright.

https://github.com/Couchers-org/couchers/tree/frontend/bug-fix/gender-verbiage-update

[2021-07-07 21:43] jesseallhands opened #1592 "Add form to report content next to bug reporting form"
Currently to report anything other than a person's profile (via their profile), you must click on "report a problem", click on "report inappropriate behavior or content" and then compose an e-mail manually, from scratch. See screenshot below:
![image](https://user-images.githubusercontent.com/79384268/124830673-e0a86c80-df3f-11eb-937e-46b7483624a8.png)

People are already hesitant and/or lazy to r

[2021-07-07 22:12] lucaslcode commented on #1548
@JGibbsWork  Make a PR and we can update existing data after it's merged

[2021-07-07 22:13] JGibbsWork commented on #1548
Sounds good, wasn't sure if we wanted to update data before or after. I'll make one now

[2021-07-07 23:49] win3rich commented on #936
hi

[2021-07-08 14:19] CouchersBot opened #1598 "cant find my usename"
Subject: cant find my usename
Description:
i forgot my user name to log in. so i tried to see if i can find it on 'account settings' page.

Results:
user name is not shown. and i dont know where to find it :(

Backend version: develop-5928783a
Frontend version: develop-5928783a
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org

[2021-07-08 15:22] CouchersBot opened #1599 "Не загружает фото"
Subject: Не загружает фото
Description:
Не загружает фото

Results:
Не загружает фото

Backend version: develop-5928783a
Frontend version: develop-5928783a
User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Safari/537.36
Page: https://app.couchers.org/profile/edit
User: dmi1900 (2066)

[2021-07-08 15:41] kerryja commented on #1435
![image](https://user-images.githubusercontent.com/45676445/124951307-38e37b00-dfe1-11eb-8d9b-5cabd6015235.png)

Where do we want the username displayed, under the full name in a different color?

[2021-07-08 15:41] kerrylaval commented on #4209
![image](https://user-images.githubusercontent.com/45676445/124951307-38e37b00-dfe1-11eb-8d9b-5cabd6015235.png)

Where do we want the username displayed, under the full name in a different color?

[2021-07-08 15:54] aapeliv commented on #1435
@kerryja: I've asked the UX/UI team; and also emailed you!

[2021-07-08 15:54] aapeliv commented on #4209
@kerryja: I've asked the UX/UI team; and also emailed you!

[2021-07-08 18:58] #1338 closed, assigned to nobody

[2021-07-08 20:37] lucaslcode commented on #1599
Not enough info

[2021-07-08 20:37] #1599 closed, assigned to nobody

[2021-07-08 20:37] lucaslcode commented on #1598
dupe Couchers-org/couchers#4209

[2021-07-08 20:37] #1598 closed, assigned to nobody

[2021-07-08 20:40] lucaslcode commented on #1587
Closed in #1594

[2021-07-08 20:40] #1587 closed, assigned to nobody

[2021-07-08 22:28] CouchersBot opened #1602 "Nav button to the App should say "App," not "Log In""
Subject: Nav button to the App should say "App," not "Log In"
Description:
When I go to www.couchers.org, I think it's more natural for the buttons to say Community Forum, App, Volunteer, etc. instead of Community Forum, LOG IN, Volunteer, etc. Especially since there is currently a different log in for the forum vs. the app, and especially because, if you are not logged in, "Log In" takes you to h

[2021-07-08 23:30] jesseallhands commented on #1602
While true, this will probably be a moot point once we refactor the landing page to incorporate the current information with the login to the actual platform.

[2021-07-08 23:44] #1579 closed, assigned to nobody

[2021-07-09 18:27] kerrylaval commented on #1476
This is a bit of a tricky one, and the problem is coming from `<MarkdownInput />` rendered by `CommentForm.tsx`. I'm not exactly sure what the problem is but I think it has to do with the `control` prop in MarkdownInput. When I replace MarkdownInput with a regular text input the `resetForm()` call works as expected.

[2021-07-09 19:45] aapeliv opened #1605 "Tests failed to catch migration error"
See hotfix: https://github.com/Couchers-org/couchers/commit/162c8fd95f42811ad5d7c73b34e3c78a1eeccd44

[code]

[2021-07-09 19:50] lucaslcode commented on #1476
I remember from another issue there is a `useEffect` in `MarkdownInput` that creates/destroys the editor and it is sensitive to re-renders.

Maybe this isn't such a good first issue then

[2021-07-09 20:10] aapeliv opened #1606 "Users should be added to communities straight after signing up"
Currently it's every 15 min in a background thread.

I'm not sure how important this is, but I think it's quite important for the first "render" when they land on the dashboard. Opinions @ItsiW, @AllhandsNoFeet, @lucaslcode?

[2021-07-09 21:26] jesseallhands commented on #1606
We probably should show both the global community and the local community (if there is one) on the dashboard. We can discuss it a bit more at the design team meeting this Sunday.

[2021-07-09 21:59] lucaslcode commented on #1476
Actually, this happens because nothing actually imperatively clears the markdown editor. `resetForm` doesn't work because it's not a normal input, it's a `ToastUIEditor`. So I wonder if something like this would work alongside `resetForm`:
`control.fieldsRef.content.reset()`

[2021-07-09 23:49] aapeliv opened #1607 "Add way to skip CI tests and checks in an emergency"

[2021-07-10 00:57] ItsiW commented on #1606
I agree it's important for first view. With v2 signup could you compute it after geo information is given and before volunteer form? Or do we only collect info at the end of the whole process?

[2021-07-10 02:29] AllhandsNoFeet opened #1608 ""Overview" should be editable on communities page"
Currently you can only edit the "General information" section under "Local Info" on the communities page.

You should also be able to edit the "Overview" field on the main community landing page.

This should have a character limit so it doesn't get too long (it's just supposed to be a very brief overview!) See example below:
![image](https://user-images.githubusercontent.com/79384268/125149082-65

[2021-07-10 02:29] jesseallhands opened #4198 "Backend: Make community short description editable"
Currently you can only edit the "General information" section under "Local Info" on the communities page.

If you are a community admin only, you should also be able to edit the "Overview" field on the main community landing page.

This should have a character limit so it doesn't get too long (it's just supposed to be a very brief overview!) See example below:
![image](https://user-images.githubus

[2021-07-10 03:05] couchersbot opened #1609 ""Show ___ on the map" should zoom in"
Subject: "Show ___ on the map" should zoom in
Description:
I was going through a list of users with the map fully zoomed out and used the "show ... on the map" function. Almost nothing happened, as the map position shifted slightly to become centered on that user's location, but it was impossible to figure out the user's location just based on that. The feature works a bit better if I've already z

[2021-07-10 03:05] CouchersBot opened #4197 ""Show ___ on the map" should zoom in"
Subject: "Show ___ on the map" should zoom in
Description:
I was going through a list of users with the map fully zoomed out and used the "show ... on the map" function. Almost nothing happened, as the map position shifted slightly to become centered on that user's location, but it was impossible to figure out the user's location just based on that. The feature works a bit better if I've already z

[2021-07-10 03:11] naspitha commented on #1609
While we're at it, it would be nice if the "Show on Map" button did not become inactive after first clicking on it. E.g. if I click on "Show on Map" for a user, then zoom/pan/move in any way, I should be able to click "Show on Map" again to reset the position. Right now, the button becomes unclickable until I first show another user on the map.

[2021-07-10 03:11] naspitha commented on #4197
While we're at it, it would be nice if the "Show on Map" button did not become inactive after first clicking on it. E.g. if I click on "Show on Map" for a user, then zoom/pan/move in any way, I should be able to click "Show on Map" again to reset the position. Right now, the button becomes unclickable until I first show another user on the map.

[2021-07-10 08:50] lucaslcode commented on #1609
This was the previous behaviour and someone (@AllhandsNoFeet ?) said it's better not to zoom. However, now there is a separate button to show on the map, so maybe it should be put back in?

[2021-07-10 08:50] lucaslcode commented on #4197
This was the previous behaviour and someone (@AllhandsNoFeet ?) said it's better not to zoom. However, now there is a separate button to show on the map, so maybe it should be put back in?

[2021-07-10 19:46] aapeliv opened #1610 "Add python package releases into CI"
`python -m build && python -m twine upload dist/*`

[2021-07-11 20:29] AllhandsNoFeet commented on #1609
The issue before was that whenever you clicked on a pin it zoomed in, even if you were already zoomed in sufficiently to see the pin. If you click the button to show on map I think it would be okay to highlight the pin on the map, but I don't think it should zoom in lest it change the position on the map for the user. It's really annoying to be looking at a cluster of pins just to have the view ch

[2021-07-11 20:29] jesseallhands commented on #4197
The issue before was that whenever you clicked on a pin it zoomed in, even if you were already zoomed in sufficiently to see the pin. If you click the button to show on map I think it would be okay to highlight the pin on the map, but I don't think it should zoom in lest it change the position on the map for the user. It's really annoying to be looking at a cluster of pins just to have the view ch

[2021-07-11 20:33] jesseallhands opened #1611 "Add a "Save" button and text to the top of the profile editing page"
Users are overlooking the save button at the bottom of the profile editing page. This is causing confusion and frustration (people think it auto-saves but doesn't and they lose all the text they just typed up because they didn't click save!) The same happens with the profile photo.

**Solution:**
Keep the Save button at the bottom of the page, but also add a "Save" button at the top of the page ne

[2021-07-12 01:35] darrenvong opened #1617 "ListEventAttendees doesn't always return the current user correctly even when they are attending an event"
Here are some rough reproduction steps:
1. Create an event
2. Transfer the event to a community (although this step probably not necessarily, only needed for it to show up in UI/`ListEvents` from `communities.proto`
3. Change the current user's attendance state to "not going" (with `SetEventAttendance`)
4. Change the current user's attendance state to "going" again

**Expected behaviour**
`ListEve

[2021-07-12 03:59] CouchersBot opened #1618 "Названия"
Subject: Названия
Description:
Если забивать в поиск названия на разных языках то будут разные результаты поиска, в зависимости от того кто на каком языке указал свой город.

Results:

Backend version: develop-d7429483
Frontend version: develop-9c207b16
User Agent: Mozilla/5.0 (Linux; Android 10; I4113) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.120 Mobile Safari/537.36
Page: https://

[2021-07-12 08:04] aapeliv commented on #1618
From Yandex translate:
Subject: "Names"
Description: "If you score names in different languages in the search, then there will be different search results, depending on who specified their city in what language."

[2021-07-12 08:06] aapeliv commented on #1618
This is exactly why we have coordinates for everyone: so location search is not based on the address text (which is just a nice human representation), but is rather based on the "within a circle around this coordinate" filter.

[2021-07-12 08:06] #1618 closed, assigned to nobody

[2021-07-12 10:31] ShmuelTreiger commented on #903
Here's the guideline for migrating to SQLA 2.0*: https://docs.sqlalchemy.org/en/14/changelog/migration_20.html#migration-core-connection-transaction

I'm sure there's more to be done. In particular, I think some of the new/changed autocommit stuff may effect us.

There's also this warning message when you run tests, but I don't understand locations stuff well enough to solve (the other warning mes

[2021-07-12 10:32] aapeliv commented on #903
I think that's only in the test using test data which has overlapping timezone areas. Shouldn't be an issue in prod.

[2021-07-12 10:34] ShmuelTreiger commented on #903
That makes sense. Should we adjust the test? Seems weird we run a test that could never be in prod?

[2021-07-12 10:35] aapeliv commented on #903
It would be good to update the sample timezone regions, but it's a fair bit of effort. Basically there is a UTC region that covers the whole world, and then a few low-poly regions that I've drawn just to have some more real ones. It would require cutting out those low-poly regions from the UTC polygon.

[2021-07-12 10:36] ShmuelTreiger commented on #903
Low priority issue?

[2021-07-12 10:50] aapeliv commented on #903
Yep

[2021-07-12 12:11] aapeliv commented on #1560
Fixed in #1604

[2021-07-12 12:11] #1560 closed, assigned to lucaslcode

[2021-07-12 12:12] aapeliv commented on #1199
I think this is a non-issue then

[2021-07-12 12:12] #1199 closed, assigned to nobody

[2021-07-12 15:35] lucaslcode commented on #1046
You can click on profile pictures, the title is not supposed to be clickable. This mimics behaviour in other messaging apps such as facebook

[2021-07-12 15:35] #1046 closed, assigned to nobody

[2021-07-12 16:41] aapeliv commented on #1606
Only after the user is actually created (transferred from a signup flow to a user).

[2021-07-12 17:18] aapeliv commented on #1526
I think this is frontend?

[2021-07-12 19:20] ShmuelTreiger opened #1624 "Remove overlapping timezones from test data"
As discussed in #903

When running tests, SQLA generates the following error:

[code]

@aapeliv's explanation:

[2021-07-12 19:43] aapeliv opened #1625 "Signup flow v2.1 (tweaks)"
General:

* The "Couchers is not dating" bit somewhere
* "Let's get started" should be changed to something else on subsequent pages (maybe "Let's get started", "Your details", "Feedback and volunteering")
* Volunteer form seems to load scrolled halfway down

Feedback form:

* Order of "Would you like to contribute..." and "Briefly describe  your experience..." should be switched.
* "How you like

[2021-07-12 19:50] #1617 closed, assigned to nobody

[2021-07-12 20:50] ShmuelTreiger commented on #1588
Isn't this determined by the user's browser settings? If the user wants to open in a new tab, they can just right click (on windows)

[2021-07-12 20:51] ShmuelTreiger commented on #1581
Can we contact the user and ask for more info? (Do we have any Russian speakers on the team?)

[2021-07-12 20:53] aapeliv commented on #1581
I think a lot of these errors were fixed in the past couple of days with a combo of frontend + backend fixes with image uploading. So I think we should wait a few weeks and see if we still get image upload errors.

We do have someone who can help us contact the Russian speakers though.

[2021-07-12 20:54] ShmuelTreiger commented on #1577
The Y column for the first image is downloads?

[2021-07-12 20:55] ShmuelTreiger commented on #1581
Should we shoot the user a message to try again and let us know (if we haven't already)

[2021-07-12 20:57] #1607 closed, assigned to nobody

[2021-07-12 20:59] jesseallhands commented on #1588
@ShmuelTreiger  there is an html attribute 'target' you'd use to open in a new tab. Eg: `<a href="https://www.couchers.org" target="_blank">Couchers.org</a>` would open the link in a new tab:
https://www.w3schools.com/tags/att_a_target.asp

I think this is what the user is referring to. It's better UX to do this since as the user mentioned you lose your spot/position if you click on a link and the

[2021-07-12 21:04] ShmuelTreiger opened #1626 "Friends list looks busy"
Looking at #1568, the friends list looks very busy. Maybe best to just have "city, country"?

[2021-07-12 21:05] ShmuelTreiger commented on #1610
More details?

[2021-07-12 21:15] ShmuelTreiger commented on #1588
I can also imagine some users being upset by this behavior and wanting the default to open in the same window? Seems to me this is an individual issue

I suppose for external links there's a better argument for a new tab, but still

[2021-07-12 21:21] ShmuelTreiger commented on #1515
Seems UK/GB/scotland is a pretty common issue. Seems we either need to make an exception or add an explicit note.

Could we add scotland and map it to the same country code?

[2021-07-12 21:24] aapeliv commented on #1610
We should add a stage into the CI flow to build and release the couchers python package into pypi.

[2021-07-12 21:48] jesseallhands commented on #1588
Yeah I think you're right. I just messed around a bunch with links and couldn't find any objective usability issues.

With that said, I think an improvement could be to change the main profile links in the search results to open in the same tab, but make the "chain" link open in a new tab (that way people who want to open profiles in new tabs like davjdek and myself can do so easily without needin

[2021-07-12 22:00] jesseallhands opened #1627 "Account deletion"
For better or for worse, one of the main reasons people contact support is to ask for their account to be deleted. Most of these requests are due to duplicate accounts. We should add a "delete account" option under account settings so people can request a deletion instead of e-mailing us (which takes up a lot of support's time).

On the account settings page below the password change section, ther

[2021-07-12 22:03] ShmuelTreiger commented on #1588
Is that common behavior? I can't recall ever having seen something like that on a website. It's not a bad idea, but it may be a confusing one, whereas I think we should reduce complexity as much as possible.

Again, seems more of a user issue. Easy to change browser settings. Personally, I hold down cntrl when I click and it opens in a new tab.

If/when we close this, we should alert the user who

[2021-07-12 22:06] ShmuelTreiger opened #1628 ""Map search" should just be "search"?"
Unless/until we have a separate search mechanism, calling it "map search" seems confusing to me?

[2021-07-12 22:07] aapeliv commented on #1628
It's just to highlight there's a map behind there

[2021-07-12 22:08] ShmuelTreiger opened #1629 "Alert should go away or only show up periodically"
I get this alert every time I login. Seems redundant

![image](https://user-images.githubusercontent.com/14131043/125361892-d7921380-e322-11eb-8b6c-6c8e37761c82.png)

[2021-07-12 22:08] jesseallhands commented on #1588
Ooo! I like this idea! I'll bring this up at the next design team meeting.

I think this issue can be closed since you're right that opening links in new tabs is a preference, not a problem.

[2021-07-12 22:09] ShmuelTreiger commented on #1628
Maybe add it in parentheses? Like "Search (Map)"

Just now, I went to the website, went looking for search and was like "woh, that's weird". Seems confusing to me as an average user of the frontend

[2021-07-12 22:10] ShmuelTreiger commented on #1588
Sounds good to me. Do alert the user though?

[2021-07-12 22:10] jesseallhands commented on #1629
Can we make this a snackbar with a long timeout (5 - 10 sec) that only displays when you first login?

[2021-07-12 22:13] ShmuelTreiger commented on #1629
Timeout is fine. Or add an x. I would also make it like once a month if possible*. Don't want the reminder every time, but occasionally would be nice.

*First log in where it's been a month since it was last shown

[2021-07-12 22:15] jesseallhands commented on #1628
The current desktop version doesn't match the design we should be aiming for:

![image](https://user-images.githubusercontent.com/79384268/125362551-b508f600-e334-11eb-96ff-040174c06cae.png)

Since right now you can only search for people/places/keywords, we could change the text prompt for the search bar.
Typing in text and pressing enter to search (or clicking the search symbol) would take the u

[2021-07-12 22:16] ShmuelTreiger commented on #1628
Agreed, but for now this is a quick fix

[2021-07-12 22:20] AllhandsNoFeet commented on #1588
I always get annoyed by those warnings. I don't think we should make it a priority to add them.

[2021-07-12 22:21] jesseallhands commented on #1588
I can contact them! Go ahead and close @ShmuelTreiger

[2021-07-12 22:23] #1588 closed, assigned to nobody

[2021-07-13 00:38] kerrylaval commented on #1611
@lucaslcode @Couchers-org/frontend this is a bit more complicated than copy and paste! If we really want the save button to be next to "Edit Profile" heading then there needs to be some rearranging done. `<EditProfilePage />` is currently rendering `<EditProfile />` where the save button and all the form functionality lives. If we want to put the save button in `<EditProfilePage />` we'll need to

[2021-07-13 00:58] darrenvong commented on #1611
How about if we display an "all your progress will be lost" dialog instead before the user switches page? That seems like another common and well known pattern other sites use for warning the users they have unsaved changes before they go off the site/another page of the site.

I'm not a fan of having to lift state up for this - considering there is also another form for the page, it's a technical

[2021-07-13 01:18] jesseallhands commented on #1611
I think this could work, but because of how long some of these profiles are, it's not a good UX to have the person scroll all the way to the bottom of a super long page just to click "save". Another option would be a floating "save" button, but I'm not sure how much trouble it would be to implement that. No matter which solution we go with, we should have the "Any changes would be lost" warning.

[2021-07-13 03:12] ItsiW commented on #1606
Yes so when does that happen? After email confirmation?

[2021-07-13 03:13] jesseallhands commented on #1625
For this bit:

We should do something like Martha originally proposed. Here's an updated version we're discussing to give you an idea of how the information could be presented:
![image](https://user-images.githubusercontent.com/79384268/125383943-cd413b00-e35d-11eb-801d-2a79f5f0db7f.png)

The texts are simple, quick to read, and the checkboxes confirm adherence to key community guidelines rather t

[2021-07-13 04:03] ShmuelTreiger commented on #1627
I prefer typing a confirmation text message instead of a button (i.e. please type 'allhandsnofeet', case insensitive)

[2021-07-13 04:54] ShmuelTreiger commented on #1592
@Couchers-org/backend is there any backend work that needs doing here? Do we want to save all report data in the backend? On the one hand, seems like it could be a lot of data. On the other, might be worth keeping?

[2021-07-13 05:00] jesseallhands commented on #1592
Might be worth storing the number of times a user is reported in the DB so in the future we can use an algorithm to easily identify bad actors. But that might be out of the scope of this issue.  Bear in mind that all the info is currently being sent to notify@couchers.org and the resulting ticket is stored in otobo with all the data.

[2021-07-13 05:04] ShmuelTreiger commented on #1592
Yup. That's why I'm thinking this might be frontend only.

Poking around more, we have a report API, this might just need to make use of it.

[2021-07-13 05:06] dommers-ux commented on #1626
how does this look? a little bit better hierarchy and use of colors
<img width="474" alt="Screen Shot 2021-07-12 at 11 03 59 PM" src="https://user-images.githubusercontent.com/83376913/125393775-c8808500-e365-11eb-9627-8d89d385b998.png">

[2021-07-13 05:08] dommers-ux commented on #1626
a preview if a friend request was involved
<img width="487" alt="Screen Shot 2021-07-12 at 11 08 20 PM" src="https://user-images.githubusercontent.com/83376913/125393967-20b78700-e366-11eb-8fee-522bae64947b.png">

[2021-07-13 05:09] ShmuelTreiger commented on #1626
Way better. Is that a mockup or real? Wondering what it would look like for say, someone like Jakub in the original screenshot

![image](https://user-images.githubusercontent.com/14131043/125393947-b7337a80-e35d-11eb-8fe6-008ecdc94700.png)

Edit: I see you included him. I feel like that's too little though? There should at least be city IMO, if at all possible

Edit 2: I'm also wondering if age is

[2021-07-13 05:14] dommers-ux commented on #1626
i just created a quick and dirty mock up after seeing this issue. i can create a legitimate design for you though

as for jakub's case... its very unique. typically, users either create their own display location or use the default location based on user location tracking. but if the location was that long, it would/should still be consistent with the rest of the users

[2021-07-13 05:21] dommers-ux commented on #1591
not sure if it's been mentioned but UX team has designs for a cookie notice

[2021-07-13 05:32] dommers-ux commented on #1626
i actually noticed some users also have pretty long locations (like Jesse)...it still looks solid even with long display locations

<img width="611" alt="Screen Shot 2021-07-12 at 11 31 35 PM" src="https://user-images.githubusercontent.com/83376913/125396092-4db96900-e369-11eb-964a-967700ad1219.png">

[2021-07-13 05:46] ShmuelTreiger commented on #1626
Definitely an improvement! I think it's maybe confusing if I'm a user trying to quickly grasp where my friends are, but it's def way better than before!

I'm backend. IDK what frontend actually needs

[2021-07-13 06:12] aapeliv commented on #1606
After email confirmation. The PR does this synchronously when the user is created.

[2021-07-13 06:21] aapeliv commented on #1592
It should have its own API, but very similar to reporting. I think @AllhandsNoFeet wanted it in a different email address so he can do queues easier.

Do we currently save the reports in the DB @ShmuelTreiger ?

[2021-07-13 06:57] ShmuelTreiger commented on #1592
What do you mean by this?

Also, we can always just have reports send to one address and forward to another if we need.

We have a Complaint object in models and we have `Report` in api.py/proto. IDK if it's actually used. Seems to me this issue should really be implementing the frontend and then merging the actual use/implementation with the backend.

[2021-07-13 06:58] aapeliv commented on #1592
The support tickets in OTOBO are placed in queues.

Yeah we should similarly create a model to just store the info in there.

[2021-07-13 07:16] jesseallhands commented on #1592
I think we can send all of the reports to notify@couchers.org but the subject needs to be different depending on the type of the report, and the username of the person being reported should be appended to the subject as well.

For example, if you report someone using the button on a profile, the e-mail sent to notify@couchers.org just has the subject "User Report".

Instead, it should have "User R

[2021-07-13 07:17] aapeliv commented on #1592
Small thing: Notifications come from notify@, they're sent from another address

[2021-07-13 07:24] jesseallhands commented on #1592
Ah sorry, yeah. I mean we could send both user reports and "report a problem" reports to safety@couchers.org for now and just update the e-mail subject to differentiate between the two.

[2021-07-13 12:22] aapeliv commented on #1542
[code]

[2021-07-13 12:24] aapeliv commented on #1542
(There's a few others at the top, but they're understandably slow: reporting a bug (does an external HTTP call), auth stuff (deliberately slow password hashing), etc)

[2021-07-13 15:13] kerrylaval commented on #1611
@AllhandsNoFeet not sure what you mean by a floating save button but I can start by adding the warning

[2021-07-13 15:15] kerrylaval commented on #1626
I'm frontend. I will do it!

[2021-07-13 15:20] jesseallhands commented on #1611
@kerryja I mean something like what we have in the bottom right of the dev-preview website:

![Screenshot_20210713-101746_Firefox](https://user-images.githubusercontent.com/79384268/125478441-7e8109f5-dd3f-4b0b-8521-d5bb7143024d.jpg)

I think I still like putting the save button at the top better, but the "floating" button might work.

[2021-07-13 16:39] ItsiW commented on #1626
Hey everyone would you mind keeping these kind of design and ideation discussions to slack

[2021-07-13 17:03] aapeliv commented on #1580
I think the current behaviour is fine. I think a number of users would also prefer the current behaviour (being able to save as you go), and this is a lot of dev effort for something only very few users will see anyway.

We can revisit this once we are bigger and start having the time to polish off community builder/admin functionality.

[2021-07-13 17:03] #1580 closed, assigned to nobody

[2021-07-13 17:06] aapeliv commented on #1628
It's important to have the word "map" and "search" both in the same text there. I think parentheses just add clutter.

The current navbar requires a lot of other work, including the search bar, etc. We will have to work on it later when the omnisearch is built out.

[2021-07-13 17:06] #1628 closed, assigned to nobody

[2021-07-13 17:07] aapeliv commented on #1555
Can't reproduce.

[2021-07-13 17:07] #1555 closed, assigned to nobody

[2021-07-13 17:07] aapeliv commented on #1526
Don't think there's anything we can do about this at the moment, feel free to reopen @lucaslcode

[2021-07-13 17:07] #1526 closed, assigned to nobody

[2021-07-13 17:09] aapeliv commented on #1515
We should add them with made up codes.

No, it's desigend to be an bidirectional map so this would break the contract.

[2021-07-13 17:09] aapeliv commented on #1548
I will update the existing data once the frontend code is done and merged so that there's no more old stuff being added.

[2021-07-13 17:10] aapeliv commented on #1581
Dupe of #1388

[2021-07-13 17:10] #1581 closed, assigned to nobody

[2021-07-13 17:12] aapeliv commented on #1629
It's a lot of effort to remember this, which should be done in the backend.

It's not worth it at the moment since we'll be phasing out magic links soon.

[2021-07-13 17:12] #1629 closed, assigned to nobody

[2021-07-13 17:14] aapeliv commented on #1608
This is very low priority since there's only a few communities and it's a bit of an annoying thing to impement in the backend.

[2021-07-13 17:14] aapeliv commented on #4198
This is very low priority since there's only a few communities and it's a bit of an annoying thing to impement in the backend.

[2021-07-13 17:17] aapeliv commented on #1605
@kalvdans: do you have any ideas for this? Otherwise I'll close it as unactionable and we'll catch similar ones when we deploy  staging as with this one.

[2021-07-13 17:17] #1602 closed, assigned to nobody

[2021-07-13 17:18] AllhandsNoFeet commented on #1608
@aapeliv I would argue this should have a higher priority since it's very visible. In fact, it's the first thing people see when they click on a community! Right now it looks super bare. Seems like fairly good value to make it editable too since we plan to build out communities and push them a bit more soon.

[2021-07-13 17:18] jesseallhands commented on #4198
@aapeliv I would argue this should have a higher priority since it's very visible. In fact, it's the first thing people see when they click on a community! Right now it looks super bare. Seems like fairly good value to make it editable too since we plan to build out communities and push them a bit more soon.

[2021-07-13 17:18] aapeliv commented on #1592
@AllhandsNoFeet: why'd you remove the backend label?

[2021-07-13 17:19] #1589 closed, assigned to nobody

[2021-07-13 17:19] lucaslcode commented on #1626
This is a component which appears in many places. It supports not including the place name at all (so @kerryja you can make that change if you like) but further changes should probably go through the design team keeping in mind how it will affect other parts of the app

[2021-07-13 17:23] aapeliv commented on #1608
It's low priority-effort ratio.

It's part of the community building first steps: to submit a description, and Itsi will set it when creating the community. He can also set it at any time later.

[2021-07-13 17:23] aapeliv commented on #4198
It's low priority-effort ratio.

It's part of the community building first steps: to submit a description, and Itsi will set it when creating the community. He can also set it at any time later.

[2021-07-13 17:25] jesseallhands commented on #1592
Based on this comment:

[2021-07-13 17:26] aapeliv commented on #1515
We should get this done. I'll chase up itsi

[2021-07-13 17:28] aapeliv commented on #1504
This requires some high-level design and thinking about how to build it into the platform. I'll leave it open as a reminder, but it's not actionable.

[2021-07-13 17:28] aapeliv commented on #4199
This requires some high-level design and thinking about how to build it into the platform. I'll leave it open as a reminder, but it's not actionable.

[2021-07-13 17:29] aapeliv commented on #1490
Not an issue for devs at the moment. Requires design and our normal process.

[2021-07-13 17:29] #1490 closed, assigned to nobody

[2021-07-13 17:30] aapeliv commented on #1478
Not reproducible and we always help fix local dev env issues bespoke

[2021-07-13 17:30] #1478 closed, assigned to nobody

[2021-07-13 17:33] #1452 closed, assigned to nobody

[2021-07-13 17:33] aapeliv commented on #1452
If this reoccurs, reopen.

[2021-07-13 17:37] #1372 closed, assigned to nobody

[2021-07-13 17:40] aapeliv commented on #1314
This was fixed at some point, I think

[2021-07-13 17:40] #1314 closed, assigned to nobody

[2021-07-13 17:42] aapeliv commented on #861
Current functionality is fine. Auto-saving is not universally superior, people don't always like their drafts being published.

[2021-07-13 17:42] #861 closed, assigned to nobody

[2021-07-13 17:43] aapeliv commented on #743
Done in the admin api

[2021-07-13 17:43] #743 closed, assigned to nobody

[2021-07-13 17:44] aapeliv commented on #631
The plan now as discussed over time, is to keep our current v0 with no guarantees on compatibility. Then once we've done a bunch more refactoring, we'll freeze v1 and commit to some level of protobuf-level compatibility (not reusing tags, etc).

[2021-07-13 17:44] aapeliv commented on #631
I don't think we need an issue/an issue adds anything for this

[2021-07-13 17:44] #631 closed, assigned to nobody

[2021-07-13 17:44] ShmuelTreiger commented on #861
Very strongly disagree. I hate websites that don't save your data or don't at least warn you before deleting it. Nothing worse than spending a half hour filling something out only for it to disappear.

[2021-07-13 17:46] aapeliv commented on #861
This is for auto-saving, not warning

[2021-07-13 17:48] naspitha commented on #861
Yes, but a warning before closing/refreshing a tab would help. (e.g. chrome sometimes has "Leave this page? Changes you made may not be saved")

[2021-07-13 17:49] aapeliv opened #1635 "Add warning when leaving a page with a dirty form"
Is there a way to do this easily with our react-hook-form?

[2021-07-13 17:49] aapeliv commented on #861
Opened a new issue for that https://github.com/Couchers-org/couchers/issues/1635

[2021-07-13 17:50] #1204 closed, assigned to nobody

[2021-07-13 18:08] aapeliv commented on #1388
We believe we've fixed all picture issues. Reopen if this reoccurs.

[2021-07-13 18:08] #1388 closed, assigned to lucaslcode

[2021-07-13 18:08] aapeliv commented on #1295
We believe we've fixed all picture issues. Reopen if this reoccurs.

[2021-07-13 18:08] #1295 closed, assigned to nobody

[2021-07-13 19:02] CouchersBot opened #1636 "Searching on a state doesn't work"
Subject: Searching on a state doesn't work
Description:
My profile comes up if I search for Honolulu but not if I search for the state of Hawaii.

Results:
All cities within a state should be included when searching for a state

Backend version: prod-004b36cd
Frontend version: develop-9c207b16
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_0_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Ge

[2021-07-13 19:28] CouchersBot opened #1637 "3 states named hawaii"
Subject: 3 states named hawaii
Description:
Filtering for location "Hawaii"

Results:
brought back 3 identical options in the drop down - "Hawaii, United States."

Unclear whether these return the same results when selected.

Need just one option to select rather than trying them all

Backend version: prod-004b36cd
Frontend version: develop-9c207b16
User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 1

[2021-07-13 21:04] kalvdans commented on #1605
Strange, the migration test should compare all defined types as well. Leave the bug open until I have had a chance to look closer.

[2021-07-13 21:28] lucaslcode commented on #1635
[Yes](https://react-hook-form.com/v6/api#formState)
[code]
@kerryja helpful for your issue

[2021-07-13 21:31] lucaslcode commented on #1636
part of Couchers-org/couchers#4208

[2021-07-13 21:31] #1636 closed, assigned to nobody

[2021-07-13 21:31] lucaslcode commented on #1637
This is beyond our control for the moment (geolocation is from OSM)

[2021-07-13 21:31] #1637 closed, assigned to nobody

[2021-07-13 22:21] CouchersBot opened #1638 "Search filter dialog doesn't keep filters when re-opening"
Subject: No (intuitive) way to clear search filters?
Description:
I applied a filter on the map search (Last active: 1 week) and it worked as expected. But when looking to clear that filter afterwards and show all users, I couldn't find a way to do so. If that's not already in the plan, can a button of "Clear all search filters" (or, better, clear search filter for each search field) be added?

Re

[2021-07-13 22:27] naspitha commented on #1638
A small clarification, because this seems to indeed be a bug. The problem I mentioned above occurs if I try to clear the filter without leaving the page. In that case, the page URL is "https://app.couchers.org/search?lastActive=7"

However, if I refresh the page, the URL changes to "https://app.couchers.org/search?lastActive=7#loc=1/0/0" and then the Clear Search Filter option exists!

Before leav

[2021-07-13 23:03] lucaslcode commented on #1638
Seems the dialog resets to whatever was there on the first load every time it closes.

[2021-07-13 23:48] darrenvong commented on #1611
Seems like the longer term solution would be to break up the form and make each section editable like in the design rather than hacking a button near the top. So the warning could be a good stopgap solution to reduce the confusion for now? Considering all other forms have the button near the bottom, it seems inconsistent and a little out of place to me to suddenly have this appearing next to the t

[2021-07-13 23:57] jesseallhands commented on #1611
Sounds like a good compromise to me!

[2021-07-14 00:09] kerrylaval commented on #1635
@lucaslcode @Couchers-org/frontend I started on this by using the `formState` to check `isDirty`. It is working as expected initially when the form loads and is returning false. However, it then starts returning true without me changing anything. It looks like it is because all of the form fields need to have defaultValues set in `useForm`. Right now there are only 4 default values defined. I see

[2021-07-14 00:11] kerrylaval commented on #1611
looking into warning message/dirty form here #1635

[2021-07-14 06:27] aapeliv commented on #1635
Could we somehow include this automatically for all forms? Are there cases of forms where we'd not like this feature?

[2021-07-14 06:33] aapeliv commented on #1605
I can't remember how this happened, but I think this was caught locally and caused me to fix it in an earlier migration for that same PR that introduced this (https://github.com/Couchers-org/couchers/pull/1324). I remember spending a few moments on it when I initially created the migration at https://github.com/Couchers-org/couchers/pull/1324/commits/e974b8adcf5ed755226733456b84673c7ef153a9

[2021-07-14 17:44] CouchersBot opened #1642 "Unwarrented advisory that I should complete my profile"
Subject: Unwarrented advisory that I should complete my profile
Description:
I don't know! Every time when I log in or look at the dashboard, that page tells me that I should complete my profile: fill in "Who I am" and upload a picture.

I already did that, even twice. And others can see my picture on the profile.

Results:
This kind of unwarranted advisories is annoying.

I want to recruit some p

[2021-07-14 19:36] lucaslcode commented on #1642
This user only has 7 characters in "about me" and I think it doesn't meet the threshold to get rid of the warning. Do we need that limit @aapeliv?

[2021-07-14 20:00] #1548 closed, assigned to kerrylaval

[2021-07-14 21:00] lucaslcode opened #1644 "Host Requests/Chat refactor megaissue"
These will be refactored. At the same time, these issues should be solved:

- [ ] #1481
- [ ] #1449
- [ ] #1379
- [ ] #1183
- [ ] #1087
- [ ] #937

[2021-07-14 21:00] lucaslcode opened #4196 "Host Requests/Chat megaissue"
~~These will be refactored.~~ (postponed) At the same time, these issues should be solved:

- [x] Couchers-org/couchers#1481
- [ ] Couchers-org/couchers#1449
- [ ] Couchers-org/couchers#1376
- [ ] Couchers-org/couchers#1183
- [ ] Couchers-org/couchers#1087
- [ ] Couchers-org/couchers#937
- [ ] Couchers-org/couchers#1652
- [x] Couchers-org/couchers#1675

[2021-07-14 21:01] lucaslcode commented on #1481
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] #1481 closed, assigned to tsuruby

[2021-07-14 21:01] lucaslcode commented on #1449
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] #1449 closed, assigned to lucaslcode

[2021-07-14 21:01] lucaslcode commented on #1376
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] lucaslcode commented on #1183
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] #1183 closed, assigned to lucaslcode

[2021-07-14 21:01] lucaslcode commented on #1087
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] #1087 closed, assigned to lucaslcode

[2021-07-14 21:01] lucaslcode commented on #937
Moved to Couchers-org/couchers#4196

[2021-07-14 21:01] #937 closed, assigned to lucaslcode

[2021-07-15 10:18] aapeliv commented on #1642
I think the current rule is fine, I'd say their is complete? Maybe we just need an explanation of what the rule is (pic + "a few sentences in about me" or similar).

I know the current dashboard banners are a bit annoying. Sam brought it up too with the password banner.

I don't know if we need to spend time on it now though.

[2021-07-15 13:38] #1642 closed, assigned to nobody

[2021-07-15 13:48] aapeliv commented on #1147
Hi @Neilblaze, how're you doing on this? This is relatively high priority

[2021-07-15 15:29] Neilblaze commented on #1147
Apologies for the delay. I'm facing few errors in my local. The backend is running fine, but I'm getting few issues while doing `yarn start`. This is the log that I'm getting,

[code]

Any ideas on how to resolve this?

[2021-07-15 16:55] CouchersBot opened #1649 "Map search for countries/states/provinces[...]"
Subject: Map search for countries/states/provinces[...]
Description:
When I chose a location filter other than a city while searching for users, the list always comes back blank.
For example, British Columbia seems to have 18 pins on the map in total. But if I open the filters and select British Columbia from the list, no users are found at all. If I select Vancouver from that list, it is 13.

Res

[2021-07-16 17:02] jesseallhands opened #1650 "Reporting a profile does not send a report to support"
On desktop, I reported 2 different accounts via the report button on each of the 2 profile pages. Both times I got the notification snackbar saying the report was successfully sent, but no email was received by safety@couchers.org from notify@couchers.org

I confirmed that this was not an otobo issue because I was able to email safety@couchers.org from my personal Gmail account and that email went

[2021-07-16 20:19] aapeliv commented on #1650
Caught up in spam filter. Solved.

[2021-07-16 20:19] #1650 closed, assigned to nobody

[2021-07-18 01:50] jesseallhands opened #1651 "OTOBO needs to be updated to latest version"
Our support / ticket management software, OTOBO needs to be updated to the latest version. Not super urgent, but something that should be taken care of in the near future.

https://otobo.de/en/release-note-otobo-10-0-11/

[2021-07-18 07:20] aapeliv commented on #1651
Sorry, this doesn't belong in this issue tracker!

[2021-07-18 07:20] #1651 closed, assigned to nobody

[2021-07-18 07:23] CouchersBot opened #1652 "Visiting random or invalid chat URL still displays useable message input box"
Subject: Visiting random or invalid chat URL still displays useable message input box
Description:
1. Visited a message thread by clicking on the a chat on the messaging page
2. Changed the number at the end of the url to "150" so that the URL reads:
https://app.couchers.org/messages/chats/150
3. I see "Error" at the top of the page along with a warning  that says "Couldn't find that chat" at the

[2021-07-18 07:23] jesseallhands commented on #1652
![image](https://user-images.githubusercontent.com/79384268/126059229-1986f9a8-4fb8-4c80-abef-276b6d330e0a.png)

[2021-07-18 08:08] #893 closed, assigned to nobody

[2021-07-18 09:08] aapeliv commented on #1652
It says error and has a big red box saying the chat couldn't be found?

[2021-07-18 09:14] aapeliv opened #1653 "create_engine is not being passed in future=True"
Line 46 in db.py. Is there a reason for this or just missed it @ShmuelTreiger?

[2021-07-18 09:18] lucaslcode commented on #1652
It still shouldn't have the message box. Will track in Couchers-org/couchers#4196

[2021-07-18 09:18] #1652 closed, assigned to nobody

[2021-07-18 09:19] aapeliv commented on #1649
Tracked in Couchers-org/couchers#4208 (dupe of Couchers-org/couchers#1409)

[2021-07-18 09:19] #1649 closed, assigned to nobody

[2021-07-18 15:08] ShmuelTreiger commented on #1653
Nope, that's a bug. Probably got lost in a merge or something. I can add it today and make sure it doesn't raise any errors

[2021-07-18 17:16] aapeliv commented on #1653
Thanks!

[2021-07-18 19:16] #1653 closed, assigned to ShmuelTreiger

[2021-07-18 21:11] #1625 closed, assigned to lucaslcode

[2021-07-18 21:35] aapeliv opened #1656 "Fix frontend tests"

[2021-07-18 21:57] aapeliv opened #1657 "Signup form lowercasing"
Right now it doesn't accept mixed-case when it requires lowercase. E.g. typing in `Aapeli28` (as one does automatically on iPhone), it's not accepted.

This should lowercase as one is typing.

[2021-07-18 22:17] aapeliv opened #1658 "When an RPC is nonexistent, the error is cryptic"
The error message is `Error in service handler`. Backend log:

[code]

[2021-07-19 00:34] CouchersBot opened #1663 "Discussion reply text outside boundaries on mobile"
Subject: Discussion reply text outside boundaries on mobile
Description:
Went to page

Results:
On one card, some of the text is hidden outside the card boundary instead of starting a new line

Backend version: develop-fd12be58
Frontend version: develop-fd12be58
User Agent: Mozilla/5.0 (Linux; Android 11) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/91.0.4472.120 Mobile DuckDuckGo/5 S

[2021-07-19 00:36] ItsiW commented on #1663
![Screenshot_20210719-103128_DuckDuckGo.jpg](https://user-images.githubusercontent.com/39325627/126087394-2b787ab9-e5ce-47de-85b3-3aec5a8b2264.jpg)

[2021-07-19 07:55] aapeliv opened #1664 "In invoices table, stripe_payment_intent_id needs to be unique"
In case webhooks are delivered multiple times

[2021-07-19 19:31] lucaslcode commented on #1656
" a4a7463564336db35c4a0f4ea597ab499fe42064 is the first bad commit"

[2021-07-19 19:31] aapeliv commented on #1656
Oop... It is my fault :S

[2021-07-19 19:45] lucaslcode commented on #1656
Didn't mean to close

[2021-07-19 19:54] lucaslcode commented on #1656
I have narrowed it down to the implementation of `toggleCheckbox` (pasted below). There's nothing obviously wrong with it, but I'll refactor it to be more idiosyncratic.

[code]

[2021-07-19 21:10] lucaslcode commented on #1656
Checkboxes cause it to be flakey, don't know why
https://github.com/react-hook-form/react-hook-form/issues/532#issuecomment-791793977

[2021-07-20 01:29] darrenvong commented on #1657
Are usernames case sensitive on the backend?

[2021-07-20 07:25] aapeliv opened #1671 "Add link to write reference in emails when other person writes a reference"
When a host or surfer writes a reference, the other party gets an email. If that other party hasn't yet written a reference, we should include a direct link to write one.

[2021-07-20 08:40] aapeliv opened #1673 "Reimplement contributor form & emails"
* Need to reimplement a contributor form that can be filled out after signup
* We used to have a lambda handler that would send an email to open a ticket when a user filled in the contributor form. Need to reimplement those too.
* Import past forms (that can be matched to a user)

@ItsiW: when do you want signup emails? Always? Only when they fill in some of the feedback? Only when they say they'd

[2021-07-20 08:50] ItsiW commented on #1673
For now, always. Then we can decide once we've sifted through some

[2021-07-20 08:54] aapeliv commented on #1673
Even when they fill none of the feedback form? What info do you want sent in that case?

[2021-07-20 10:35] ItsiW commented on #1673
If they fill nothing then no. But I guess if they still say they want to contribute then send it through and we can google them

[2021-07-20 13:51] aapeliv commented on #1657
Yes, the frontend should lowercase them. Non-lowercase characters are not supported for usernames.

[2021-07-20 19:14] dommers-ux opened #1674 "Align Form Buttons to Left"
The majority of action buttons (e.g. Next, Submit, etc) are aligned in the middle. They should be aligned left to match the preceding text. Here are some examples of them aligned in the middle -

<img width="640" alt="Screen Shot 2021-07-20 at 1 10 18 PM" src="https://user-images.githubusercontent.com/83376913/126382126-66f68689-bc43-438f-b460-6d9c430e3639.png">

-------------------------

<img wi

[2021-07-20 19:14] dommers-ux opened #4195 "Align Form Buttons to Left"
The majority of action buttons (e.g. Next, Submit, etc) are aligned in the middle. They should be aligned left to match the preceding text. Here are some examples of them aligned in the middle -

<img width="640" alt="Screen Shot 2021-07-20 at 1 10 18 PM" src="https://user-images.githubusercontent.com/83376913/126382126-66f68689-bc43-438f-b460-6d9c430e3639.png">

-------------------------

<img wi

[2021-07-20 23:56] CouchersBot opened #1675 "expired host request messages never marked as read"
Subject: expired host request messages showing as new
Description:
Nothing.  I logged in days after I received a message requesting me as a host, and the message shows as new but I cannot "reject" the request because it is in the past.  I also cannot delete it.

Results:
I would like to delete old outdated requests from my inbox instead of seeing the "new messages" green bubble notification.  When

[2021-07-21 01:56] CouchersBot opened #1676 "Search pagination causes users to disappear from map"
Subject: Hosting status filters removes everyone
Description:
- Was looking at an area with a handful of "may host" people (Oslo, Norway).
- Turned on May host and Can host filters
- Everyone on the map disappeared
- Removed the filter, everyone reappeared
- Turned on just May host filter, everyone disappeared again
- Clicked the X to turn off filter, no one reappeared, the map is still empty on t

[2021-07-21 17:29] CouchersBot opened #1678 "References"
Subject: References
Description:
I did not anything! I swear!

Results:
I stayed with a person (send a request, he said "yes" and I confirmed it), but now I can't write a reference. There is no any button for it and I received nothing in the email.

Backend version: develop-fd12be58
Frontend version: develop-fd12be58
User Agent: Mozilla/5.0 (Linux; Android 7.1.2; Redmi 4X) AppleWebKit/537.36 (KHTM

[2021-07-21 18:59] lucaslcode commented on #1678
This will be either wrong timing (reference can be left the day after the request ends or something) or they can't find the button which is on the host requests page. So referring this to @AllhandsNoFeet and closing

[2021-07-21 18:59] #1678 closed, assigned to nobody

[2021-07-21 19:17] jesseallhands commented on #1678
@lucaslcode can you email support@couchers.org, include a hyperlink to the issue, and use "user help needed" as the subject line? I'll reach out to the user then. Feel free to do this whenever you or anyone on the dev team gets a bug report that is actually a user error or someone who appears confused. Thanks!

[2021-07-21 19:52] #1675 closed, assigned to nobody

[2021-07-21 19:52] lucaslcode commented on #1675
Moved to Couchers-org/couchers#4196

[2021-07-21 19:57] lucaslcode commented on #1676
This is because of paging. When there are no filters, every user is displayed. Once there is a filter, results are paginated, so it doesn't show the oslo users.
Fixing this needs implementing of result tiling or whatever you call it. Alternatively, including the full result set as geojson - but this would end up a bit hacky (what do you do if a user is clicked who is not in the loaded results?)

[2021-07-21 20:00] lucaslcode commented on #1676
@aapeliv

[2021-07-21 20:09] confused-cabbage commented on #1349
Hey! Has anyone tackled this issue yet? I'd be happy to give it a shot.

[2021-07-21 20:46] lucaslcode commented on #1349
Go nuts, let me know if you need anything!

[2021-07-21 21:12] aapeliv commented on #1676
This requires quite a bit of re-design of the search and map layers, etc, etc.

[2021-07-21 21:20] aapeliv opened #1681 "Python client API key"

[2021-07-21 21:21] aapeliv opened #1682 "Get Community Guidelines text + logos from backend"

[2021-07-21 21:28] #1606 closed, assigned to nobody

[2021-07-22 13:02] #1681 closed, assigned to aapeliv

[2021-07-22 13:02] #1658 closed, assigned to nobody

[2021-07-22 18:10] ghost commented on #1671
I would be willing to investigate this!

[2021-07-22 18:13] CouchersBot opened #1688 "Create chat"
Subject: Create chat
Description:
create a new chat
enter the chat
press "browser-back"

Results:
the "create-chat" cart/window is shown again. Even if the chat is already created.

Backend version: develop-c0ed8dcd
Frontend version: develop-c0ed8dcd
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
Page: https://app.couchers.org/messages/chats
User: no

[2021-07-22 18:54] aapeliv commented on #1671
Awesome! Give it a shot, and if you need any help, write here or feel free to email me at "aapeli" at our domain.

[2021-07-22 19:17] lucaslcode commented on #1688
Dupe #1077

[2021-07-22 19:17] #1688 closed, assigned to nobody

[2021-07-22 20:02] confused-cabbage commented on #1349
I did my best to try to style it according to your conventions. I was unable to get the system to run well on my computer, but cleaned it. Certain tests did not run, but I think this was related to my machine configurations, and not to any code that I wrote. eslint passed w/o errors

[2021-07-22 20:02] aapeliv opened #1690 "Footer"

[2021-07-22 20:30] kalvdans commented on #1664
Link to stripe bug report?

[2021-07-22 20:54] #1664 closed, assigned to nobody

[2021-07-22 20:55] aapeliv commented on #1664
I think their API contract does not stipulate that events are delivered only once; I think we're supposed to handle duplicates.

[2021-07-22 21:57] forteller commented on #1676
I would recommend removing the filters as long as they just show the wrong result, so people won't think there's no one available when there is. Add it back when the bug is fixed :)

[2021-07-22 22:01] lucaslcode commented on #1676
Filters are too important to just remove them. One thing we could do is require a location in order to use filters - that should prevent this bug from appearing until we get a few more thousand users at least!

[2021-07-22 22:05] forteller commented on #1676
I meant just removing the filters that doesn't work. Filters that doesn't work aren't important, they're just noise :) Unless I misunderstood something the hosting status filter seems to not work.

[2021-07-22 22:35] lucaslcode commented on #1676
It works, the results are just hidden behind other pages which you can load by scrolling down the list of results (obviously this behaviour is a bug)

[2021-07-22 23:01] CamArturo commented on #1568
@aapeliv @AllhandsNoFeet Can one of yall send me a friends request so that I can play with this? and Hi!

[2021-07-22 23:33] lucaslcode commented on #1568
@CamArturo you can use the staging server and make yourself some test accounts: next dot couchershq org

[2021-07-23 06:15] CouchersBot opened #1694 "Image upload issues"
Subject: cannot upload profile image
Description:
tried to upload a profile imagie

Results:
got server error

Backend version: develop-6ae99b34
Frontend version: develop-6ae99b34
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36
Page: https://app.couchers.org/profile/edit
User: eoel (2115)

[2021-07-23 07:32] aapeliv commented on #1694
Ugh. Media server indeed returned a HTTP 400 twice. No useful info in logs.

[2021-07-23 10:30] aapeliv commented on #888
Frontend doesn't have omnisearch yet, so reducing priority.

[2021-07-23 10:37] aapeliv commented on #643
Holy cow. I'm so frustrated... 🤦‍♂️ 🤦‍♂️

It seems the solution is as simple as adding `pool_pre_ping=True` to `create_engine`. It's literally the first search result: https://stackoverflow.com/a/60614871. Doing a PR in a minute.

[2021-07-23 10:43] aapeliv commented on #895
We've implemented the critical stuff in the admin API. The rest of the moderation features require a lot more design and planning through the other teams, so I'm closing this for now and we'll open smaller issues when we have that sorted out.

[2021-07-23 10:43] #895 closed, assigned to ItsiW

[2021-07-23 10:54] #643 closed, assigned to nobody

[2021-07-23 12:41] aapeliv opened #1697 "Pin backend requirements and set up dependabot"

[2021-07-23 18:16] ghost commented on #1671
I have the environment set up now, what are the files of focus for this issue? (I am thinking the fix is in references.py but I am unsure and would like clarity)

[2021-07-23 18:38] aapeliv commented on #1671
Hey!

You'll need to inject the URL into the template in `//app/backend/src/couchers/tasks.py`. For that, have a look at `send_reference_reminder_email` in that same file. I think the function you should edit is `send_host_reference_email`. Look around for where that function is called, it seems to be a bit poorly documented (feel free to add more comments!).

Then you'll want to update the templa

[2021-07-23 20:04] #1682 closed, assigned to aapeliv

[2021-07-23 20:07] #1568 closed, assigned to nobody

[2021-07-23 20:24] #1590 closed, assigned to lucaslcode

[2021-07-23 21:22] ShmuelTreiger commented on #1515
@aapeliv @ItsiW The list itsi gave me removes some languages we currently support. Should I add in all current languages for backward compatibility, or should I create a script to delete all now-invalid entries?

https://docs.google.com/spreadsheets/d/1QtNlZoLa0KR6t75SUNBGpyl3TgP41osvy3xFmzIxIh4/edit?usp=sharing

[2021-07-23 22:40] kalvdans commented on #1515
I'm pretty sure I commented on this exact thing when the first list was made; and then it was decided that we should never drop languages, only add. I'll see if I can find that comment.

[EDIT] Found @aapeliv :s comment at https://github.com/Couchers-org/couchers/issues/409#issuecomment-761310738

[2021-07-24 04:50] CouchersBot opened #1705 "I can not upload profile photo"
Subject: I can not upload profile photo
Description:
I was trying to upload a profile picture

Results:
I can not upload profile photo

Backend version: develop-7e352576
Frontend version: develop-7e352576
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36
Page: https://app.couchers.org/profile/edit
User: ivantravel (2695)

[2021-07-24 11:08] aapeliv commented on #1705
Dupe of #1694?

[2021-07-24 11:08] #1705 closed, assigned to nobody

[2021-07-24 17:36] harshadbhere commented on #1471
Can I have a look at this issue? I am willing to resolve it.

[2021-07-24 18:52] aapeliv commented on #1471
Hi @harshadbhere: @sadikekin already has a PR open for this https://github.com/Couchers-org/couchers/pull/1485

[2021-07-24 18:54] harshadbhere commented on #1471
@aapeliv ok

[2021-07-24 18:58] aapeliv commented on #1471
Is there another issue you'd like to pick up or would you like me to pick one for you to get started?

[2021-07-24 19:06] harshadbhere commented on #1471
@aapeliv anything is fine for me

[2021-07-24 19:49] aapeliv commented on #1608
@harshadbhere: how about this one?

[2021-07-24 19:49] aapeliv commented on #4198
@harshadbhere: how about this one?

[2021-07-25 07:55] #1566 closed, assigned to aapeliv

[2021-07-25 08:17] aapeliv opened #1706 "Combining signup/login pages"
The current index page of the app is superfluous. We should get rid of it and instead have the signup form on https://app.couchers.org, with an "already have an account?" text that links to log in.

I'll ask the design team to do a minimal redesign with just changes to copy and placement of existing bits.

[2021-07-25 12:08] harshadbhere commented on #1608
@aapeliv I will try to stick with backend as I am not versed with frontend.

[2021-07-25 12:08] harshadbhere commented on #4198
@aapeliv I will try to stick with backend as I am not versed with frontend.

[2021-07-25 12:10] aapeliv commented on #1608
This requires adding a backend API call to edit the description. I was intending for you to only do that bit and we’ll get a fronted dev to do the rest!

[2021-07-25 12:10] aapeliv commented on #4198
This requires adding a backend API call to edit the description. I was intending for you to only do that bit and we’ll get a fronted dev to do the rest!

[2021-07-25 15:44] #1656 closed, assigned to nobody

[2021-07-25 16:32] CouchersBot opened #1708 "text wrap breaks words"
Subject: text wrap breaks words
Description:
look at my profile

Results:
text is wrapped breaking words at any character.

text should be wrapped without splitting words?

Backend version: develop-f191b66f
Frontend version: develop-f191b66f
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
Page: https://app.couchers.org/user/nolo
User: nolo (14)

[2021-07-25 17:16] lucaslcode commented on #1708
Recently there was added `word-break: break-all` but on further investigation, we should use `overflow-wrap: break-word`

[2021-07-25 17:24] harshadbhere commented on #1608
Ok then, I will try it!

[2021-07-25 17:24] harshadbhere commented on #4198
Ok then, I will try it!

[2021-07-25 17:48] aapeliv opened #1710 "ListEvents should return events within the community"
Not only those owned by the community

[2021-07-25 17:52] lucaslcode commented on #1576
Hi @openscript, how is this going?

[2021-07-25 18:08] #1673 closed, assigned to aapeliv

[2021-07-25 18:18] aapeliv opened #1711 "Add prefix to email subject in dev/next"
Get it from an environment variable, so the next emails have a prefix like `[NEXT] Finish signing up for Couchers.org`

[2021-07-25 19:39] aapeliv opened #1713 "Jail page keeps reloading"
Reported and recorded by Lukas: https://1drv.ms/v/s!Ajo4-4qFAquUgagRP3RS4uwakiBh5Q?e=BidB2W

[2021-07-25 20:04] openscript commented on #1577
@ShmuelTreiger Yes

[2021-07-25 20:04] openscript commented on #1576
Hi Lucas
Recently I didn't have much time to work on this, but I will get on it this week.

[2021-07-25 20:17] #1708 closed, assigned to nobody

[2021-07-25 20:17] #1476 closed, assigned to darrenvong

[2021-07-25 20:17] #1663 closed, assigned to darrenvong

[2021-07-25 20:18] aapeliv opened #1714 "Comprehensive email testing"
We've had a few bugs slip through which cause serious issues in prod. It would be good to test emails comprehensively: test all of them, and test all parts in them. We should probably build a bit of infrastructure around it to help do this easily.

Maybe we should just verify that all emails match to a pre-rendered version?

Might instead be good to wait until we get the new email templates, etc.

[2021-07-25 20:59] openscript commented on #1714
We usually use https://mailcatcher.me/ for this. At one hand it has a nice simple ui, at the other hand you can fetch the emails via a simple rest API.

[2021-07-25 21:10] lucaslcode commented on #1713
This is easy to fix, change the route type to the one without navigation. It happens because the navigation makes a query every 5 seconds for notification badges, but it gets an UNAUTHORIZED response so redirects to jail.

[2021-07-25 21:23] lucaslcode opened #1715 "Logo should link to the dashboard"

[2021-07-25 22:29] jesseallhands opened #1716 "Text wrap on profiles is not working properly"
The current  text wrapping on profiles results in words getting cut off and makes it very difficult to read the profile. See screenshot below:

![image](https://user-images.githubusercontent.com/79384268/126915347-323880f0-d88b-460c-a3e1-d7071ad89108.png)

Words should not be cut off like that at the end of a line.

[2021-07-25 22:59] dommers-ux commented on #1690
Current Draft -

<img width="480" alt="Screen Shot 2021-07-25 at 4 59 07 PM" src="https://user-images.githubusercontent.com/83376913/126916058-c7cb1248-443b-4549-8a90-a6e2501fee62.png">

[2021-07-25 23:06] lucaslcode commented on #1716
This is fixed on next

[2021-07-25 23:13] dommers-ux opened #1717 "References Slider - Highlight Rating w/ Corresponding Color"
The current references slider works by highlighting _previously_ rated ratings and de-emphasizing the currently standing rating. For example, the screenshot below shows the Negative rating highlighted in darker text, even though the point _stands at_ Neutral.
<img width="1006" alt="Screen Shot 2021-07-25 at 5 03 20 PM" src="https://user-images.githubusercontent.com/83376913/126916208-28c0159e-6229

[2021-07-25 23:13] dommers-ux opened #4194 "References Slider - Highlight Rating w/ Corresponding Color"
The current references slider works by highlighting _previously_ rated ratings and de-emphasizing the currently standing rating. For example, the screenshot below shows the Negative rating highlighted in darker text, even though the point _stands at_ Neutral.
<img width="1006" alt="Screen Shot 2021-07-25 at 5 03 20 PM" src="https://user-images.githubusercontent.com/83376913/126916208-28c0159e-6229

[2021-07-25 23:14] dommers-ux commented on #1717
In addition, the rating scale should be colored as neutral (light grey - rgba(196, 196, 196, 0.3)).

[2021-07-25 23:14] dommers-ux commented on #4194
In addition, the rating slider should be default colored as neutral (light grey - rgba(196, 196, 196, 0.3)).

[2021-07-25 23:15] lucaslcode commented on #1716
Actually it is supposed to be fixed but still seems dodgy for me

[2021-07-25 23:17] lucaslcode commented on #1716
Nevermind

[2021-07-25 23:17] #1716 closed, assigned to nobody

[2021-07-25 23:20] dommers-ux commented on #1591
here's an example of the app.couchers.org landing dashboard

<img width="633" alt="Screen Shot 2021-07-25 at 5 20 11 PM" src="https://user-images.githubusercontent.com/83376913/126916575-2abb2dc3-ed89-4ce1-be60-00d7ad8a3731.png">

[2021-07-26 00:16] dommers-ux opened #1718 "Add Skip on Contributor Form on Sign Up"
We should add a **skip** option on the contributor / feedback form on the sign up flow.

It currently looks like this -
<img width="529" alt="Screen Shot 2021-07-25 at 6 11 58 PM" src="https://user-images.githubusercontent.com/83376913/126918064-c3f644cb-4c07-48b3-9afe-9da5636545e5.png">

It is important for users to finish the sign up process as fast as possible. The more steps required --> the h

[2021-07-26 00:40] dommers-ux commented on #1627
design idea to spark more ideas

a **Delete Account** section at the bottom of account settings
<img width="313" alt="Screen Shot 2021-07-25 at 6 39 43 PM" src="https://user-images.githubusercontent.com/83376913/126918995-ddb96883-5446-40ab-ab09-ae324b6ef0fa.png">

followed by a modal pop up
<img width="387" alt="Screen Shot 2021-07-25 at 6 39 57 PM" src="https://user-images.githubusercontent.com/

[2021-07-26 01:08] dommers-ux commented on #1627
followed by
<img width="484" alt="Screen Shot 2021-07-25 at 7 07 47 PM" src="https://user-images.githubusercontent.com/83376913/126920173-908e0a87-a8fa-47e8-8910-b5469b8cd37e.png">

[2021-07-26 09:25] lucaslcode commented on #1627
Please keep GitHub issues for bugs and features which are requested/ready for devs to implement. I have added the "awaiting design" label for now and when we have a finalized design let's remove it and add a link to a finalized mock-up.

[2021-07-26 10:41] aapeliv commented on #1627
Also have a look at what the procedure will be, as discussed in last backend meeting:

https://github.com/Couchers-org/couchers/blob/develop/docs/meetings/backend/Meeting%20028.md

[2021-07-26 15:44] confused-cabbage commented on #1718
Hey! I'd be willing to take this issue on!

[2021-07-26 17:18] #741 closed, assigned to nobody

[2021-07-26 20:40] confused-cabbage opened #1728 "Signup page considers emails with periods in the username as invalid."
The signup page will not let you create accounts using emails with periods in the name.
Here is an example of me trying to enter in an email (granted, it's not my real email address) with a period in it. If you remove the period, the registration process can successfully go to the next stage.
![invalid email](https://user-images.githubusercontent.com/65237366/127055979-0ea2d9d0-fed3-442b-b1f4-9f08

[2021-07-26 20:50] lucaslcode commented on #1728
Actually it seems to be the capital letters. The error message should be better, or it should automatically lower-case

[2021-07-26 21:03] confused-cabbage commented on #1728
Would this be a change to the regex expression in frontend/src/utils/validation.ts ?
`// taken from backend
export const nameValidationPattern = /\S+/;
export const usernameValidationPattern = /^[a-z][0-9a-z_]*[a-z0-9]$/;
export const emailValidationPattern =
  /^[0-9a-z][0-9a-z\-_+.]*@([0-9a-z-]+\.)*[0-9a-z-]+\.[a-z]{2,}$/;`

Or part of the textfield in frontend/src/features/auth/signup/BasicForm

[2021-07-26 22:21] CouchersBot opened #1729 "Cannot login after adding the site to Home Screen on ios"
Subject: Cannot login after adding the site to Home Screen on ios
Description:
Added app.vouchers.org to Home Screen. The I wanted to login to the app.
You receive an email with the link but afaik there is no way to open the link in the app.

Results:
Maybe give an option to paste the link to login or some code.

Backend version: develop-ffa79296
Frontend version: develop-ffa79296
User Agent: Mozi

[2021-07-26 22:31] lucaslcode commented on #1728
Fixed in #1709

[2021-07-26 23:12] #1657 closed, assigned to nobody

[2021-07-26 23:12] #1728 closed, assigned to nobody

[2021-07-27 01:03] jesseallhands opened #1730 "Long display name on profile overflows container"
![image](https://user-images.githubusercontent.com/79384268/127077809-020efbdd-97b2-4663-96cb-91982cb2e510.png)

![image](https://user-images.githubusercontent.com/79384268/127078564-a405e6c2-ce6b-455b-a90e-e47145df3d02.png)

For long display names, can we scale down the font size to fit within the container bounds?

[2021-07-27 05:48] aapeliv commented on #1729
The user needs to set a password. Will be easier when we force passwords.

[2021-07-27 05:48] #1729 closed, assigned to nobody

[2021-07-27 14:24] aapeliv opened #1731 "Create an API key for testing in local dev"

[2021-07-28 01:26] jesseallhands opened #1732 "When editing communities, hyperlinks do not display on edited page"
For example, if I edit the markdown or WYSIWYG:
![image](https://user-images.githubusercontent.com/79384268/127248673-4e55e492-f9cc-495e-901f-1cd0e046e03f.png)

This is what is displayed after submitting the changes/edits:
![image](https://user-images.githubusercontent.com/79384268/127248811-02209d35-9fb6-475d-a43f-174e8aa297db.png)

As you can see, the link is not displayed. If you click on the w

[2021-07-28 08:13] lucaslcode commented on #1732
How was this link inserted? We don't support html links, it should be a markdown link. But if the editor does that for you, it is indeed a bug

[2021-07-28 14:01] CouchersBot opened #1733 "Long name hidden by boundaries"
Subject: Long name hidden by boundaries
Description:
Went to this user's profile

Results:
Parts of his name are hidden as they go beyond the text boundary. The text could be made smaller for large names (especially in this case with no spaces).

Backend version: develop-9ab23c5e
Frontend version: develop-9ab23c5e
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/

[2021-07-28 14:02] CouchersBot opened #1734 "The map doesn't work"
Subject: The map doesn't work
Description:
Well, I'm just trying to check the map and it's blank

Results:

Backend version: develop-9ab23c5e
Frontend version: develop-9ab23c5e
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36
Page: https://app.couchers.org/search#loc=1/11.9/32.7
User: phaula (1565)

[2021-07-28 19:28] aapeliv commented on #1734
I can't reproduce?

[2021-07-28 19:28] aapeliv commented on #1733
Dupe of #1730

[2021-07-28 19:28] #1733 closed, assigned to nobody

[2021-07-28 21:06] jesseallhands commented on #1732
I was using the WYSIWYG editor, but the problem seems to be fixed now!

[2021-07-28 21:06] #1732 closed, assigned to nobody

[2021-07-29 00:53] darrenvong opened #1736 "CreateEvent creates "invalid" discussion IDs"
Reproduction steps:
1. Create a new event with `CreateEvent` from the `Events` service
2. Call `GetThread` from the `Threads` service, using the `thread_id` in the resulting `Event` object

**Expected result**
A thread (for a discussion) is returned

**Actual result**
A "discussion thread not found" is thrown from the backend

**Other notes**
My suspicion is this is using the thread's auto increme

[2021-07-29 03:14] harshadbhere commented on #1608
@aapeliv is there any other way of communication like Slack? I had some queries which require your advice.

[2021-07-29 03:14] harshadbhere commented on #4198
@aapeliv is there any other way of communication like Slack? I had some queries which require your advice.

[2021-07-29 13:17] aapeliv commented on #1608
Yes; email me at "aapeli" at our domain and we can set up a time to meet and get you on slack!

[2021-07-29 13:17] aapeliv commented on #4198
Yes; email me at "aapeli" at our domain and we can set up a time to meet and get you on slack!

[2021-07-30 08:53] aapeliv opened #1737 "Start signup on landing site"
As discussed in frontend meeting.

[2021-07-30 08:54] aapeliv commented on #1734
Has been working fine for me. Maybe a temporary network error or similar as the map doesn't retry automatically.

[2021-07-30 08:54] #1734 closed, assigned to nobody

[2021-07-30 12:46] CouchersBot opened #1738 "Feature Request : Send message to user without Stay Request"
Subject: Feature Request : Send message to user without Stay Request
Description:
I will be travelling somewhere for work, I would like to meet some local people during my free time. When being on their profile, I can only « Request » (a stay) while I just want to ask if they want to meet up.

Results:
I would have expect one or the other:
- Their is a button to message the person without asking f

[2021-07-30 13:25] CouchersBot opened #1739 "Cannot open any messages on mobile site"
Subject: Cannot open any messages on mobile site
Description:
Whenever I try to open any hosting message on the mobile site, I get this error:

"Ooops... that's an unknown error
Please use the 'Report a problem' button and tell us what you were doing to help us prevent this error in the future."

I haven't been able to try on a desktop computer yet, but I have tried resetting all cookies/cache, wh

[2021-07-30 13:48] aapeliv commented on #1738
Handled in #1563

[2021-07-30 13:48] #1738 closed, assigned to nobody

[2021-07-30 13:55] Vinalti commented on #4207
That's pretty calm here. Did anyone work on this issue ? here is a test file I forged (anonymized)
When downloaded it is in a zip file.  For the sake of rapidity I removed some useless data to import (we cannot anyway trust the references, etc.  as the user can modify that file by itself)

[2001234567-202107280643.zip](https://github.com/Couchers-org/couchers/files/6907945/2001234567-202107280643.

[2021-07-30 13:55] aapeliv commented on #1739
I've checked the traces; no failed calls for this user in the past 48 hours. I'm at a loss here on what could be going wrong. It might just be a caching thing, but the frontend version reported here is the latest.

[2021-07-31 19:29] #1710 closed, assigned to aapeliv

[2021-07-31 19:29] #1736 closed, assigned to aapeliv

[2021-07-31 19:34] #1737 closed, assigned to aapeliv

[2021-07-31 20:12] aapeliv commented on #897
This was discussed in the last frontend meeting. My current thinking after that + mulling it over a bit is this:

1. Have a global single tile that contains just the user count clusters; and display that up to zoom level ~9 (at which cities start to become visible).
2. Have a personalized (removed blocked users, etc) set of tiles, generated at about zoom level 3-5 (between 64 and 1024 tiles per us

[2021-07-31 20:27] aapeliv commented on #1676
Related to #897

[2021-07-31 21:28] lucaslcode commented on #897
And cache the zoom levels between 3 and 5? Or just always generate? Won't the former use up loads of storage?

[2021-08-01 06:04] CouchersBot opened #1746 "About page shows I'm not signed in"
Subject: About page shows I'm not signed in
Description:
Going to "About" while signed in brings me to the landing page and asking me to sign in

Results:
The page to recognize I'm still signed in

Backend version: develop-66a553ca
Frontend version: develop-66a553ca
User Agent: Mozilla/5.0 (Linux; Android 11; Pixel 5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.115 Mobile Safari/537.36

[2021-08-01 07:36] aapeliv commented on #1746
I agree, it's a bit confusing, but won't fix until we merge the landing page and app. I've spent way too much time already tweaking the landing page.

[2021-08-01 07:36] #1746 closed, assigned to nobody

[2021-08-01 19:36] #1035 closed, assigned to nobody

[2021-08-01 20:20] ShmuelTreiger opened #1750 "Alphabetization by region code instead of name"
![image](https://user-images.githubusercontent.com/14131043/127784289-8400d678-9720-4127-b607-8f79a31d0662.png)

UAE and Spain out of place

[2021-08-01 21:28] lucaslcode commented on #1085
I believe this was fixed

[2021-08-01 21:28] #1085 closed, assigned to nobody

[2021-08-02 13:12] CouchersBot opened #1758 "Can't see city name when I'm close enough to see hosts"
Subject: Can't see city name when I'm close enough to see hosts
Description:
If I'm way zoomed out I can see the names of most of the major cities (I'm looking at eastern Canada right now), but that doesn't do me any good once I'm within 3 zooms of picking out individual surfers ie when I can identify the city for sure. The map has neighborhood names but that doesn't help me when I'm not sure if i

[2021-08-02 16:09] aapeliv opened #1760 "Server Side Rendering"
Some things that we'd want to do, and why we care, in order of importance:

1. Pre-rendering a list of static pages (e.g. /about, /blog/..., etc; list known at build time), so we could do the landing site in react and burn the vue shitshow
2. Nice link previews for profiles (or TBA invitation links)
3. Incrementally adding rendering to a set of other classes of pages, e.g. events, profiles, etc. T

[2021-08-02 16:19] aapeliv commented on #897
Thinking about it, I believe mapbox caches a bunch on the frontend; so it'll take off some load (and probably the data will be stale by the time that cache is gone).

(Also, we can show a given tileset at a given zoom, even though the tileset "is for a different zoom", e.g. we can generate personalized tiles at level 5, but only show them at level 9+: that way we have to generate a lot less than t

[2021-08-02 16:20] aapeliv commented on #1758
This was reported earlier. Maybe that issue was closed. We can do this if it's easily doable with maplibre gl js. If not, then can close for now and postpone?

[2021-08-02 19:54] lucaslcode commented on #1760
I am against *real* server side rendering for a site like this, it will make server responses slow and hosting expensive.

However we can definitely do static site generation using react snapshot (or whatever the latest one is) and hydrate, which I'm assuming it does.

I'd be a bit concerned about our time to interactive since we're such a chunky site, we'd need to test it out.

[2021-08-02 19:56] lucaslcode commented on #1760
No need for that, we can use `react-helmet` (actually I was going to open an issue about that to fix our page titles, I must have forgotten)

[2021-08-02 19:58] lucaslcode commented on #1760
I'm not sure off the top of my head how to manage this statically for pages which are different when logged in without having a "flash" of the non-logged in version

[2021-08-02 19:59] lucaslcode opened #1762 "All page titles are the same"
We should use React Helmet to change the title based on the page.

[2021-08-02 20:01] aapeliv commented on #1760
That's sill on the client side javascript, right? Won't be picked up by non-JS clients.

We can just have the middleware/renderer/proxy never return any pre-rendered stuff if the `couchers-sesh` cookie is present.

[2021-08-02 20:02] lucaslcode commented on #1760
It will if we use `react-snap`!

[2021-08-02 20:04] aapeliv commented on #1760
I agree mostly. But I think once we start having content that's viewable by non-logged in users, and that we want indexed by search engines and found by other crawlers/link preview generators. In that case it would be nice to generate the page and cache it on the server side; it would probably make the site pretty snappy if we can pre-generate all of the page since it's all the same.

[2021-08-02 20:12] aapeliv commented on #1760
I think we should first start with react-helmet + react-snap (or whatever is the modern one): that ought to get us to merging the landing page with the app, also so we can move away from the `app.` domain. It sounds like that would be fairly straightforward and not add too much headaches or changes to the codebase. That should take us pretty far.

Eventually though, it would be great to get proper

[2021-08-02 20:26] darrenvong commented on #1760
`react-snap` looks like a good option for plugging the SEO gap for the time being, and likely improve performance on the first load time.

But if we were to go all the way with all four points you mentioned here, I think we'll have to re-invent the wheel a lot and fine tune things in the build process to get all of that incremental render stuff working to the point that it might just be easier to